<!--======= FOOTER =====-->
<footer>
  <div class="container footer p-5">
    <div class="row pt-5">
      <div class="col-lg-3 mb-5">
        <h5>
          <a class="f-el tm-margin-b-1 mr-auto logo logo-footer tm-color-white" href="../index.html">Dialysing<span>.com</span></a>
        </h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">Eleifend eleifend vel lobortis arcu quam mattis sodales turpis ornare at dictumst in</li>
          <li class="nav-item social mb-2">
            <img src="../user/img/socials/facebook.png" alt="" />
            <img src="../user/img/socials/instagram.png" alt="" />
            <img src="../user/img/socials/in.png" alt="" />
            <img src="../user/img/socials/twitter.png" alt="" />
          </li>
        </ul>
      </div>

      <div class="col mb-5">
        <h5>Destek</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0">Kadromuz</a></li>
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0">Kariyer</a></li>
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0">Bloglar</a></li>
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0">Güvenlik</a></li>
        </ul>
      </div>

      <div class="col mb-5">
        <h5>Hizmetler</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0">Klinik Yönetimi</a></li>
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0">Haberler</a></li>
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0">Etkinlikler</a></li>
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0">İletişim</a></li>
        </ul>
      </div>

      <div class="col mb-5">
        <h5>Güvenlik</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0">Kişisel Sözleşmeler</a></li>
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0">Gizlilik Sözleşmeler</a></li>
        </ul>
      </div>

      <div class="col-lg-3 mb-3">
        <form>
          <h5>Abonelikler</h5>
          <p class="text-white">Son gelişmelerden haberdar olmak için abone olun.</p>
          <div class="form-group bottom footer-input">
            <input name="check-in" type="text" class="form-control" id="inputCheckIn" placeholder="dialysing@demo.com.tr" />
            <img src="../user/img/icons/arrow.png" class="mt-0" alt="Icon Arrow" />
          </div>
        </form>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-3 py-4 border-top">
      <p class="text-secondary">&copy; 2021 Dialysing.com. Her hakkı saklıdır.</p>
    </div>
  </div>
</footer>
