<div class="tm-top-bar single tm-bg-background" id="tm-top-bar">
  <!-- Top Navbar -->
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg narbar-light">
        <a class="navbar-brand logo mt-2" href="/"> Dialysing<span>.com</span> </a>
        <a href="#" class="location mt-2 mx-1"><i class="bi bi-geo-alt-fill" type="button"
            class="btn btn-outline-white mx-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i> <span
            id="location"></span></a>
        <!-- Location Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body select">
                <!-- ülke -->
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <p><b>Ülkenizi Seçin</b></p>
                  </div>
                  <div class="col-md-6 col-xs-6 mb-3">
                    <select id="country" class="form-control">
                      <option value="">-- Ülke --</option>
                    </select>
                  </div>
                </div>
                <!-- end country row -->

                <!-- Şehir -->
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <p><b>Şehrinizi Seçin</b></p>
                  </div>
                  <div class="col-md-6 col-xs-6 mb-3">
                    <select id="region" class="form-control">
                      <option value="">-- İl --</option>
                    </select>
                  </div>
                </div>
                <!-- end şehir row -->

                <!-- ilçe -->
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <p><b>İlçenizi Seçin</b></p>
                  </div>
                  <div class="col-md-6 col-xs-6 mb-3">
                    <select id="city" class="form-control">
                      <option value="">-- İlçe --</option>
                    </select>
                  </div>
                </div>
                <!-- end ilçe row -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ekle</button>
              </div>
            </div>
          </div>
        </div>
        <button type="button" id="nav-toggle" class="navbar-toggler collapsed mt-2" data-toggle="collapse"
          data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="mainNav" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto mb-3">
            <li class="nav-item language-selection mt-2 mt-2">
              <img src="../user/img/flags/turkey.png" alt="Flags Turkey" />
              <div class="tm-form-element tm-form-element-2">
                <select name="language" class="form-control tm-select" id="language">
                  <option value="">Türkçe</option>
                  <option value="1">Ingilizce</option>
                  <option value="2">Almanca</option>
                </select>
              </div>
            </li>
            <li class="nav-item ms-auto name mx-3 mt-2 text-white">

              <a href="/panel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-person-fill" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                
              </a>
            </li>
            <li class="nav-item question mx-2 mt-2">
              <img src="../user/img/icons/question.png" alt="Icons Question" />
            </li>
            <li class="nav-item buttons mx-2 mt-2">
              <a href="/panel" class="nav-link btn-third">Merkezinizi Ekleyin</a>
            </li>
            <!-- <li class="nav-item buttons mx-2 mt-2 mt-2">
              <a href="/register" class="nav-link btn-second">Kayıt Ol</a>
            </li> -->
            <!-- <li class="nav-item buttons mx-2 mt-2 mt-2">
              <a href="/panel/login" class="nav-link btn-second">Giriş Yap</a>
            </li> -->
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>