<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="./index.html"> <img src="../clinic-panel/images/icons/Home.png" alt="Home Icon" /><span class="menu-title">Ana Sayfa</span></a>
    </li>
    <!--=====Center=====-->
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#center" aria-expanded="false" aria-controls="center"> <img src="../clinic-panel/images/icons/Location.png" alt="Location Icon" /><span class="menu-title">Merkeziniz</span><i class="menu-arrow"></i> </a>
      <div class="collapse" id="center">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="./upload-image.html">Fotoğraflar</a></li>
          <li class="nav-item"><a class="nav-link" href="./message-options.html">Mesajlaşma Tercihleri</a></li>
          <li class="nav-item"><a class="nav-link" href="./what-closest.html">Yakınlarda Neler Var?</a></li>
          <li class="nav-item"><a class="nav-link" href="./properties-and-services.html">Özellikler ve Servisler</a></li>
          <li class="nav-item"><a class="nav-link" href="./clinic-point.html">Merkez Puanı</a></li>
        </ul>
      </div>
    </li>
    <!--=====Opportunity Center=====-->
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#opp-center" aria-expanded="false" aria-controls="opp-center"> <img src="../clinic-panel/images/icons/Star.png" alt="Star Icon" /><span class="menu-title">Fırsat Merkezi</span><i class="menu-arrow"></i> </a>
      <div class="collapse" id="opp-center">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="/panel/visibility">Görünürlük Arttırma</a></li>
          <li class="nav-item"><a class="nav-link" href="/panel/promotions">Promosyon ve Fırsatlar</a></li>
        </ul>
      </div>
    </li>
    <!--=====Payment=====-->
    <li class="nav-item">
      <a class="nav-link" href="./payment-options.html"> <img src="../clinic-panel/images/icons/Payment.png" alt="Payment Icon" /><span class="menu-title">Ödeme Şekilleri</span> </a>
    </li>
    <!--=====Rezervations=====-->
    <li class="nav-item">
      <a class="nav-link" href="./answer-waiting-rezervations.html"> <img src="../clinic-panel/images/icons/Document.png" alt="Document Icon" /><span class="menu-title">Rezervasyonlar</span> </a>
    </li>
    <!--=====Incoming Box=====-->
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#inbox" aria-expanded="false" aria-controls="inbox"> <img src="../clinic-panel/images/icons/Message.png" alt="Message Icon" /><span class="menu-title">Gelen Kutusu</span><i class="menu-arrow"></i> </a>
      <div class="collapse" id="inbox">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="./rezervation-messages.html">Rezervasyon Mesajları</a></li>
          <li class="nav-item"><a class="nav-link" href="./dialysing.com-messages.html">Dialysing.com Mesajları</a></li>
          <li class="nav-item"><a class="nav-link" href="./questions-answered.html">Merkezinize Gelen Sorular</a></li>
          <li class="nav-item"><a class="nav-link" href="./evaluation.html">Merkezinize Değerlendirmeleri</a></li>
        </ul>
      </div>
    </li>
    <!--=====Cleander=====-->
    <li class="nav-item">
      <a class="nav-link" href="./calendar.html">
        <img src="../clinic-panel/images/icons/Calendar.png" alt="Calendar Icon" />
        <span class="menu-title">Takvim</span>
      </a>
    </li>
    <!--=====Analysis=====-->
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#analysis" aria-expanded="false" aria-controls="analysis"> <img src="../clinic-panel/images/icons/Chart.png" alt="Chart Icon" /><span class="menu-title">Analizler</span><i class="menu-arrow"></i> </a>
      <div class="collapse" id="analysis">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="./analysis.html">Genel Analiz</a></li>
          <li class="nav-item"><a class="nav-link" href="./competition.html">Rakip Analizi</a></li>
        </ul>
      </div>
    </li>
    <!--=====Setting=====-->
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#settings" aria-expanded="false" aria-controls="settings">
        <img src="../clinic-panel/images/icons/Setting.png" alt="Setting Icon" />
        <span class="menu-title">Ayarlar</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="settings">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="./change-password.html">Şifreyi Değiştir</a></li>
          <li class="nav-item"><a class="nav-link" href="./contact.html">İletişim Bilgileri</a></li>
          <li class="nav-item"><a class="nav-link" href="./add-new-clinic.html">Yeni Tesis Ekleme</a></li>
          <li class="nav-item"><a class="nav-link" href="./add-user.html">Kullanıcı Ekleme</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Çıkış Yap</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
