<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/panel"><i class="bi bi-house-door"></i><span class="menu-title"> ANA SAYFA</span></a>
    </li>
    <!--=====Center=====-->
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#center" aria-expanded="false" aria-controls="center"> <i class="bi bi-geo-alt"></i><span class="menu-title"> MERKEZİNİZ</span><i class="menu-arrow"></i> </a>
      <div class="collapse" id="center">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="/panel/upload-image">Fotoğraflar</a></li>
          <li class="nav-item"><a class="nav-link" href="/panel/message-options">Mesajlaşma Tercihleri</a></li>
          <li class="nav-item"><a class="nav-link" href="/panel/what-closest">Yakınlarda Neler Var?</a></li>
          <li class="nav-item"><a class="nav-link" href="/panel/properties-and-services">Özellikler ve Servisler</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/panel/clinic-point">Merkez Puanı</a></li>
        </ul>
      </div>
    </li>
    <!--=====Opportunity Center=====-->
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#opp-center" aria-expanded="false" aria-controls="opp-center"><i class="bi bi-star"></i><span class="menu-title"> FIRSAT MERKEZİ</span><i class="menu-arrow"></i> </a>
      <div class="collapse" id="opp-center">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="/panel/visibility">Görünürlük Arttırma</a></li>
          <li class="nav-item"><a class="nav-link" href="/panel/promotions">Promosyon ve Fırsatlar</a></li>
        </ul>
      </div>
    </li>
    <!--=====Payment=====-->
    <li class="nav-item">
      <a class="nav-link" href="/panel/payment-options"><i class="bi bi-arrow-repeat"></i><span class="menu-title"> ÖDEME ŞEKİLLERİ</span> </a>
    </li>
    <!--=====Rezervations=====-->
    <li class="nav-item">
      <a class="nav-link" href="/panel/answer-waiting-rezervations"><i class="bi bi-file-earmark-text"></i><span class="menu-title"> REZERVASYONLAR</span> </a>
    </li>
    <!--=====Incoming Box=====-->
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#inbox" aria-expanded="false" aria-controls="inbox"><i class="bi bi-envelope"></i><span class="menu-title"> GELEN KUTUSU</span><i class="menu-arrow"></i> </a>
      <div class="collapse" id="inbox">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="/panel/rezervation-messages">Rezervasyon Mesajları</a></li>
          <li class="nav-item"><a class="nav-link" href="/panel/messages">Dialysing.com Mesajları</a></li>
          <li class="nav-item"><a class="nav-link" href="/panel/questions-answered">Merkezinize Gelen Sorular</a></li>
          <li class="nav-item"><a class="nav-link" href="/panel/evaluation">Merkezinize Değerlendirmeleri</a></li>
        </ul>
      </div>
    </li>
    <!--=====Cleander=====-->
    <li class="nav-item">
      <a class="nav-link" href="/panel/calender"><i class="bi bi-calendar-week"></i><span class="menu-title"> TAKVİM</span>
      </a>
    </li>
    <!--=====Analysis=====-->
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#analysis" aria-expanded="false" aria-controls="analysis"><i class="bi bi-clipboard2-data"></i><span class="menu-title"> ANALİZLER</span><i
          class="menu-arrow"></i> </a>
      <div class="collapse" id="analysis">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="/panel/analysis">Genel Analiz</a></li>
          <li class="nav-item"><a class="nav-link" href="/panel/competition">Rakip Analizi</a></li>
        </ul>
      </div>
    </li>
    <!--=====Setting=====-->
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#settings" aria-expanded="false" aria-controls="settings"><i class="bi bi-gear"></i>
        <span class="menu-title">AYARLAR</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="settings">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="/panel/change-password">Şifreyi Değiştir</a></li>
          <li class="nav-item"><a class="nav-link" href="/panel/contact">İletişim Bilgileri</a></li>
          <li class="nav-item"><a class="nav-link" href="/panel/add-new-clinic">Yeni Tesis Ekleme</a></li>
          <li class="nav-item"><a class="nav-link" href="/panel/add-user">Kullanıcı Ekleme</a></li>
          <li class="nav-item"><a class="nav-link" href="/panel/logout">Çıkış Yap</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>