 /* <!--=======FOOTER=====--> */
 .footer {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }
  .footer h5 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
  }
  .footer a {
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }
  .footer a:hover {
    color: #fff;
  }
  .social img {
    width: 30px;
    margin-right: 8px;
  }
  .input-group img {
    padding: 0px;
    margin: 0px;
    width: 30px;
  }
  .input-group button {
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
  }
  footer {
    background-color: #28353e;
  }
  .footerTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.5rem;
  }
  .logo-footer {
    font-size: 25px !important;
    font-weight: 800;
  }