<div class="main-panel">
  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row">
        <div class="tm-section-title">Yeni Tesis Ekle</div>
        <div class="admin-inner-text">Bu sayfada kayıtlı olan merkezlerinizi görüntüleyebilir ve yeni merkez ekleyebilirsiniz.</div>
        <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">

          <% user.centerList.forEach(center => { %>
                     <div class="clinic-center-box">
            <img src="<%- center.companyInformation.photo[0]  %> " alt="Clinic Center iii" class="clinic-img admin" />
            <div class="clinic-center-main-content">
              <div class="clinic-center-box-content">
                <div class="clinic-center-info">
                  <div class="title"><%- center.companyInformation.companyName  %> </div>
                  <div class="tm-display-flex">
                    <div class="text">Arama yaptığınız konumdan 5 km uzaklıkta.</div>
                    <div class="most">Öne Çıkan Merkez</div>
                  </div>
                </div>
              </div>
              <div class="clinic-center-box-content2">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="span-text">Kahvaltı Hizmeti</div>
                    <div class="span-text">Yemek Hizmeti</div>
                    <div class="span-text">Banka Anlaşmalı Merkez</div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="span-text">Ücretsiz Wifi</div>
                    <div class="span-text">Tekerlekli Sandalyeye Uygun</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>

          <div>
            <a href="/panel/choose-personel" class="btn btn-second">Yeni Merkez Ekle</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <div id="suggestion">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="suggestion-button">
            <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png" alt="Icon Suggestion" />Öneriler</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("../../partials/footer")  %> 
</div>
