<div class="main-panel">
  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row">
        <div class="tm-section-title">Rezervasyon Takvimi</div>
        <div class="tm-section-title">
          <div class="form-group calendar-seans-choose">
            <select name="month" class="form-control" id="month">
              <option value="0">Sabah Seansı</option>
              <option value="1">Öğlen Seansı</option>
              <option value="2">Akşam Seansı</option>
              <option value="3">Gece Seansı</option>
            </select>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <form class="tm-form-wide">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="seans-title-area">
                  <div class="seans-title">Pazartesi, Salı, Çarşamba</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Sabah Seansı</div>
                  <div class="seans-date">08:00-12:00 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Öğlen Seansı</div>
                  <div class="seans-date">12:30-16:30 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Akşam Seansı</div>
                  <div class="seans-date">17:00-21:00 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Gece Seansı</div>
                  <div class="seans-date">21:30-00:30 Arasında</div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="seans-title-area">
                  <div class="seans-title">Perşembe, Cuma, Cumartesi</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Sabah Seansı</div>
                  <div class="seans-date">08:00-12:00 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Öğlen Seansı</div>
                  <div class="seans-date">12:30-16:30 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Akşam Seansı</div>
                  <div class="seans-date">17:00-21:00 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Gece Seansı</div>
                  <div class="seans-date">21:30-00:30 Arasında</div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="seans-title-area tm-space-between">
                  <div class="seans-title">Pazar Günleri Açık mısınız?</div>
                  <div class="form-box inline-checkboxes">
                    <div class="form-group not-border checkbox">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                      <label class="form-check-label selected" for="flexCheckChecked"> Evet </label>
                    </div>
                    <div class="form-group not-border checkbox">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                      <label class="form-check-label" for="flexCheckChecked"> Hayır </label>
                    </div>
                  </div>
                </div>
                <div class="seans">
                  <div class="senas-name">Sabah Seansı</div>
                  <div class="seans-date">08:00-12:00 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Öğlen Seansı</div>
                  <div class="seans-date">12:30-16:30 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Akşam Seansı</div>
                  <div class="seans-date">17:00-21:00 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Gece Seansı</div>
                  <div class="seans-date">21:30-00:30 Arasında</div>
                </div>
              </div>
            </div>
            <div class="calendar-button">
              <button class="btn-second">Değişiklikleri Kaydet</button>
            </div>
          </form>
        </div>
        <div class="tm-section-title blue calendar-title calendar-wrapper">Takvim</div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="tm-form-wide">
            <!-- Row -->
            <div class="row no-gutters">
            </div>
            <div class="col-lg-12">
              <div class="main-content-body main-content-body-calendar card-body border-left">
                <div class="main-calendar" id="calendar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <div id="suggestion">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="suggestion-button">
            <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png"
                alt="Icon Suggestion" />Öneriler</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../partials/footer") %>

    <!-- partial -->
</div>