<div class="main-panel">
  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row">
        <div class="tm-section-title">Rezervasyon Takvimi</div>
        <div class="tm-section-title">
          <div class="form-group calendar-seans-choose">
            <select name="month" class="form-control" id="month">
              <option value="">Sabah Seansı</option>
              <option value="1">Öğlen Seansı</option>
              <option value="2">Akşam Seansı</option>
              <option value="2">Gece Seansı</option>
            </select>
            <img src="../clinic-panel/images/icons/down-big.png" alt="Down Big Icon" class="dropdown-down big-icon" />
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <form class="tm-form-wide">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="seans-title-area">
                  <div class="seans-title">Pazartesi, Salı, Çarşamba</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Sabah Seansı</div>
                  <div class="seans-date">08:00-12:00 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Öğlen Seansı</div>
                  <div class="seans-date">12:30-16:30 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Akşam Seansı</div>
                  <div class="seans-date">17:00-21:00 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Gece Seansı</div>
                  <div class="seans-date">21:30-00:30 Arasında</div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="seans-title-area">
                  <div class="seans-title">Perşembe, Cuma, Cumartesi</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Sabah Seansı</div>
                  <div class="seans-date">08:00-12:00 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Öğlen Seansı</div>
                  <div class="seans-date">12:30-16:30 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Akşam Seansı</div>
                  <div class="seans-date">17:00-21:00 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Gece Seansı</div>
                  <div class="seans-date">21:30-00:30 Arasında</div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="seans-title-area tm-space-between">
                  <div class="seans-title">Pazar Günleri Açık mısınız?</div>
                  <div class="form-box inline-checkboxes">
                    <div class="form-group not-border checkbox">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                      <label class="form-check-label selected" for="flexCheckChecked"> Evet </label>
                    </div>
                    <div class="form-group not-border checkbox">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                      <label class="form-check-label" for="flexCheckChecked"> Hayır </label>
                    </div>
                  </div>
                </div>
                <div class="seans">
                  <div class="senas-name">Sabah Seansı</div>
                  <div class="seans-date">08:00-12:00 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Öğlen Seansı</div>
                  <div class="seans-date">12:30-16:30 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Akşam Seansı</div>
                  <div class="seans-date">17:00-21:00 Arasında</div>
                </div>
                <div class="seans">
                  <div class="senas-name">Gece Seansı</div>
                  <div class="seans-date">21:30-00:30 Arasında</div>
                </div>
              </div>
            </div>
            <div class="calendar-button">
              <button class="btn-second">Değişiklikleri Kaydet</button>
            </div>
          </form>
        </div>
       
        <div class="tm-section-title blue calendar-title calendar-wrapper">Takvim</div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"> 
        <div class="wrapper">

          <div class="container-calendar">
              <h3 id="monthAndYear"></h3>
              
              <div class="button-container-calendar">
                  <button id="previous" class="btn-second" onclick="previous()">&#8249;</button>
                  <button id="next" onclick="next()">&#8250;</button>
              </div>
              
              <table class="table-calendar" id="calendar" data-lang="en">
                  <thead id="thead-month"></thead>
                  <tbody id="calendar-body"></tbody>
              </table>
              
              <div class="footer-container-calendar">
                   <label for="month">Jump To: </label>
                   <select id="month" onchange="jump()">
                       <option value=0>Jan</option>
                       <option value=1>Feb</option>
                       <option value=2>Mar</option>
                       <option value=3>Apr</option>
                       <option value=4>May</option>
                       <option value=5>Jun</option>
                       <option value=6>Jul</option>
                       <option value=7>Aug</option>
                       <option value=8>Sep</option>
                       <option value=9>Oct</option>
                       <option value=10>Nov</option>
                       <option value=11>Dec</option>
                   </select>
                   <select id="year" onchange="jump()"></select>       
              </div>
      
          </div>
          
      </div> 


        



        

        <!-- <div class="tm-section-title blue calendar-title calendar-wrapper">Takvim</div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"> -->
          <div class="tm-form-wide calendar">
            <!-- <div class="calendar-select current-date">
              <button class="btn-second prev" onclick="prevMonth()">Önceki Ay</button>
              <div class="current-month current-month-year">Eylül 2021</div>
              <div class="current-date current-month">
                <span id="current_month">Month</span>
                <span id="current_year">0000</span>
              </div>
              <button class="btn-second next" onclick="nextMonth()">Sonraki Ay</button>
            </div> -->
            <div class="calendar ">
              <div class="row">
                <div class="col no-padding">
                <div class="col">
                  <div class="calendar-day"></div>
                  <div class="seans-box">
                    <div class="calendar-seans">Seanslar</div>
                    <div class="calendar-seans-name">Sabah</div>
                    <div class="calendar-seans-name">Öğlen</div>
                    <div class="calendar-seans-name">Akşam</div>
                    <div class="calendar-seans-name">Gece</div>
                  </div>
                </div>
                </div>
                <div class="calendar-body" id="calendar_body"></div>
                <div class="col no-padding">
                  <div class="calendar-day">Pazartesi</div> 
                  <div class="calendar-box">
                    <div class="calendar-date">01</div>
                    <div class="calendar-others-time">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">1</div>
                  </div>
                </div>
                <div class="col no-padding">
                  <div class="calendar-day">Salı</div>
                  <div class="calendar-box">
                    <div class="calendar-date">02</div>
                    <div class="calendar-others-time">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">1</div>
                  </div>
                </div>
                <div class="col no-padding">
                  <div class="calendar-day">Çarşamba</div>
                  <div class="calendar-box">
                    <div class="calendar-date">03</div>
                    <div class="calendar-others-time">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">1</div>
                  </div>
                </div>
                <div class="col no-padding">
                  <div class="calendar-day">Perşembe</div>
                  <div class="calendar-box">
                    <div class="calendar-date">04</div>
                    <div class="calendar-others-time">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">1</div>
                  </div>
                </div>
                <div class="col no-padding">
                  <div class="calendar-day">Cuma</div>
                  <div class="calendar-box">
                    <div class="calendar-date">05</div>
                    <div class="calendar-others-time">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">1</div>
                  </div>
                </div>
                <div class="col no-padding">
                  <div class="calendar-day">Cumartesi</div>
                  <div class="calendar-box">
                    <div class="calendar-date">06</div>
                    <div class="calendar-others-time">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">1</div>
                  </div>
                </div>
                <div class="col no-padding">
                  <div class="calendar-day">Pazar</div>
                  <div class="calendar-box">
                    <div class="calendar-date">07</div>
                    <div class="calendar-others-time">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">1</div>
                  </div>
                </div>
              </div>
                <!-- <div class="row">
                <div class="col">
                  <div class="seans-box">
                    <div class="calendar-seans">Seanslar</div>
                    <div class="calendar-seans-name">Sabah</div>
                    <div class="calendar-seans-name">Öğlen</div>
                    <div class="calendar-seans-name">Akşam</div>
                    <div class="calendar-seans-name">Gece</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">08</div>
                    <div class="calendar-others-time">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">09</div>
                    <div class="calendar-others-time">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">10</div>
                    <div class="calendar-others-time">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date future">11</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">12</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">13</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">14</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- </div>
              <div class="row">
                <div class="col">
                  <div class="seans-box">
                    <div class="calendar-seans">Seanslar</div>
                    <div class="calendar-seans-name">Sabah</div>
                    <div class="calendar-seans-name">Öğlen</div>
                    <div class="calendar-seans-name">Akşam</div>
                    <div class="calendar-seans-name">Gece</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">15</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">16</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">17</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">18</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">19</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">20</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">21</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- </div>
              <div class="row">
                <div class="col">
                  <div class="seans-box">
                    <div class="calendar-seans">Seanslar</div>
                    <div class="calendar-seans-name">Sabah</div>
                    <div class="calendar-seans-name">Öğlen</div>
                    <div class="calendar-seans-name">Akşam</div>
                    <div class="calendar-seans-name">Gece</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">22</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">23</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">24</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">25</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">26</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">27</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">28</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- </div>
              <div class="row">
                <div class="col">
                  <div class="seans-box">
                    <div class="calendar-seans">Seanslar</div>
                    <div class="calendar-seans-name">Sabah</div>
                    <div class="calendar-seans-name">Öğlen</div>
                    <div class="calendar-seans-name">Akşam</div>
                    <div class="calendar-seans-name">Gece</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">29</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">30</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box">
                    <div class="calendar-date">31</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box not-this-month">
                    <div class="calendar-date">01</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box not-this-month">
                    <div class="calendar-date">02</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box not-this-month">
                    <div class="calendar-date">03</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- <div class="col no-padding">
                  <div class="calendar-box not-this-month">
                    <div class="calendar-date">04</div>
                    <div class="calendar-others-time next">2</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">3</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">0</div>
                    <hr class="calendar-hr" />
                    <div class="calendar-others-time next">1</div>
                  </div>
                </div> -->
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
    <div id="suggestion">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="suggestion-button">
              <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png"
                  alt="Icon Suggestion" />Öneriler</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("../../partials/footer") %>

      <!-- partial -->
  </div>