      <div class="main-panel">
        <div class="content-wrapper">

          <div id="section-i" class="tm-p">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="tm-section-title">Şifre Değiştirme</div>
                <form class="tm-form-wide" action="/panel/change-password" method="POST">
                    <div class="form-group password">
                        <label for="old-password">Şifrenizi Giriniz</label>
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Eski Şifreniz">
                        <img src="../user/img/clinic/svg/show-password.svg" alt="Icon Arrow" />
                      </div>
                    <div class="form-group password">
                      <label for="new-password">Yeni Şifrenizi Oluşturun</label>
                      <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Yeni Şifreniz">
                      <img src="../user/img/clinic/svg/show-password.svg" alt="Icon Arrow" />
                    </div>
                    <div class="form-group password">
                        <label for="repeat-password">Yeni Şifrenizi Tekrar Girin</label>
                        <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" placeholder="Yeni Şifreniz">
                        <img src="../user/img/clinic/svg/show-password.svg" alt="Icon Arrow" />
                      </div>
                    <button type="submit" class="btn-second">Giriş Yap</button>
                  </form>
              </div>
            </div>
          </div>

        </div>
        <!-- content-wrapper ends -->
        <div id="suggestion">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="suggestion-button">
                  <button type="button" class="btn-second suggestion" ><img src="../clinic-panel/images/icons/suggestion.png" alt="Icon Suggestion" />Öneriler</button>
                </div>
              </div>
            </div>
          </div>
        </div>

<%- include("../../partials/footer")  %> 

        <!-- partial -->
      </div>