<div class="main-panel">
  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row">
        <div class="tm-section-title">Merkez Puanı</div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
          <div class="tm-form-wide">
            <div class="tm-process">
              <div class="tm-process-bar-content">
                <div>
                  <div class="tm-space-between">
                    <div class="tm-process-title">Merkez Sayfası Puanı</div>
                    <div class="tm-process-subtitle">%60</div>
                  </div>
                  <div class="tm-process-pers"></div>
                </div>
                <div class="tm-process-bar width-87 blue"></div>
                <div class="tm-process-pers-av">Bölge Ort. %90</div>
                <div class="tm-process-text">Merkez puanı %100 olan merkezlerin %30’luk bir oran ile daha fazla randevu
                  aldığı gözlemlenmiştir.</div>
              </div>
            </div>
            <div class="clinic-points">
              <div>
                <img src="../clinic-panel/images/icons/done.png" alt="Icon Done" />
              </div>
              <div>
                <div class="clinic-point-title">Hastalarınıza Sağladığınız İmkanları Belirtin</div>
                <div class="clinic-point-process done">Bitti!</div>
              </div>
            </div>
            <hr class="custom" />
            <div class="clinic-points">
              <div class="circle"></div>
              <div>
                <div class="clinic-point-title">Merkeziniz İçin Yol Tarifi Ekleyin</div>
                <div class="clinic-point-process">Hastalarınızın merkezinizi bulmasına yardımcı olun.</div>
              </div>
            </div>
            <hr class="custom" />
            <div class="clinic-points">
              <div class="circle"></div>
              <div>
                <div class="clinic-point-title">Merkezinize Yakın Lokasyonlar Hakkında Bilgi Verin</div>
                <div class="clinic-point-process">Lütfen merkezinizin çevresinde yer alan lokasyonları ekleyin.</div>
              </div>
            </div>
            <hr class="custom" />
            <div class="clinic-points">
              <div class="circle"></div>
              <div>
                <div class="clinic-point-title">En Az 5 Adet Fotoğraf Yükleyin</div>
                <div class="clinic-point-process">Şu an sadece 4 fotoğraf yüklediniz.</div>
              </div>
            </div>
            <hr class="custom" />
            <div class="clinic-points">
              <div class="circle"></div>
              <div>
                <div class="clinic-point-title">Çalışanlarınızın Konuştuğu Dilleri Ekleyin</div>
                <div class="clinic-point-process">Çalışanlarınızın konuştuğu dilleri ekleyerek hastalarınızı
                  bilgilendirin.</div>
              </div>
            </div>
            <hr class="custom" />
            <div class="clinic-points">
              <div>
                <img src="../clinic-panel/images/icons/done.png" alt="Icon Done" />
              </div>
              <div>
                <div class="clinic-point-title">İletişim Bilgilerinizi Güncelleyin</div>
                <div class="clinic-point-process done">Bitti!</div>
              </div>
            </div>
            <hr class="custom" />
            <div class="clinic-points">
              <div class="circle"></div>
              <div>
                <div class="clinic-point-title">Merkez Bio’nuzu Ekleyin</div>
                <div class="clinic-point-process">Hastalarınızı merkeziniz hakkında bilgilendirin.</div>
              </div>
            </div>
            <hr class="custom" />
            <div class="clinic-points">
              <div class="circle"></div>
              <div>
                <div class="clinic-point-title">Gelen Kutunuzu Kontrol Edin</div>
                <div class="clinic-point-process">Hastalarınızın sorularına çözüm üretmek sizi değerli kılar.</div>
              </div>
            </div>
            <hr class="custom" />
            <div class="clinic-points">
              <div class="circle"></div>
              <div>
                <div class="clinic-point-title">Dialysis Token Satın Al</div>
                <div class="clinic-point-process">Dialysis tokenlarınız ile görünürlüğünüzü arttırın</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <div id="suggestion">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="suggestion-button">
            <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png"
                alt="Icon Suggestion" />Öneriler</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../partials/footer") %>
    <!-- partial -->
</div>