<div class="main-panel">
  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row">
        <div class="tm-section-title">Merkez Değerlendİrmelerİ</div>
        <div class="admin-inner-text">Hastalarınızın merkeziniz hakkında yaptığı değerlendirmeleri bu sayfada
          görüntüleyebilirsiniz.</div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <form class="tm-form-wide">
            <div class="form-box questions with-evaluation">
              <div class="questions-content">
                <div class="tm-process">
                  <div class="tm-process-bar-content">
                    <div class="tm-process-text">Personel</div>
                    <div class="tm-process-bar width-87 blue"></div>
                  </div>
                  <div class="tm-process-pers">8.7</div>
                </div>
                <div class="tm-process">
                  <div class="tm-process-bar-content">
                    <div class="tm-process-text">Rahatlık</div>
                    <div class="tm-process-bar width-30 red"></div>
                  </div>
                  <div class="tm-process-pers">3.0</div>
                </div>
                <div class="tm-process">
                  <div class="tm-process-bar-content">
                    <div class="tm-process-text">Temizlik</div>
                    <div class="tm-process-bar width-100 green"></div>
                  </div>
                  <div class="tm-process-pers">10</div>
                </div>
                <div class="tm-process">
                  <div class="tm-process-bar-content">
                    <div class="tm-process-text">İmkanlar</div>
                    <div class="tm-process-bar width-76 blue"></div>
                  </div>
                  <div class="tm-process-pers">7.6</div>
                </div>
                <div class="tm-process">
                  <div class="tm-process-bar-content">
                    <div class="tm-process-text">Tedavi İmkanları</div>
                    <div class="tm-process-bar width-68 blue"></div>
                  </div>
                  <div class="tm-process-pers">6.8</div>
                </div>
                <div class="tm-process">
                  <div class="tm-process-bar-content">
                    <div class="tm-process-text">Konum</div>
                    <div class="tm-process-bar width-100 green"></div>
                  </div>
                  <div class="tm-process-pers">10</div>
                </div>
              </div>
              <div class="questions-content">
                <div class="question">
                  <div class="tm-color-second tm-font-semibold mb-1">Ayhan Fırat Fındıkoğlu<span>Amerika, Newyork</span>
                  </div>
                  <div class="tm-color-dark">“Memleketime gelirken diyaliz problemimi nasıl çözeceğimi
                    düşünüyordum ve websitenize denk geldim. Bundan sonra dilediğim zaman aklımda hiç soru işareti
                    kalmadan memleketime gelebileceğim için çok mutluyum, iyi ki böyle bir sistem oluşturmuşsunuz”.
                  </div>
                </div>
              </div>
              <div class="questions-content">
                <button class="button-delete">Değerlendirmeyi Kaldır<img src="../clinic-panel/images/icons/delete.png"
                    alt="Icon Delete" /></button>
                <button class="button-delete">Değerlendirmeyi Sayfaya Sabitle<img
                    src="../clinic-panel/images/icons/pin.png" alt="Icon Pin" /></button>
              </div>
            </div>

            <% center.centerEveluation.forEach(eveluation=> { %>
              <hr class="question-hr" />
              <div class="form-box questions evaluation">
                <div class="questions-content">
                  <div class="question">
                    <div class="tm-color-second tm-font-semibold">Neslihan Çelik</div>
                    <div class="tm-color-dark tm-margin-t-1">
                      <%- eveluation.evaluationMessage %>
                    </div>
                  </div>
                </div>
                <div class="questions-content">
                  <button class="button-delete">Değerlendirmeyi Kaldır<img src="../clinic-panel/images/icons/delete.png"
                      alt="Icon Delete" /></button>
                  <button class="button-delete">Değerlendirmeyi Sayfaya Sabitle<img
                      src="../clinic-panel/images/icons/pin.png" alt="Icon Pin" /></button>
                </div>
              </div>
              <% }) %> 
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <div id="suggestion">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="suggestion-button">
            <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png"
                alt="Icon Suggestion" />Öneriler</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../partials/footer") %>
    <!-- partial -->
</div>