<div class="main-panel">
  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row">
        <div class="tm-section-title">Dialysing.com Mesajları</div>
        <div class="admin-inner-text">Size özel tekliflerimizi, promosyonlarınızı bu ekrandan görüntüleyebilirsiniz.</div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <form class="tm-form-wide">
            <div class="form-box">
              <div class="tm-color-primary tm-font-semibold">Dialysing.com</div>
              <div class="tm-color-dark">Atakan Kantarcı tarafından oluşturulan 15 Eylül 2021 Tarihli saat 18:00’da ki randevunuz hastanız tarafından iptal edilmiştir.</div>
            </div>
            <div class="form-box">
              <div class="tm-color-primary tm-font-semibold">Dialysing.com</div>
              <div class="tm-color-dark">Merkezinize özel %50 indirimli yeni bir promosyon teklifimiz vardır. Promosyon ekranından kontrol edebilirsiniz.</div>
            </div>
            <div class="form-box">
              <div class="tm-color-primary tm-font-semibold">Dialysing.com</div>
              <div class="tm-color-dark">Ayhan Fırat Fındıkoğlu tarafından 16 Eylül 2021 - 19:00 tarihine Hemodiyaliz tedavisi için randevu oluşturulmuştur.</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <div id="suggestion">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="suggestion-button">
            <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png" alt="Icon Suggestion" />Öneriler</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../partials/footer") %>
  <!-- partial -->
</div>
