<div class="main-panel">
  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row">
        <div class="tm-section-title">Özellİkler ve Hİzmetler</div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 mb-5">
          <form class="tm-form-wide">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-box">
                  <div class="title">Diyaliz Tedavisi Tipleri</div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label selected" for="flexCheckChecked"> Hemodiyaliz </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Hemodiyafiltrasyon </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Merkezde Gece Hemodiyalizi </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Ev Hemodiyalizi </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Hemşireli Ev Hemodiyalizi </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Periton Diyalizi </label>
                  </div>
                </div>
                <div class="form-box">
                  <div class="title mt-4">Seans İçi Hizmetler</div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label selected" for="flexCheckChecked"> Seans İçi Yiyecek Sunumu </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Ücretsiz Ulaşım Hizmeti </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Kişiye Özel Tv Hizmeti </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Kişiye Özel Tv Hizmeti </label>
                  </div>
                </div>
                <div class="form-box">
                  <div class="title mt-4">Tesis İçi İmkanlar</div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label selected" for="flexCheckChecked"> Tekerlekli Sandalye Kullanımına Uygun </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Tutunma Kollu Tuvalet </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Tedavi Salonlarında Air Condition </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Giriş-Çıkış Alanlarında Air Condition </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Hassas Tartı </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Rampalı Hassas Tartı </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Kişisel Eşyalar İçin Kilitli Dolap </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Otopark Hizmeti </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Ambulans Hizmeti </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> 7/24 Ulaşılabilirlik </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> İzole Oda </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> El Kumandalı Otomatik Yatak </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Sedyeli Hasta Servisi </label>
                  </div>
                </div>
                <div class="form-box mt-4">
                  <div class="title">Merkez Binası Tipi</div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label selected" for="flexCheckChecked"> Müstakil Binalı Merkez </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Müstakil Binada Olmayan Merkez </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Hastane İçi Merkez </label>
                  </div>
                </div>
                <div class="form-box">
                  <div class="title mt-4">Konuşulan Diller (Personel)</div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label selected" for="flexCheckChecked"> Türkçe </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> İngilizce </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Rusça </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Arapça </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> İspanyolca </label>
                  </div>
                  <div class="tm-margin-t-1">
                    <a href="#">Farklı bir dil eklemek için tıklayın</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-box">
                  <div class="title mt-4">Diyaliz Merkezleri</div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label selected" for="flexCheckChecked"> Özel Diyaliz Merkezi </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Kamu Diyaliz Merkezi </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Üniversite Diyaliz Merkezi </label>
                  </div>
                </div>
                <div class="form-box">
                  <div class="title mt-4">Sigorta Durumu</div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label selected" for="flexCheckChecked"> SSK Anlaşmalı </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Banka Anlaşmalı </label>
                  </div>
                </div>
                <div class="form-box">
                  <div class="title mt-4">Personel Durumu</div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label selected" for="flexCheckChecked"> Diyetisyen </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Nefrlolog </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Profesörlü </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Uzman Hekimli </label>
                  </div>
                </div>
                <div class="form-box">
                  <div class="title mt-4">Diyaliz Cihazı Markaları</div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label selected" for="flexCheckChecked"> Fresenius </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> BBraun Dialog+ </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Gambro </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Nipro Surdial </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label selected" for="flexCheckChecked"> Kawasumi </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Toray </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Baxter </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Nikkiso </label>
                  </div>
                </div>
                <div class="form-box">
                  <div class="title mt-4">Tercüman Hizmeti</div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label selected" for="flexCheckChecked"> Ücretli </label>
                  </div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                    <label class="form-check-label" for="flexCheckChecked"> Ücretsiz </label>
                  </div>
                </div>
                <div class="form-box">
                  <div class="title mt-4">Ek Hizmetler</div>
                  <div class="form-group not-border checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                    <label class="form-check-label selected" for="flexCheckChecked"> Ücretsiz Havaalanı Transferi </label>
                  </div>
                  <div class="form-group">
                    <label for="others" class="custom">Diğer (Açıklayınız)</label>
                    <input type="text" class="form-control" id="others" placeholder="Eklemek istediğiniz hizmeti yazın" />
                  </div>
                </div>
                <div class="form-box">
                  <button class="btn-second">Değişiklikleri Kaydet</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">
          <div class="tm-box-info">
            <div class="tm-box-top">
              <img src="../user/img/clinic/attention.png" alt="Attention Icon" />
              <div class="tm-box-title">Hizmetleri nelere göre işaretlemeliyim?</div>
            </div>
            <div class="tm-box-bottom">
              <div>Merkezinizde sağlamakta olduğunuz hizmetleri, tedavi tiplerini özenle ve dikkatle işaretleyiniz. Hastalarınız yanlış yönlendirilip randevu oluşturdukları tak- dirde hak talep edebilirler.</div>
              <div>Lütfen vermediğiniz hizmetleri işaretlemekten kaçınınız.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <div id="suggestion">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="suggestion-button">
            <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png" alt="Icon Suggestion" />Öneriler</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../partials/footer") %>
  <!-- partial -->
</div>
