<div class="main-panel">
  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row">
        <div class="tm-section-title">Merkezİnİze Gelen Sorular</div>
        <div class="admin-inner-text">Soru-Cevap, merkez sayfanızda görüntülenen bir kısımdır. Hastalarınızın merkeziniz
          ile ilgili sorularından yanıtladıklarınızı burada görebilirsiniz.</div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <form class="tm-form-wide">
            <div class="tm-steps">
              <div class="tm-step input-group">
                <a href="./questions-new.html" class="flex-sm-fill text-sm-center"> Yeni Sorular</a>
              </div>
              <div class="tm-step active">
                <a href="./questions-answered.html" class="flex-sm-fill text-sm-center">Cevaplananlar
                  <div class="tm-s-step active"></div>
                </a>
              </div>
            </div>
            <div class="d-flex align-items-start">
              <div class="bg-light text-dark flex-shrink-0 me-2">
                <img src="../clinic-panel/images/icons/answer-question.png" alt="Icon Answer" /></svg>
              </div>
              <div>
                <div class="tm-color-second tm-font-semibold">Ayhan Fırat Fındıkoğlu</div>
                <div class="tm-color-dark">Diyaliz merkezinizde gece diyalizi hizmeti almak istiyorum
                  fakat, gece ziyaretçi imkanlarınız nelerdir?</div>
                <div class="answer">
                  <div class="tm-color-shadow-3">Merhabalar, diyaliz merkezimizde gece diyalizi hizmeti sağladığımız
                    zamanlarda ziyaretçilerimizin ve hastalarımızın en konforlu şekilde hizmet almasını ve kendilerini
                    evlerinde hissetmetlerini sağlamaya gayret göstermekteyiz. Ziyaretçiniz ile birlikte kişiye özel
                    odalarımızda sizleri ağırlamaktan şeref duyarız.</div>
                </div>
              </div>
              <div class="questions-content mt-3">
                <button class="button-delete">Soruyu Sil<img src="../clinic-panel/images/icons/delete.png"
                    alt="Icon Delete" /></button>
              </div>
            </div>

            <hr class="question-hr" />
            <div class="d-flex align-items-start">
              <div class="bg-light text-dark flex-shrink-0 me-2">
                <img src="../clinic-panel/images/icons/answer-question.png" alt="Icon Answer" /></svg>
              </div>
              <div>
                <div class="tm-color-second tm-font-semibold">Ayhan Fırat Fındıkoğlu</div>
                <div class="tm-color-dark">Diyaliz merkezinizde gece diyalizi hizmeti almak istiyorum
                  fakat, gece ziyaretçi imkanlarınız nelerdir?</div>
                <div class="answer">
                  <div class="tm-color-shadow-3">Merhabalar, diyaliz merkezimizde gece diyalizi hizmeti sağladığımız
                    zamanlarda ziyaretçilerimizin ve hastalarımızın en konforlu şekilde hizmet almasını ve kendilerini
                    evlerinde hissetmetlerini sağlamaya gayret göstermekteyiz. Ziyaretçiniz ile birlikte kişiye özel
                    odalarımızda sizleri ağırlamaktan şeref duyarız.</div>
                </div>
              </div>
              <div class="questions-content mt-3">
                <button class="button-delete">Soruyu Sil<img src="../clinic-panel/images/icons/delete.png"
                    alt="Icon Delete" /></button>
              </div>
            </div>
            <hr class="question-hr" />
            <div class="d-flex align-items-start">
              <div class="bg-light text-dark flex-shrink-0 me-2">
                <img src="../clinic-panel/images/icons/answer-question.png" alt="Icon Answer" /></svg>
              </div>
              <div>
                <div class="tm-color-second tm-font-semibold">Ayhan Fırat Fındıkoğlu</div>
                <div class="tm-color-dark">Diyaliz merkezinizde gece diyalizi hizmeti almak istiyorum
                  fakat, gece ziyaretçi imkanlarınız nelerdir?</div>
                <div class="answer">
                  <div class="tm-color-shadow-3">Merhabalar, diyaliz merkezimizde gece diyalizi hizmeti sağladığımız
                    zamanlarda ziyaretçilerimizin ve hastalarımızın en konforlu şekilde hizmet almasını ve kendilerini
                    evlerinde hissetmetlerini sağlamaya gayret göstermekteyiz. Ziyaretçiniz ile birlikte kişiye özel
                    odalarımızda sizleri ağırlamaktan şeref duyarız.</div>
                </div>
              </div>
              <div class="questions-content mt-3">
                <button class="button-delete">Soruyu Sil<img src="../clinic-panel/images/icons/delete.png"
                    alt="Icon Delete" /></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <div id="suggestion">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="suggestion-button">
            <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png"
                alt="Icon Suggestion" />Öneriler</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../partials/footer") %>
    <!-- partial -->
</div>