<div class="main-panel">
  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row">
        <div class="tm-section-title">Merkezinize Gelen Sorular</div>
        <div class="admin-inner-text">Soru-Cevap, merkez sayfanızda görüntülenen bir kısımdır. Hastalarınızın merkeziniz ile ilgili sorularından yanıtladıklarınızı burada görebilirsiniz.</div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <form class="tm-form-wide">
            <div class="tm-steps">
              <div class="tm-step active">
                <a href="./questions-new.html" class="flex-sm-fill text-sm-center">
                  Yeni Sorular
                  <div class="tm-s-step active"></div>
                </a>
              </div>
              <div class="tm-step">
                <a href="questions-answered.html" class="flex-sm-fill text-sm-center"> Cevaplananlar </a>
              </div>
            </div>
            <div class="form-box questions new">
              <div class="questions-content mt-3">
                <div class="question">
                  <div class="tm-color-second tm-font-semibold">Ayhan Fırat Fındıkoğlu<span>Amerika, Newyork</span></div>
                  <div class="tm-color-dark tm-margin-t-1">“Memleketime gelirken diyaliz problemimi nasıl çözeceğimi düşünüyordum ve websitenize denk geldim. Bundan sonra dilediğim zaman aklımda hiç soru işareti kalmadan memleketime gelebileceğim için çok mutluyum, iyi ki böyle bir sistem oluşturmuşsunuz”.</div>
                </div>
              </div>
              <div class="questions-content mt-3">
                <button class="button-delete">Cevapla<img src="../clinic-panel/images/icons/answer-question.png" alt="Icon Answer Question" /></button>
                <button class="button-delete">Soruyu Sil<img src="../clinic-panel/images/icons/delete.png" alt="Icon Delete" /></button>
              </div>
            </div>
            <hr class="question-hr" />
            <div class="form-box questions new">
              <div class="questions-content mt-3">
                <div class="question">
                  <div class="tm-color-second tm-font-semibold">Neslihan Çelik<span>İzmir, Konak</span></div>
                  <div class="tm-color-dark tm-margin-t-1">“Tatilimizi sağlıklı bir şekilde geçirmemizi sağladıkları için dialysing.com ailesine sonsuz teşekkürler, daima kullanacağımız bir sistem oldu ve bizlerden tam puan aldı. Diyaliz hastalarına tavsiye etmekten asla tereddüt etmeyeceğiz”.</div>
                </div>
              </div>
              <div class="questions-content mt-3">
                <button class="button-delete">Cevapla<img src="../clinic-panel/images/icons/answer-question.png" alt="Icon Answer Question" /></button>
                <button class="button-delete">Soruyu Sil<img src="../clinic-panel/images/icons/delete.png" alt="Icon Delete" /></button>
              </div>
            </div>
            <hr class="question-hr" />
            <div class="form-box questions new">
              <div class="questions-content mt-3">
                <div class="question">
                  <div class="tm-color-second tm-font-semibold">Kristin Watson<span>South Dakota</span></div>
                  <div class="tm-color-dark tm-margin-t-1">“Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet”.</div>
                </div>
              </div>
              <div class="questions-content mt-3">
                <button class="button-delete">Cevapla<img src="../clinic-panel/images/icons/answer-question.png" alt="Icon Answer Question" /></button>
                <button class="button-delete">Soruyu Sil<img src="../clinic-panel/images/icons/delete.png" alt="Icon Delete" /></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <div id="suggestion">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="suggestion-button">
            <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png" alt="Icon Suggestion" />Öneriler</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../partials/footer") %>
  <!-- partial -->
</div>
