<div class="main-panel">
  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row">
        <div class="tm-section-title">Rezervasyon Mesajlarınız</div>
        <div class="admin-inner-text">Soru-Cevap, merkez sayfanızda görüntülenen bir kısımdır. Hastalarınızın merkeziniz ile ilgili tüm sorularını yanıtlama imkanınız bulunmakta. Diğer hastalarınızında sorularına cevap sağlayabilmek adına cevaplarınızı herkesin görebileceği şekilde yayınlamaktayız. Tüm hastalarınız için faydalı olabilecek ve doğru bilgiler paylaşmanızı tavsiye ederiz. Lütfen uygunsuz içerik eklememeye ve gizliliğe özen gösterin.</div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <form class="tm-form-wide accordion">
            <div class="accordion accordion-flush" id="rezervationMessage1">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <div class="tm-space-between tm-width-100 mobile">
                      <div>
                        <div class="admin-box-title">Ayhan Fırat Fındıkoğlu</div>
                        <div class="admin-box-text">Hemodiyaliz<span>ayhanf.f2@gmail.com</span><span>+90 539 960 13 93</span></div>
                      </div>
                      <div class="right">
                        <div class="admin-box-text">15 Eylül 2021</div>
                        <div class="admin-box-text">15:30</div>
                      </div>
                    </div>
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#rezervationMessage1">
                  <div class="accordion-body">
                    <div class="form-group">
                      <label for="center-about">Özel Notlar</label>
                      <textarea class="form-control" id="center-about" rows="3" placeholder="Morbi euismod cras rhoncus eget laoreet et ridiculus metus, mi arcu ultricies id libero dictum commodo eleifend aenean scelerisque purus orci penatibus senectus elit mattis tristique lectus sed egestas risus enim pulvinar feugiat egestas nam urna pellentesque adipiscing egestas eu"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion accordion-flush" id="rezervationMessage2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <div class="tm-display-flex tm-space-between tm-width-100">
                      <div>
                        <div class="admin-box-title">Atakan Kantarcı</div>
                        <div class="admin-box-text">Hemodiyaliz</div>
                      </div>
                      <div class="right">
                        <div class="admin-box-text">15 Eylül 2021</div>
                        <div class="admin-box-text">18:00</div>
                      </div>
                    </div>
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#rezervationMessage2">
                  <div class="accordion-body">
                    <div class="form-group">
                      <label for="center-about">Özel Notlar</label>
                      <textarea class="form-control" id="center-about" rows="3" placeholder="Morbi euismod cras rhoncus eget laoreet et ridiculus metus, mi arcu ultricies id libero dictum commodo eleifend aenean scelerisque purus orci penatibus senectus elit mattis tristique lectus sed egestas risus enim pulvinar feugiat egestas nam urna pellentesque adipiscing egestas eu"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion accordion-flush" id="rezervationMessage3">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <div class="tm-display-flex tm-space-between tm-width-100">
                      <div>
                        <div class="admin-box-title">Jane Cooper<span>Tatil Diyalizi</span></div>
                        <div class="admin-box-text">Hemodiyaliz</div>
                      </div>
                      <div class="right">
                        <div class="admin-box-text">15 Eylül 2021</div>
                        <div class="admin-box-text">18:00</div>
                      </div>
                    </div>
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#rezervationMessage3">
                  <div class="accordion-body">
                    <div class="form-group">
                      <label for="center-about">Özel Notlar</label>
                      <textarea class="form-control" id="center-about" rows="3" placeholder="Morbi euismod cras rhoncus eget laoreet et ridiculus metus, mi arcu ultricies id libero dictum commodo eleifend aenean scelerisque purus orci penatibus senectus elit mattis tristique lectus sed egestas risus enim pulvinar feugiat egestas nam urna pellentesque adipiscing egestas eu"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <div id="suggestion">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="suggestion-button">
            <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png" alt="Icon Suggestion" />Öneriler</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../partials/footer") %>
  <!-- partial -->
</div>
