<div class="main-panel">
  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row">
        <div class="tm-section-title">Merkez Fotoğrafları</div>
        <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
          <form class="tm-form-wide">
            <div class="photo-buttons">
              <button type="button" class="button-choose">Tümünü Seç</button>
              <button type="button" class="button-choose pale">Tüm Seçimleri Kaldır</button>
              <button type="button" class="button-choose pale">Seçilenleri Sil</button>
            </div>
            <div class="upload upload-theme-dragdropbox">
              <input style="z-index: 999; opacity: 0; width: 100%; height: 100%; position: absolute; right: 0px; left: 0px; margin-right: auto; margin-left: auto" name="files[]" id="filer_input2" multiple="multiple" type="file" />
              <div class="upload-input-dragDrop">
                <div class="upload-input-inner">
                  <div class="upload-input-icon"><img src="../clinic-panel/images/icons/image-choose.png" alt="Image Choose Icon" /></div>
                  <div class="upload-input-text">
                    <div>Eklemek istediğinizi fotoğrafları bu alana sürükleyerek bırakabilirsiniz</div>
                    <div class="tm-margin-1">veya</div>
                  </div>
                  <a class="btn-forth">Yükleyin</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="uploaded-image mb-3">
                  <img src="../clinic-panel/images/upload-images/upload-image-1.png" alt="Upload Image 1" />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="uploaded-image mb-3">
                  <img src="../clinic-panel/images/upload-images/upload-image-2.png" alt="Upload Image 2" />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="uploaded-image mb-3">
                  <img src="../clinic-panel/images/upload-images/upload-image-3.png" alt="Upload Image 3" />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="uploaded-image mb-3">
                  <img src="../clinic-panel/images/upload-images/upload-image-4.png" alt="Upload Image 4" />
                </div>
              </div>
            </div>

            <div class="uploaded-button">
              <button type="button" class="btn-second">Değişiklikleri Kayıt Et</button>
            </div>
          </form>
        </div>
        
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
          <div class="tm-box-info">
            <div class="tm-box-top">
              <div class="col d-flex align-items-start">
                <div class="me-1"><img src="../user/img/clinic/attention.png" alt="Attention Icon" /></div>
                <div class="tm-box-title">Merkezimin fotoğrafları kalitesiz ne yapmalıyım?</div>
              </div>
            </div>
            <div class="tm-box-bottom">
              <div>Sorun değil! Akıllı telefon veya dijital kamera kullanabilirsiniz. Merkezinizin en az 8 fotoğrafını şimdi eklemeniz gerekmekte. Daha sonra yeni çektiğiniz fotoğraflarınızı ekleyebilirsiniz.</div>
              <div>Daha önce yüklemiş olduğunuz fotoğrafları dilediğiniz gibi değiştirip, kaldırabilirsiniz.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <div id="suggestion">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="suggestion-button">
            <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png" alt="Icon Suggestion" />Öneriler</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../partials/footer") %>
  <!-- partial -->
</div>
