<div class="main-panel">
  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row">
        <div class="tm-section-title mb-1">Görünürlüğünüzü Arttırın</div>
        <div class="admin-inner-text">Sadece 3 adımda merkezinizin boş diyaliz cihazlarını doldurabilir ve hastalarınızın ilgilerini çekebilirsiniz.</div>
        <!--=====Hangi tarihlerde görünürlüğünüzü arttırmak istersiniz?=====-->
        <div class="col-sm-12 col-md-12 col-lg-7 col-xl-8 visibilty">
          <div class="tm-section-title blue mb-0 mt-5">Hangi tarihlerde görünürlüğünüzü arttırmak İstersiniz?</div>
          <div class="admin-inner-text">Sadece 3 adımda merkezinizin boş diyaliz cihazlarını doldurabilir ve hastalarınızın ilgilerini çekebilirsiniz.</div>
          <div class="dropdown-custom">
            <div class="form-group">
              <label for="job-dropdown">Ay Seçiniz</label>
              <select name="month" class="form-control" id="month">
                <option value="">Ocak</option>
                <option value="1">Şubat</option>
                <option value="2">Mart</option>
                <option value="3">Nisan</option>
                <option value="4">Mayıs</option>
                <option value="5">Haziran</option>
                <option value="6">Temmuz</option>
                <option value="7">Ağustos</option>
                <option value="8">Eylül</option>
                <option value="9">Ekim</option>
                <option value="10">Kasım</option>
                <option value="11">Aralık</option>
              </select>
              <img src="../clinic-panel/images/icons/down-admin.png" alt="Down Admin Icon" class="dropdown-down" />
            </div>
          </div>
          <div class="tm-section-title blue mb-0 mt-5">Hastalarınızın dikkatini çekmek istediğiniz lokasyonlar neler?</div>
          <div class="admin-inner-text">Belirli lokasyonlarda ki hastaların ilgisini çekin ya da görünürlüğünüzü herkes için arttırın.</div>
          <!--=====Hastalarınızın dikkatini çekmek istediğiniz lokasyonlar neler?=====-->
          <div class="form-group d-flex flex-row radio same-row">
            <div class="row">
              <div class="col">
                <label class="custom container"
                  >Belirli ülke
                  <input type="radio" checked="checked" name="radio" />
                  <span class="checkmark"></span>
                  <div class="tooltip-custom">
                    <img src="../clinic-panel/images/icons/question.png" alt="Question Icon" class="tooltip-custom" />
                    <span class="tooltiptext">Seçtiğiniz ülkeyi aratan kullanıcılarda en önde görünürsünüz. </span>
                  </div>
                </label>
              </div>
              <div class="col">
                <label class="custom container unselected"
                  >Bulunduğun İl
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                  <div class="tooltip-custom">
                    <img src="../clinic-panel/images/icons/question-pale.png" alt="Question Icon" class="tooltip-custom" />
                    <span class="tooltiptext">Tooltip text</span>
                  </div>
                </label>
              </div>
              <div class="col">
                <label class="custom container unselected"
                  >Bulunduğun İlçe
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                  <div class="tooltip-custom">
                    <img src="../clinic-panel/images/icons/question-pale.png" alt="Question Icon" class="tooltip-custom" />
                    <span class="tooltiptext">Tooltip text</span>
                  </div>
                </label>
              </div>
              <div class="col">
                <label class="custom container unselected"
                  >Anasayfa Önerilen Merkezler
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                  <div class="tooltip-custom">
                    <img src="../clinic-panel/images/icons/question-pale.png" alt="Question Icon" class="tooltip-custom" />
                    <span class="tooltiptext">Tooltip text</span>
                  </div>
                </label>
              </div>
              <div class="col">
                <label class="custom container unselected"
                  >Ülke Seçiniz
                  <input type="radio" name="radio" />
                  <span class="checkmark"></span>
                  <div class="tooltip-custom">
                    <img src="../clinic-panel/images/icons/question-pale.png" alt="Question Icon" class="tooltip-custom" />
                    <span class="tooltiptext">Tooltip text</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="tm-section-title blue mb-0 mt-5">Fiyatlandırmalar</div>
          <div class="admin-inner-text">Seçimlerinize göre fiyatlandırma aşağıda yer almaktadır. Ulaşabileceğiniz hasta sayıları yalnızca öngörüdür.</div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
              <div class="tm-form-wide">
                <div class="form-group radio small">
                  <label class="container">Belirli ülke/bölge
                    <input type="radio" checked="checked" name="radio2" />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="admin-inner-text mb-2">Temmuz-Ağustos aylarında, Avrupa bölgesinde geçerli olacaktır.</div>
                <div class="tm-space-between">
                  <div>
                    <div class="tm-font-semibold mb-1">Merkezinizin Tahmini Görüntülenme Sayısı</div>
                    <div class="tm-color-second tm-font-semibold">250-500 Görüntülenme</div>
                  </div>
                  <div class="token-number">99 Dialysis Token</div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
              <div class="visibility-button">
                <button class="btn-second mb-5">Değişiklikleri Kaydet</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-4">
          <div class="tm-box-info">
            <div class="tm-box-top">
              <div class="col d-flex align-items-start">
                <div class="me-1"><img src="../user/img/clinic/attention.png" alt="Attention Icon" /></div>
              <div class="tm-box-title">Dialysing.com öne çıkma ücretleri</div>
            </div>
            </div>
            <div class="tm-box-bottom">
              <div>Kullanıcıların arattığı merkez listelerinde, seçtiğiniz bölgeye göre listede en başa çıkmak için fiyat listesi aşağıdadır.</div>
              <ul>
                <li>1 Ay - 99 Dialysis Token</li>
                <li>3 Ay- 199 Dialysis Token</li>
                <li>6 Ay- 349 Dialysis Token</li>
                <li>12 Ay-599 Dialysis Token</li>
              </ul>
              <div>Aynı anda farklı bölgelerde öne çıkmak isterseniz promosyonlar bölümünden size uygun promosyonu seçebilirsiniz.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <div id="suggestion">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="suggestion-button">
            <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png" alt="Icon Suggestion" />Öneriler</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../partials/footer") %>
  <!-- partial -->
</div>
