<div class="main-panel">
  <div class="content-wrapper">
    <div id="section-i" class="tm-p">
      <div class="row">
        <div class="tm-section-title">Yakınlarda ne var?</div>
        <div class="admin-inner-text">Yapılan analizlere göre merkez yakınlarında neler olduğunu belirten merkezlerin rezervasyon sayılarında %30 artış görülmüştür</div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-8">
          <form class="tm-form-wide">
            <div class="clinic-form-title">Hastaneler</div>
            <div class="row mb-5">
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label for="name-surname">İsim</label>
                  <input type="text" class="form-control" id="name-surname" placeholder="İsim" />
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label for="distance">Uzaklık</label>
                  <input type="text" class="form-control" id="distance" placeholder="Uzaklık" />
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                <button type="" class="button-add"><img src="../clinic-panel/images/icons/add-button.png" alt="Add Button Icon" />Yeni bir tane ekle</button>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Şişli Etfal Hastanesi</div>
                  <div class="clinic-center-km">0.2 km</div>
                </div>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Devlet Hastanesi</div>
                  <div class="clinic-center-km">0.6 km</div>
                </div>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Apeks Tıp Merkezi</div>
                  <div class="clinic-center-km">1 km</div>
                </div>
              </div>
            </div>
            <div class="clinic-form-title tm-margin-t-1">Eczaneler</div>
            <div class="row mb-5">
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label for="name-surname2">İsim</label>
                  <input type="text" class="form-control" id="name-surname2" placeholder="İsim" />
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label for="distance2">Uzaklık</label>
                  <input type="text" class="form-control" id="distance2" placeholder="Uzaklık" />
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-612 col-xl-6">
                <button type="" class="button-add"><img src="../clinic-panel/images/icons/add-button.png" alt="Add Button Icon" />Yeni bir tane ekle</button>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Fındıkoğlu Eczanesi</div>
                  <div class="clinic-center-km">0.2 km</div>
                </div>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Şifa Eczanesi</div>
                  <div class="clinic-center-km">0.6 km</div>
                </div>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Helteca Eczanesi</div>
                  <div class="clinic-center-km">1 km</div>
                </div>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Med Eczanesi</div>
                  <div class="clinic-center-km">2 km</div>
                </div>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Med Eczanesi</div>
                  <div class="clinic-center-km">2.5 km</div>
                </div>
              </div>
            </div>
            <div class="clinic-form-title tm-margin-t-1">Çevre Oteller</div>
            <div class="row mb-5">
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label for="name-surname3">İsim</label>
                  <input type="text" class="form-control" id="name-surname3" placeholder="İsim" />
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label for="distance3">Uzaklık</label>
                  <input type="text" class="form-control" id="distance3" placeholder="Uzaklık" />
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-612 col-xl-6">
                <button type="" class="button-add"><img src="../clinic-panel/images/icons/add-button.png" alt="Add Button Icon" />Yeni bir tane ekle</button>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Hilton Otel</div>
                  <div class="clinic-center-km">0.2 km</div>
                </div>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Four Seasons</div>
                  <div class="clinic-center-km">0.6 km</div>
                </div>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Sultanbeyli Otel</div>
                  <div class="clinic-center-km">1 km</div>
                </div>
              </div>
            </div>
            <div class="clinic-form-title tm-margin-t-1">Gezilecek Noktalar</div>
            <div class="row mb-5">
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label for="name-surname4">İsim</label>
                  <input type="text" class="form-control" id="name-surname4" placeholder="İsim" />
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label for="distance4">Uzaklık</label>
                  <input type="text" class="form-control" id="distance4" placeholder="Uzaklık" />
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-612 col-xl-6">
                <button type="" class="button-add"><img src="../clinic-panel/images/icons/add-button.png" alt="Add Button Icon" />Yeni bir tane ekle</button>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Ayasofya Cami</div>
                  <div class="clinic-center-km">0.2 km</div>
                </div>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Kız Kulesi</div>
                  <div class="clinic-center-km">0.6 km</div>
                </div>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Topkapı Sarayı</div>
                  <div class="clinic-center-km">1 km</div>
                </div>
              </div>
            </div>
            <div class="clinic-form-title tm-margin-t-1">Havaalanı</div>
            <div class="row mb-5">
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label for="name-surname5">İsim</label>
                  <input type="text" class="form-control" id="name-surname5" placeholder="İsim" />
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label for="distance5">Uzaklık</label>
                  <input type="text" class="form-control" id="distance5" placeholder="Uzaklık" />
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-612 col-xl-6">
                <button type="" class="button-add"><img src="../clinic-panel/images/icons/add-button.png" alt="Add Button Icon" />Yeni bir tane ekle</button>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">İstanbul Havaalanı</div>
                  <div class="clinic-center-km">0.2 km</div>
                </div>
              </div>
            </div>
            <div class="clinic-form-title tm-margin-t-1">Ulaşım Hatları</div>
            <div class="row mb-5">
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label for="name-surname6">İsim</label>
                  <input type="text" class="form-control" id="name-surname6" placeholder="İsim" />
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label for="distance6">Uzaklık</label>
                  <input type="text" class="form-control" id="distance6" placeholder="Uzaklık" />
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-612 col-xl-6">
                <button type="" class="button-add"><img src="../clinic-panel/images/icons/add-button.png" alt="Add Button Icon" />Yeni bir tane ekle</button>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Metro İstasyonu</div>
                  <div class="clinic-center-km">0.2 km</div>
                </div>
              </div>
            </div>
            <div class="clinic-form-title tm-margin-t-1">Restaurant ve Cafeler</div>
            <div class="row mb-5">
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label for="name-surname7">İsim</label>
                  <input type="text" class="form-control" id="name-surname7" placeholder="İsim" />
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label for="distance7">Uzaklık</label>
                  <input type="text" class="form-control" id="distance7" placeholder="Uzaklık" />
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-612 col-xl-6">
                <button type="" class="button-add"><img src="../clinic-panel/images/icons/add-button.png" alt="Add Button Icon" />Yeni bir tane ekle</button>
                <div class="clinic-center-text">
                  <div class="clinic-center-name">Big Chefs</div>
                  <div class="clinic-center-km">0.2 km</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mt-5">
          <div class="tm-box-info">
            <div class="tm-box-top">
              <div class="col d-flex align-items-start">
                <div class="me-1">
                <img src="../user/img/clinic/attention.png" alt="Attention Icon" /></div>
                <div class="tm-box-title">Bu bilgileri eklerken dikkat etmem gerekenler neler?</div>
              </div>
            </div>
            <div class="tm-box-bottom">
              <div>Hastalarınızın merkezinize ulaşmasından tedavi aralarında ulaşım sağlayabilecek olduğu noktaları doğru girmek, merkezinizin lokasyonunu ve avantajlarını ortaya çıkartmaktadır. Tercih edilme sebeplerinizden bir kısımıda bazı hastalarınız için lokasyonunuz ve çevresindekiler olabilir.</div>
              <div>Lütfen vermediğiniz hizmetleri işaretlemekten kaçınınız.Doğru ve eksik bilgi girmediğinizden emin olmaya lütfen gayret gösterin.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <div id="suggestion">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="suggestion-button">
            <button type="button" class="btn-second suggestion"><img src="../clinic-panel/images/icons/suggestion.png" alt="Icon Suggestion" />Öneriler</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../partials/footer") %>
  <!-- partial -->
</div>
