<div class="tm-main-content" id="top">
  <!--======= FOLLOW BAR =====-->
  <div id="section-i" class="tm-p tm-pt-20 mt-5">
    <div class="container">
      <div class="tm-steps">
        <div class="tm-step active">
          Merkezinizin Adı
          <div class="tm-s-steps">
            <div class="tm-s-step"></div>
            <div class="tm-s-step active"></div>
            <div class="tm-s-step"></div>
            <div class="tm-s-step"></div>
            <div class="tm-s-step"></div>
          </div>
        </div>
        <div class="tm-step">Merkez Detayları</div>
        <div class="tm-step">Önizleme</div>
      </div>
    </div>
  </div>

  <!--======= CENTER BAR =====-->
  <div id="section-ii" class="tm-margin-3">
    <div class="container">
      <div class="tm-section-title">Merkezinizin Adı Nedir?</div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <form class="tm-form-wide" autocomplete="off" onkeypress="return event.keyCode != 13;" >
            <div class="form-group">
              <label for="center-name">Merkezin Adını Girin</label>
              <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Merkez adını giriniz" />
            </div>
          </form>

          <form id="clinicListForm" class="tm-form-wide" action="/panel/company-information" method="POST">
            <ul id="clinicList"></ul>
            <button type="submit" class="btn btn-secondary mx-2">Sonraki Adım</button>
          </form>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
          <!--======= INFORMATION CARD =====-->
          <div class="tm-box-info">
            <div class="tm-box-top">
              <div class="col d-flex align-items-start">
                <div class="me-1"><img src="../user/img/clinic/attention.png" alt="Attention Icon" /></div>
                <div class="tm-box-title text-dark">Merkezinizin Temsil Hakları Tamamen Size Ait mi?</div>
              </div>
            </div>
            <div class="tm-box-bottom">
              <div>Seçmiş olduğunuz merkezin yasal temsil haklarının size ait olduğunu bir sonraki adıma geçerek onaylamış olacaksınız. Bir yanlışlık olduğunu veyahut hakların size ait olmadığını düşünüyorsanız lütfen seçiminizi tekrar gözden geçirin.</div>
              <div>Merkezinizin size ait olduğunu doğrulayabilmemiz için bu bilgilerin eksiksiz ve doğru girilmesi gerekmektedir.</div>
              <div>Ruhsat üzerinde ki isimi birebir doğru yazdığınızdan emin olun.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const searchBox = document.getElementById("companyName");
  const centerList = document.getElementById("clinicList");

  searchBox.addEventListener("keyup", function (event) {
    event.preventDefault();
    if (event.target.value.length > 2) {
      centerList.innerHTML= "";
      $.post("/panel/choose-center-get-clinic-list", { companyName: event.target.value }, function (response) {
        document.getElementById("clinicListForm").style.display = "block";
        if(response.length > 0) {
        response.forEach((element) => {
          if (!centerList.innerHTML.includes(element._id)) {
            var schema = `<div class="form-group checkbox">
              <input class="form-check-input" name="companyId" type="radio" value="${element._id}" id="${element._id}" />
              <label class="form-check-label" for="${element._id}"> ${element.companyInformation.companyName} </label>
            </div>`;
            var li = document.createElement("li");
            li.innerHTML = schema;
            centerList.appendChild(li);
          }
        });
        }else{
          var li = document.createElement("li");
            li.innerHTML = `<div class="tm-text-info">Girdiğiniz isimle kayıtlı merkez bulunmamaktadır. Yeni diyaliz merkezi kaydı için tıklayınız..</div>`;
            centerList.appendChild(li);
        }
      });
    } else {
      document.getElementById("clinicListForm").style.displayy = "none";
      centerList.innerHTML = "";
    }
  });
</script>
