<div class="tm-main-content" id="top">
  <!--======= FOLLOW BAR =====-->
  <div id="section-i" class="tm-p tm-pt-20">
    <div class="container">
      <div class="tm-steps">
        <div class="tm-step active">
          Kişisel Bilgiler
          <div class="tm-s-steps">
            <div class="tm-s-step active"></div>
            <div class="tm-s-step"></div>
            <div class="tm-s-step"></div>
            <div class="tm-s-step"></div>
            <div class="tm-s-step"></div>
          </div>
        </div>
        <div class="tm-step">Merkez Detayları</div>
        <div class="tm-step">Önizleme</div>
      </div>
    </div>
  </div>

  <!--======= PERSONEL INFORMATION =====-->
  <div id="section-ii" class="tm-margin-3">
    <div class="container">
      <div class="tm-section-title tm-clinic-title">Kişisel Bilgileriniz</div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <form class="tm-form-wide" action="/panel/choose-center" method="POST">
            <div class="form-group">
              <label for="name-surname">Ad Soyad</label>
              <input type="text" class="form-control" id="nameSurname" name="nameSurname" value="GELECEK" placeholder="Adınız Soyadınız" />
            </div>
            <div class="form-group">
              <label for="email">Email Adresi</label>
              <input type="email" class="form-control" id="email" name="email" value="GELECEK" aria-describedby="emailHelp" placeholder="Email Adresiz" />
            </div>
            <div class="form-group">
              <label for="phone">Cep Telefonu</label>
              <input type="tel" class="form-control" id="phone" name="phone" value="GELECEK" placeholder="Cep Telefonunuz" />
            </div>
            <div class="form-group">
              <label for="job-dropdown">Görevinizi Seçiniz</label>
              <div class="dropdown select">
                <select class="btn btn-dropdown dropdown-toggle" type="button" id="job" name="job" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <option selected>Göreviniz</option>
                  <option value="1">Başhekim</option>
                  <option value="2">Doktor</option>
                  <option value="3">Hemşire</option>
                </select>
              </div>
            </div>
            <div class="tm-button-next left">
              <!-- <a href=""
                ><button type="button" class="btn btn-outline-secondary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#025c91" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                  </svg></button
              ></a> -->
              <button type="submit" class="btn btn-secondary mx-2">Sonraki Adım</button>
            </div>
          </form>
        </div>

        <!--======= WARNING CARD =====-->
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <div class="tm-box-info">
            <div class="tm-box-top">
              <img src="../user/img/clinic/attention.png" alt="Attention Icon" />
              <div class="tm-box-title">Bilgilerimi girerken nelere dikkat etmeliyim?</div>
            </div>
            <div class="tm-box-bottom">
              <div>Kişisel bilgilerinizi eksiksiz ve doğru girdiğinizden lütfen emin olun. Merkezin size ait olduğunu doğrulayabilmemiz için bu bilgilerin eksiksiz ve doğru girilmesi gerekmektedir.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--======= ERROR MESSAGE =====-->
  <div id="section-iii" class="tm-p tm-pb-20">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-button-next">
          <!-- Modal -->
          <div class="modal fade error-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <img src="../user/img/icons/error.png" alt="Error Icon" />
                <p>Bu merkez daha önceden kayıt edilmiş bunun bir hata olduğunu düşünüyorsan hemen şirket bilgilerini doğrulat</p>
                <button href="./clinic-choose-center.html" class="btn-second">Kayıt Oluştur</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
