<div class="tm-main-content" id="top">
  <!--======= FOLLOW BAR =====-->
  <div id="section-i" class="tm-p-3 tm-pt-20">
    <div class="container">
      <div class="tm-steps">
        <div class="tm-step">
          <img src="../user/img/clinic/icons/completed.png" alt="Icon Completed" />
          Tamamlandı
        </div>
        <div class="tm-step active">
          Hizmetler
          <div class="tm-s-steps">
            <div class="tm-s-step"></div>
            <div class="tm-s-step active"></div>
            <div class="tm-s-step"></div>
            <div class="tm-s-step"></div>
          </div>
        </div>
        <div class="tm-step">Önizleme</div>
      </div>
    </div>
  </div>

  <!--======= TEDAVİ İMKANLARI =====-->
  <div id="section-ii" class="tm-p-3 tm-pb-20">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="tm-section-title tm-clinic-title">Tedavi İmkanları</div>
          <form class="tm-form-wide" action="/panel/payment-option" method="POST">
            <div class="form-box">
              <div class="title">Diyaliz Tedavi Tipleri</div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Hemodiyaliz" name="dialysisType" id="dialysisType" disabled checked />
                <label class="form-check-label selected" for="dialysisType"> Hemodiyaliz </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Hemodiyafiltrasyon" name="dialysisType" id="dialysisType" />
                <label class="form-check-label" for="dialysisType"> Hemodiyafiltrasyon </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Merkezde Gece Hemodiyalizi" name="dialysisType" id="dialysisType" />
                <label class="form-check-label" for="dialysisType"> Merkezde Gece Hemodiyalizi </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Ev Hemodiyalizi" name="dialysisType" id="dialysisType" />
                <label class="form-check-label" for="dialysisType"> Ev Hemodiyalizi </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Hemşireli Ev Hemodiyalizi" name="dialysisType" id="dialysisType" />
                <label class="form-check-label" for="dialysisType"> Hemşireli Ev Hemodiyalizi </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Periton Diyalizi" name="dialysisType" id="dialysisType" />
                <label class="form-check-label" for="dialysisType"> Periton Diyalizi </label>
              </div>
            </div>
            <div class="form-box">
              <div class="title">Seans İçi Hizmetler</div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Seans İçi Yiyecek Sunumu" name="inSessionService" id="inSessionService" checked />
                <label class="form-check-label selected" for="inSessionService"> Seans İçi Yiyecek Sunumu </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Ücretsiz Ulaşım Hizmeti" name="inSessionService"  id="inSessionService" />
                <label class="form-check-label" for="inSessionService"> Ücretsiz Ulaşım Hizmeti </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Kişiye Özel Tv Hizmeti" name="inSessionService"  id="inSessionService" />
                <label class="form-check-label" for="inSessionService"> Kişiye Özel Tv Hizmeti </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Ücretsiz Wifi Hizmeti" name="inSessionService"  id="inSessionService" />
                <label class="form-check-label" for="inSessionService"> Ücretsiz Wifi Hizmeti </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Tedavi Salonlarında Klima" name="inSessionService"  id="inSessionService" />
                <label class="form-check-label" for="inSessionService"> Tedavi Salonlarında Klima </label>
              </div>
            </div>
            <div class="form-box">
              <div class="title">Konuşulan Diller (Personel)</div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Türkçe" name="languages" id="languages" checked />
                <label class="form-check-label selected" for="languages"> Türkçe </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="İngilizce" name="languages" id="languages" />
                <label class="form-check-label" for="languages"> İngilizce </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Rusça" name="languages" id="languages" />
                <label class="form-check-label" for="languages"> Rusça </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Arapça" name="languages" id="languages" />
                <label class="form-check-label" for="languages"> Arapça </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="İspanyolca" name="languages" id="languages" />
                <label class="form-check-label" for="languages"> İspanyolca </label>
              </div>
              <div>
                <a href="#" class="tm-link">Farklı bir dil eklemek için tıklayın</a>
              </div>
            </div>
            <div class="form-box">
              <div class="title">Tercüman Hizmeti</div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Ücretli" name="interpreterPrice" id="interpreterPrice" checked />
                <label class="form-check-label selected" for="interpreterPrice"> Ücretli </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Ücretsiz" name="interpreterPrice" id="interpreterPrice" />
                <label class="form-check-label" for="interpreterPrice"> Ücretsiz </label>
              </div>
            </div>
            <div class="tm-button-next left">
              <a href="./clinic-details.html"
                ><button type="button" class="btn btn-outline-secondary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#025c91" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                  </svg></button
              ></a>
              <button type="submit" class="btn btn-secondary mx-2">Sonraki Adım</button>
            </div>
          </form>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <div class="tm-section-title tm-clinic-subtitle mt-1">Bu Adımı Atla</div>

          <!--======= INFORMATION CARD =====-->
          <div class="tm-box-info">
            <div class="tm-box-top">
              <img src="../user/img/clinic/attention.png" alt="Attention Icon" />
              <div class="tm-box-title">Bu adımları atlamanızı önermiyoruz.</div>
            </div>
            <div class="tm-box-bottom">
              <div>Bu bilgileri dilediğiniz gibi sonra doldurabilirsiniz fakat Dialysing.com olarak tüm bilgileri eksiksiz ve sırasıyla doldurmanızı ziyaretçilerinizin dikkatini daha fazla çekebilmeniz adına öneriyoruz</div>
            </div>
          </div>
          <!--======= INFORMATION CARD =====-->
          <div class="tm-box-info">
            <div class="tm-box-top">
              <img src="../user/img/clinic/attention.png" alt="Attention Icon" />
              <div class="tm-box-title">Bilgileri daha sonrasında değiştirebiliyor muyum?</div>
            </div>
            <div class="tm-box-bottom">
              <div>Bu bilgileri merkezinizi listeledikten sonra güncelleyebilir veya değiştirebilirsiniz. Bu bilgilerin doğru girilmesi hastalarınızın merkezinize daha rahatça ulaşabilmesi içindir.</div>
              <div>Lütfen merkezinizde sağlamadığınız hizmetleri bu listeden seçmeyiniz.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
