<div class="tm-main-content" id="top">
  <!--======= FOLLOW BAR =====-->
  <div id="section-i" class="tm-p-3 tm-pt-20">
    <div class="container">
      <div class="tm-steps">
        <div class="tm-step">
          <img src="../user/img/clinic/icons/completed.png" alt="Icon Completed" />
          Tamamlandı
        </div>
        <div class="tm-step active">
          Merkez Detayları
          <div class="tm-s-steps">
            <div class="tm-s-step active"></div>
            <div class="tm-s-step"></div>
            <div class="tm-s-step"></div>
            <div class="tm-s-step"></div>
          </div>
        </div>
        <div class="tm-step">Önizleme</div>
      </div>
    </div>
  </div>

  <!--======= CENTER DETAILS =====-->
  <div id="section-ii" class="tm-p-3 tm-pb-20">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
          <div class="tm-section-title tm-clinic-title">Merkez Detayları</div>
          <form class="tm-form-wide" action="/panel/clinic-services" method="POST">
            <div class="form-box"> 
              <div class="title">Merkez Binası Tipi</div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" id="buildType" name="buildType" value="Müstakil Binalı Merkezler" />
                <label class="form-check-label" for="buildType"> Müstakil Binalı Merkezler </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" id="buildType1" name="buildType" value="Müstakil Binada Olmayan Merkezler" />
                <label class="form-check-label" for="buildType1"> Müstakil Binada Olmayan Merkezler </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" id="buildType2" name="buildType" value="Hastane İçi Merkezler" />
                <label class="form-check-label" for="buildType2"> Hastane İçi Merkezler </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" id="buildType3" name="buildType" value="Diğer" />
                <label class="form-check-label" for="buildType3"> Diğer </label>
              </div>
            </div>
            <div class="form-box">
              <div class="title">Diyaliz Merkeziniz</div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" id="centerType" name="centerType" value="Özel Merkez" />
                <label class="form-check-label" for="centerType"> Özel Merkez </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" id="centerType1" name="centerType" value="Kamuya Ait Diyaliz Merkezi" />
                <label class="form-check-label" for="centerType1"> Kamuya Ait Diyaliz Merkezi </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" id="centerType2" name="centerType" value="Üniversite Diyaliz Merkezi" />
                <label class="form-check-label" for="centerType2"> Üniversite Diyaliz Merkezi </label>
              </div>
            </div>
            <div class="form-box">
              <div class="title">Merkez Hasta Aracı Otoparkı</div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Kapalı Otopark İmkanı" name="parkingType" id="parkingType" />
                <label class="form-check-label" for="parkingType"> Kapalı Otopark İmkanı </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Açık Otopark İmkanı"  name="parkingType" id="parkingType" />
                <label class="form-check-label" for="parkingType"> Açık Otopark İmkanı </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Yakın Çevrede Otopark İmkanı"  name="parkingType" id="parkingType" />
                <label class="form-check-label" for="parkingType"> Yakın Çevrede Otopark İmkanı </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Otopark İmkanı Yok"  name="parkingType" id="parkingType" />
                <label class="form-check-label" for="parkingType"> Otopark İmkanı Yok </label>
              </div>
            </div>
            <div class="form-box">
              <div class="title">Tesis İçi İmkanlar</div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Tekerlekli Sandalye Kullanım" name="useChair" id="useChair" checked />
                <label class="form-check-label" for="useChair"> Tekerlekli Sandalye Kullanım </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Tutunma Kollu Tuvalet"  name="toilet" id="toilet" />
                <label class="form-check-label" for="toilet"> Tutunma Kollu Tuvalet </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Giriş-Çıkış Alanlarında Klima"  name="enterField"  id="enterField" />
                <label class="form-check-label" for="enterField"> Giriş-Çıkış Alanlarında Klima </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Hassas Tartı"  name="weighter"  id="weighter" />
                <label class="form-check-label" for="weighter"> Hassas Tartı </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Rampalı Hassas Tartı"  name="rampScale"  id="rampScale" checked />
                <label class="form-check-label" for="rampScale"> Rampalı Hassas Tartı </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Kişisel Eşyalar İçin Kilitli Dolap"  name="itemLock"  id="itemLock" />
                <label class="form-check-label" for="itemLock"> Kişisel Eşyalar İçin Kilitli Dolap </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Hasta Aracı Otoparkı"  name="patientParking"  id="patientParking" />
                <label class="form-check-label" for="patientParking"> Hasta Aracı Otoparkı </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Ambulans Hizmeti"  name="ambulance"  id="ambulance" />
                <label class="form-check-label" for="ambulance"> Ambulans Hizmeti </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="7/24 Ulaşılabilirlik"  name="availability"  id="availability" />
                <label class="form-check-label" for="availability"> 7/24 Ulaşılabilirlik </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="İzole Hasta Odası"  name="patientRoom"  id="patientRoom" />
                <label class="form-check-label" for="patientRoom"> İzole Hasta Odası </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="El Kumandalı Otomatik Yatak"  name="automaticBed"  id="automaticBed" />
                <label class="form-check-label" for="automaticBed"> El Kumandalı Otomatik Yatak </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Hava Filtreleme Cihazı"  name="filteringDevice"  id="filteringDevice" />
                <label class="form-check-label" for="filteringDevice"> Hava Filtreleme Cihazı </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Sedyeli Hasta Servisi"  name="stretcherPatientService"  id="stretcherPatientService" />
                <label class="form-check-label" for="stretcherPatientService"> Sedyeli Hasta Servisi </label>
              </div>
            </div>
            <div class="tm-button-next left">
              <a href="/panel/address-correction"
                ><button type="button" class="btn btn-outline-secondary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#025c91" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                  </svg></button
              ></a>
              <a href="./clinic-payment-option.html"><button type="submit" class="btn btn-secondary mx-2">Sonraki Adım</button></a>
            </div>
          </form>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
          <div class="tm-section-title tm-clinic-subtitle"><a href="./clinic-services.html">Bu Adımı Atla</a></div>
          <!--======= INFORMATION CARD =====-->
          <div class="tm-box-info">
            <div class="tm-box-top">
              <div class="col d-flex align-items-start">
              <img src="../user/img/clinic/attention.png" alt="Attention Icon" />
              <div class="tm-box-title">Bu adımları atlamanızı önermiyoruz.</div>
            </div>
            </div>
            <!--======= INFORMATION CARD =====-->
            <div class="tm-box-bottom">
              <div>Bu bilgileri dilediğiniz gibi sonra doldurabilirsiniz fakat Dialysing.com olarak tüm bilgileri eksiksiz ve sırasıyla doldurmanızı ziyaretçilerinizin dikkatini daha fazla çekebilmeniz adına öneriyoruz</div>
            </div>
          </div>
          <div class="tm-box-info">
            <div class="tm-box-top">
              <div class="col d-flex align-items-start">
              <img src="../user/img/clinic/attention.png" alt="Attention Icon" />
              <div class="tm-box-title">Bilgileri daha sonrasında değiştirebiliyor muyum?</div>
            </div>
            </div>
            <!--======= INFORMATION CARD =====-->
            <div class="tm-box-bottom">
              <div>Bu bilgileri merkezinizi listeledikten sonra güncelleyebilir veya değiştirebilirsiniz. Bu bilgilerin doğru girilmesi hastalarınızın merkezinize daha rahatça ulaşabilmesi içindir.</div>
              <div>Lütfen merkezinizde sağlamadığınız hizmetleri bu listeden seçmeyiniz.</div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
