<div class="tm-main-content" id="top">
  <!--======= FOLLOW BAR =====-->
  <div id="section-i" class="tm-p-3 tm-pt-20">
    <div class="container">
      <div class="tm-steps">
        <div class="tm-step">
          <img src="../user/img/clinic/icons/completed.png" alt="Icon Completed" />
          Tamamlandı
        </div>
        <div class="tm-step active">
          Doktorlar
          <div class="tm-s-steps">
            <div class="tm-s-step"></div>
            <div class="tm-s-step"></div>
            <div class="tm-s-step"></div>
            <div class="tm-s-step active"></div>
          </div>
        </div>
        <div class="tm-step">Önizleme</div>
      </div>
    </div>
  </div>

  <div id="section-ii" class="tm-p-3 tm-pb-20">
    <div class="container">
      <div class="row">
        <!--======= MERKEZ SAĞLIK ÇALIŞANLARI =====-->
        <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
          <div class="tm-section-title tm-clinic-title">Merkez Sağlık Çalışanları</div>
          <form class="tm-form-wide" autocomplete="off" onkeypress="return event.keyCode != 13;">
            <div class="form-box">
              <div class="title">Sağlık Çalışanı Adı Soyadı</div>
              <div class="form-group">
                <input type="text" class="form-control" id="employeeNameSurname" name="employeeNameSurname" placeholder="Sağlık Çalışanı Adı Soyadı" />
              </div>
            </div>
            <div class="form-box">
              <div class="title">Merkezimizdeki Görevi</div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" value="Nefroloji Uzmanı" name="employeeJob" id="nefroloji" checked />
                <label class="form-check-label selected" for="nefroloji"> Nefroloji Uzmanı </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" value="Mesul Müdür" name="employeeJob" id="ceo" />
                <label class="form-check-label" for="ceo"> Mesul Müdür </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" value="Sorumlu Hekim" name="employeeJob" id="responsibleDoctor" />
                <label class="form-check-label" for="responsibleDoctor"> Sorumlu Hekim </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" value="Merkez Başhemşiresi" name="employeeJob" id="centerNurse" />
                <label class="form-check-label" for="centerNurse"> Merkez Başhemşiresi </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" value="Diyetisyen" name="employeeJob" id="diyetisyen" />
                <label class="form-check-label" for="diyetisyen"> Diyetisyen </label>
              </div>
            </div>
            <div class="form-box">
              <div class="title">Akademik Eğitim Durumunu Seçiniz</div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" value="Profesör" name="academicEducation" id="proffessor" checked />
                <label class="form-check-label selected" for="proffessor"> Profesör </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" value="Uzman Hekim" name="academicEducation" id="expertDoctor" />
                <label class="form-check-label" for="expertDoctor"> Uzman Hekim </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" value="Doktor" name="academicEducation" id="doctor" />
                <label class="form-check-label" for="doctor"> Doktor </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" value="Hemşire" name="academicEducation" id="nurse" />
                <label class="form-check-label" for="nurse"> Hemşire </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="radio" value="Diyetisyen" name="academicEducation" id="dietis" />
                <label class="form-check-label" for="dietis"> Diyetisyen </label>
              </div>
            </div>
            <button type="button" class="btn btn-secondary" onclick="addPersonel()">Ekle</button>
            <div class="clinic-doctors">
              <div class="title mt-3">Sağlık Çalışanları</div>
              <ul id="clinic-doctor-list" name="personelList"></ul>
            </div>
            <div class="tm-button-next left">
              <a href="/panel/payment-option"
                ><button type="button" class="btn btn-outline-secondary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#025c91" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                  </svg></button
              ></a>
              <button type="button" onclick="save()" class="btn btn-secondary mx-2">Sonraki Adım</button>
            </div>
          </form>
        </div>
        <!--======= INFORMATION CARD =====-->
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
          <div class="tm-section-title tm-clinic-subtitle"><a href="#">Bu Adımı Atla</a></div>
          <div class="tm-box-info">
            <div class="tm-box-top">
              <div class="col d-flex align-items-start">
                <img src="../user/img/clinic/attention.png" alt="Attention Icon" />
                <div class="tm-box-title">Bu adımları atlamanızı önermiyoruz.</div>
              </div>
            </div>
            <div class="tm-box-bottom">
              <div>Bu bilgileri dilediğiniz gibi sonra doldurabilirsiniz fakat Dialysing.com olarak tüm bilgileri eksiksiz ve sırasıyla doldurmanızı ziyaretçilerinizin dikkatini daha fazla çekebilmeniz adına öneriyoruz</div>
            </div>
          </div>
          <div class="tm-box-info">
            <div class="tm-box-top">
              <div class="col d-flex align-items-start">
                <img src="../user/img/clinic/attention.png" alt="Attention Icon" />
                <div class="tm-box-title">Bilgileri daha sonrasında değiştirebiliyor muyum?</div>
              </div>
            </div>
            <div class="tm-box-bottom">
              <div>Bu bilgileri merkezinizi listeledikten sonra güncelleyebilir veya değiştirebilirsiniz. Bu bilgilerin doğru girilmesi hastalarınızın merkezinize daha rahatça ulaşabilmesi içindir.</div>
              <div>Lütfen merkezinizde sağlamadığınız hizmetleri bu listeden seçmeyiniz.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function addPersonel() {
    var nameSurname = document.getElementById("employeeNameSurname").value;
    var employeeJob = document.querySelector('input[name="employeeJob"]:checked').value;
    var academicEducation = document.querySelector('input[name="academicEducation"]:checked').value;

    var list = document.getElementById("clinic-doctor-list");

    var li = document.createElement("li");

    li.innerHTML = `<div class="text" employeeJob="${employeeJob}" academicEducation=${academicEducation} nameSurname=${nameSurname} >${employeeJob}: ${academicEducation} ${nameSurname}</div>`;

    list.appendChild(li);
  }

  function save() {
    var list = document.getElementById("clinic-doctor-list");
    var personelList = [];

    for (var i = 0; i < list.children.length; i++) {
      var nameSurname = list.children[i].getElementsByTagName("div")[0].getAttribute("nameSurname");
      var employeeJob = list.children[i].getElementsByTagName("div")[0].getAttribute("employeeJob");
      var academicEducation = list.children[i].getElementsByTagName("div")[0].getAttribute("academicEducation");

      personelList.push({
        employeeNameSurname: nameSurname,
        job: employeeJob,
        academicEducation: academicEducation,
      });
    }

    $.post("/panel/clinic-summary", { personelList }, function (data, status) {
      if (status == "success") {
        window.location.href = "/panel/clinic-summary";
      }
    });
  }
</script>
