<div class="tm-main-content" id="top">
  <!--======= FOLLOW BAR =====-->
  <div id="section-i" class="tm-p-3 tm-pt-20">
    <div class="container">
      <div class="tm-steps">
        <div class="tm-step">
          <img src="../user/img/clinic/icons/completed.png" alt="Icon Completed" />
          Tamamlandı
        </div>
        <div class="tm-step active">
          Ödeme Seçenekleri
          <div class="tm-s-steps">
            <div class="tm-s-step"></div>
            <div class="tm-s-step"></div>
            <div class="tm-s-step active"></div>
            <div class="tm-s-step"></div>
          </div>
        </div>
        <div class="tm-step">Önizleme</div>
      </div>
    </div>
  </div>

  <!--======= PAYMENT =====-->
  <div id="section-ii" class="tm-p-3 tm-pb-20">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
          <div class="tm-section-title tm-clinic-title">Ödeme İmkanları</div>
          <form class="tm-form-wide" action="/panel/doctors" method="POST">
            <div class="form-box">
              <div class="title">Yurtiçi Hastalar İçin</div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="SGK Anlaşması İle" name="paymentTypes" id="paymentTypes" />
                <label class="form-check-label" for="paymentTypes"> SGK Anlaşması İle </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Banka Sosyal Sigortalı Anlaşması" name="paymentTypes" id="paymentTypes1" />
                <label class="form-check-label" for="paymentTypes1"> Banka Sosyal Sigortalı Anlaşması </label>
              </div>
              <div class="inner-checkbox">
                <div class="form-group not-border checkbox">
                  <input class="form-check-input" type="checkbox" value="Garanti Bankası" name="paymentTypes" id="paymentTypes12" />
                  <label class="form-check-label" for="paymentTypes12"> Garanti Bankası </label>
                </div>
                <div class="form-group not-border checkbox">
                  <input class="form-check-input" type="checkbox" value="Ziraat Bankası" name="paymentTypes" id="paymentTypes13" />
                  <label class="form-check-label" for="paymentTypes13"> Ziraat Bankası </label>
                </div>
                <div class="form-group not-border checkbox">
                  <input class="form-check-input" type="checkbox" value="Akbank" name="paymentTypes" id="paymentTypes14" />
                  <label class="form-check-label" for="paymentTypes14"> Akbank </label>
                </div>
                <div class="form-group not-border checkbox">
                  <input class="form-check-input" type="checkbox" value="Yapıkredi" name="paymentTypes" id="paymentTypes15" />
                  <label class="form-check-label" for="paymentTypes15"> Yapıkredi </label>
                </div>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Yeşilkart Sigortası Anlaşması" name="paymentTypes" id="paymentTypes2" />
                <label class="form-check-label" for="paymentTypes2"> Yeşilkart Sigortası Anlaşması </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Özel Sağlık Sigortası İle" name="paymentTypes" id="paymentTypes3" />
                <label class="form-check-label" for="paymentTypes3"> Özel Sağlık Sigortası İle </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Diğer" name="paymentTypes" id="paymentTypes4" />
                <label class="form-check-label" for="paymentTypes4"> Diğer </label>
              </div>
              <div class="form-group">
                <label for="domesticPayment">Yurtiçi Seans Ücreti</label>
                <input type="text" class="form-control" id="domesticPayment" name="domesticPayment" value="20 TL" placeholder="Yurtiçi Seans Ücreti" />
              </div> 
            <div class="form-box">
              <div class="title">Yurtdışı Hastalar İçin</div>
              <div class="form-group not-border checkbox">
                <div class="tm-font-small tm-font-semibold">Merkezinizi yurtdışından gelecek tatil diyalizi rezervasyon taleplerine açmak ister misiniz?</div>
                <label class="tm-switch tm-margin-b-0">
                  <input type="checkbox" id="abroadPatients" name="abroadPatients" />
                  <span class="tm-slider tm-round"></span>
                </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Yurtdışı Sigortasından Direk Tahsilat" name="abroadPatientPaymentTypes" id="abroadPatientPaymentTypes" checked />
                <label class="form-check-label" for="abroadPatientPaymentTypes"> Yurtdışı Sigortasından Direk Tahsilat </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Kredi Kartı İle Tahsilat" name="abroadPatientPaymentTypes" id="abroadPatientPaymentTypes1" />
                <label class="form-check-label" for="abroadPatientPaymentTypes1"> Kredi Kartı İle Tahsilat </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Nakit Olarak Seans Sonrası Tahsilat" name="abroadPatientPaymentTypes" id="abroadPatientPaymentTypes2" />
                <label class="form-check-label" for="abroadPatientPaymentTypes2"> Nakit Olarak Seans Sonrası Tahsilat </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="Diğer" name="abroadPatientPaymentTypes" id="abroadPatientPaymentTypes3" />
                <label class="form-check-label" for="abroadPatientPaymentTypes3"> Diğer </label>
              </div>
              <div class="form-group">
                <label for="abroadPayment">Yurtdışı Seans Ücreti</label>
                <input type="text" class="form-control" id="abroadPayment" name="abroadPayment" value="20 $" placeholder="Yurtdışı Seans Ücreti" />
              </div> 
            </div>
            <div class="tm-button-next left">
              <a href="/panel/clinic-services"
                ><button type="button" class="btn btn-outline-secondary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#025c91" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                  </svg></button
              ></a>
              <button type="submit" class="btn btn-secondary mx-2">Sonraki Adım</button>
            </div>
          </form>
        </div>
        <!--======= INFORMATION CARD =====-->
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
          <div class="tm-section-title tm-clinic-subtitle mt-2"><a href="./clinic-doctors.html">Bu Adımı Atla</a></div>
          <div class="tm-box-info">
            <div class="tm-box-top">
              <div class="col d-flex align-items-start">
              <img src="../user/img/clinic/attention.png" alt="Attention Icon" />
              <div class="tm-box-title">Bu adımları atlamanızı önermiyoruz.</div>
            </div>
          </div>
            <div class="tm-box-bottom">
              <div>Bu bilgileri dilediğiniz gibi sonra doldurabilirsiniz fakat Dialysing.com olarak tüm bilgileri eksiksiz ve sırasıyla doldurmanızı ziyaretçilerinizin dikkatini daha fazla çekebilmeniz adına öneriyoruz</div>
            </div>
          </div>
          <div class="tm-box-info">
            <div class="tm-box-top">
              <div class="col d-flex align-items-start">
              <img src="../user/img/clinic/attention.png" alt="Attention Icon" />
              <div class="tm-box-title">Ödemeler hangi şekilde ilerlemekte?</div>
            </div>
          </div>
            <div class="tm-box-bottom">
              <div>Tedavi Ödemeleri hasta veya hastanın Sosyal Güvenlik Kurumu ile merkez arasında faturalama ve tahsilat yapılacak şekilde ilerlemektedir.</div>
              <div>Dialysing.com hiçbir şekilde hastalardan tahsilat işlemi içinde yer almamaktadır.</div>
            </div>
          </div>
          <div class="tm-box-info">
            <div class="tm-box-top">
              <div class="col d-flex align-items-start">
              <img src="../user/img/clinic/attention.png" alt="Attention Icon" />
              <div class="tm-box-title">Yurtdışından Gelen Tatil Rezervasyonları İçin</div>
            </div>
          </div>
            <div class="tm-box-bottom">
              <div>
                Dialysing.com merkezimize yurtdışından gelecek olan tatil diyalizi rezervasyonlarından tarafınızca kabul edilerek gerçekleştirilecek olan her bir tatil diyaliz seansı için merkez sözleşmenizde yer alan Hizmet Bedeli faturalandırma tahsilatı yapma hakkına sahiptir. Sadece rezervasyonu yapılan tedavinin merkezce gerçekleştirilmesi halinde rezervasyon hizmet bedeli ödenir. Hizmet bedeli dışında dialysing.com’a herhangi bir komisyon ödemesi yapmazsınız; bu bedel dışında.. 2021 yılı
                yurtdışı tatil diyalizi rezervasyonu hizmet bedeli 9 Euro’dur ve ilk 3 rezervasyonda hizmet bedeli yoktur. Dialysing.com'a bunun dışında ayırca herhangi bir komisyon veya masraf ödemesi yapmazsınız
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
