<div id="country-main" class="p-5">
  <div class="container">
    <div class="row">
      <div class="title mb-3">
        <h1>Ülke ve Şehirlere Göre Diyaliz Merkezleri</h1>
        <p>Diyalize girmek istediğiniz ülkeyi seçiniz</p>
      </div>
      <div class="accordion mb-3" id="country">
        <div class="accordion-item">
          <h2 class="accordion-header" id="countryOne">
            <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><img src="../user/img/flags/turkey.png" width="35" height="25" alt="Flag Turkey" class="mb-1" /> Türkiye <span class="mx-3">1250 Diyaliz Merkezi</span> <i class="bi bi-chevron-down"></i></button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="countryOne" data-bs-parent="#country">
            <div class="accordion-body">
              <div class="row justify-content-center">
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city"><a href="/clinic/clinic-list">Adana</a> <span>(15)</span></p>
                    <p class="city">Adıyaman <span>(22)</span></p>
                    <p class="city">Afyon <span>(31)</span></p>
                    <p class="city">Ağrı <span>(8)</span></p>
                    <p class="city">Amasya <span>(23)</span></p>
                    <p class="city">Ankara <span>(154)</span></p>
                    <p class="city">Antalya <span>(123)</span></p>
                    <p class="city">Artvin <span>(54)</span></p>
                    <p class="city">Aydın <span>(66)</span></p>
                    <p class="city">Balıkesir <span>(56)</span></p>
                    <p class="city">Bilecik <span>(32)</span></p>
                    <p class="city">Bingöl <span>(19)</span></p>
                    <p class="city">Bitlis <span>(15)</span></p>
                    <p class="city">Bolu <span>(43)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Burdur <span>(15)</span></p>
                    <p class="city">Bursa <span>(15)</span></p>
                    <p class="city">Çanakkale <span>(15)</span></p>
                    <p class="city">Çankırı <span>(15)</span></p>
                    <p class="city">Çorum <span>(15)</span></p>
                    <p class="city">Denizli <span>(15)</span></p>
                    <p class="city">Diyarbakır <span>(15)</span></p>
                    <p class="city">Edirne <span>(15)</span></p>
                    <p class="city">Erzincan <span>(15)</span></p>
                    <p class="city">Erzurum <span>(15)</span></p>
                    <p class="city">Eskişehir <span>(15)</span></p>
                    <p class="city">Gaziantep <span>(15)</span></p>
                    <p class="city">Giresun <span>(15)</span></p>
                    <p class="city">Gümüşhane <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Hakkari <span>(15)</span></p>
                    <p class="city">Hatay <span>(15)</span></p>
                    <p class="city">Isparta <span>(15)</span></p>
                    <p class="city">Mersin <span>(15)</span></p>
                    <p class="city">İstanbul <span>(15)</span></p>
                    <p class="city">İzmir <span>(15)</span></p>
                    <p class="city">Kars <span>(15)</span></p>
                    <p class="city">Kastamonu <span>(15)</span></p>
                    <p class="city">Kayseri <span>(15)</span></p>
                    <p class="city">Kırklareli <span>(15)</span></p>
                    <p class="city">Kırşehir <span>(15)</span></p>
                    <p class="city">Kocaeli <span>(15)</span></p>
                    <p class="city">Konya <span>(15)</span></p>
                    <p class="city">Kütahya <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Malatya <span>(15)</span></p>
                    <p class="city">Manisa <span>(15)</span></p>
                    <p class="city">Kahramanmaraş <span>(15)</span></p>
                    <p class="city">Mardin <span>(15)</span></p>
                    <p class="city">Muğla <span>(15)</span></p>
                    <p class="city">Muş <span>(15)</span></p>
                    <p class="city">Nevşehir <span>(15)</span></p>
                    <p class="city">Niğde <span>(15)</span></p>
                    <p class="city">Ordu <span>(15)</span></p>
                    <p class="city">Rize <span>(15)</span></p>
                    <p class="city">Sakarya <span>(15)</span></p>
                    <p class="city">Samsun <span>(15)</span></p>
                    <p class="city">Siirt <span>(15)</span></p>
                    <p class="city">Sinop <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Sivas <span>(15)</span></p>
                    <p class="city">Tekirdağ <span>(15)</span></p>
                    <p class="city">Tokat <span>(15)</span></p>
                    <p class="city">Trabzon <span>(15)</span></p>
                    <p class="city">Tunceli <span>(15)</span></p>
                    <p class="city">Şanlıurfa <span>(15)</span></p>
                    <p class="city">Uşak <span>(15)</span></p>
                    <p class="city">Van <span>(15)</span></p>
                    <p class="city">Yozgat <span>(15)</span></p>
                    <p class="city">Zonguldak <span>(15)</span></p>
                    <p class="city">Aksaray <span>(15)</span></p>
                    <p class="city">Bayburt <span>(15)</span></p>
                    <p class="city">Karaman <span>(15)</span></p>
                    <p class="city">Kırıkkale <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Batman <span>(15)</span></p>
                    <p class="city">Şırnak <span>(15)</span></p>
                    <p class="city">Bartın <span>(15)</span></p>
                    <p class="city">Ardahan <span>(15)</span></p>
                    <p class="city">Iğdır <span>(15)</span></p>
                    <p class="city">Yalova <span>(15)</span></p>
                    <p class="city">Karabük <span>(15)</span></p>
                    <p class="city">Kilis <span>(15)</span></p>
                    <p class="city">Osmaniye <span>(15)</span></p>
                    <p class="city">Düzce <span>(15)</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion mb-3" id="country">
        <div class="accordion-item">
          <h2 class="accordion-header" id="countryTwo">
            <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><img src="../user/img/flags/ingiltere.jpg" width="35" height="25" alt="Flag Turkey" class="mb-1" /> İngiltere <span class="mx-3">3400 Diyaliz Merkezi</span> <i class="bi bi-chevron-down"></i></button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse collapse" aria-labelledby="countryTwo" data-bs-parent="#country">
            <div class="accordion-body">
              <div class="row justify-content-center">
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Adana <span>(15)</span></p>
                    <p class="city">Adıyaman <span>(22)</span></p>
                    <p class="city">Afyon <span>(31)</span></p>
                    <p class="city">Ağrı <span>(8)</span></p>
                    <p class="city">Amasya <span>(23)</span></p>
                    <p class="city">Ankara <span>(154)</span></p>
                    <p class="city">Antalya <span>(123)</span></p>
                    <p class="city">Artvin <span>(54)</span></p>
                    <p class="city">Aydın <span>(66)</span></p>
                    <p class="city">Balıkesir <span>(56)</span></p>
                    <p class="city">Bilecik <span>(32)</span></p>
                    <p class="city">Bingöl <span>(19)</span></p>
                    <p class="city">Bitlis <span>(15)</span></p>
                    <p class="city">Bolu <span>(43)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Burdur <span>(15)</span></p>
                    <p class="city">Bursa <span>(15)</span></p>
                    <p class="city">Çanakkale <span>(15)</span></p>
                    <p class="city">Çankırı <span>(15)</span></p>
                    <p class="city">Çorum <span>(15)</span></p>
                    <p class="city">Denizli <span>(15)</span></p>
                    <p class="city">Diyarbakır <span>(15)</span></p>
                    <p class="city">Edirne <span>(15)</span></p>
                    <p class="city">Erzincan <span>(15)</span></p>
                    <p class="city">Erzurum <span>(15)</span></p>
                    <p class="city">Eskişehir <span>(15)</span></p>
                    <p class="city">Gaziantep <span>(15)</span></p>
                    <p class="city">Giresun <span>(15)</span></p>
                    <p class="city">Gümüşhane <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Hakkari <span>(15)</span></p>
                    <p class="city">Hatay <span>(15)</span></p>
                    <p class="city">Isparta <span>(15)</span></p>
                    <p class="city">Mersin <span>(15)</span></p>
                    <p class="city">İstanbul <span>(15)</span></p>
                    <p class="city">İzmir <span>(15)</span></p>
                    <p class="city">Kars <span>(15)</span></p>
                    <p class="city">Kastamonu <span>(15)</span></p>
                    <p class="city">Kayseri <span>(15)</span></p>
                    <p class="city">Kırklareli <span>(15)</span></p>
                    <p class="city">Kırşehir <span>(15)</span></p>
                    <p class="city">Kocaeli <span>(15)</span></p>
                    <p class="city">Konya <span>(15)</span></p>
                    <p class="city">Kütahya <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Malatya <span>(15)</span></p>
                    <p class="city">Manisa <span>(15)</span></p>
                    <p class="city">Kahramanmaraş <span>(15)</span></p>
                    <p class="city">Mardin <span>(15)</span></p>
                    <p class="city">Muğla <span>(15)</span></p>
                    <p class="city">Muş <span>(15)</span></p>
                    <p class="city">Nevşehir <span>(15)</span></p>
                    <p class="city">Niğde <span>(15)</span></p>
                    <p class="city">Ordu <span>(15)</span></p>
                    <p class="city">Rize <span>(15)</span></p>
                    <p class="city">Sakarya <span>(15)</span></p>
                    <p class="city">Samsun <span>(15)</span></p>
                    <p class="city">Siirt <span>(15)</span></p>
                    <p class="city">Sinop <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Sivas <span>(15)</span></p>
                    <p class="city">Tekirdağ <span>(15)</span></p>
                    <p class="city">Tokat <span>(15)</span></p>
                    <p class="city">Trabzon <span>(15)</span></p>
                    <p class="city">Tunceli <span>(15)</span></p>
                    <p class="city">Şanlıurfa <span>(15)</span></p>
                    <p class="city">Uşak <span>(15)</span></p>
                    <p class="city">Van <span>(15)</span></p>
                    <p class="city">Yozgat <span>(15)</span></p>
                    <p class="city">Zonguldak <span>(15)</span></p>
                    <p class="city">Aksaray <span>(15)</span></p>
                    <p class="city">Bayburt <span>(15)</span></p>
                    <p class="city">Karaman <span>(15)</span></p>
                    <p class="city">Kırıkkale <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Batman <span>(15)</span></p>
                    <p class="city">Şırnak <span>(15)</span></p>
                    <p class="city">Bartın <span>(15)</span></p>
                    <p class="city">Ardahan <span>(15)</span></p>
                    <p class="city">Iğdır <span>(15)</span></p>
                    <p class="city">Yalova <span>(15)</span></p>
                    <p class="city">Karabük <span>(15)</span></p>
                    <p class="city">Kilis <span>(15)</span></p>
                    <p class="city">Osmaniye <span>(15)</span></p>
                    <p class="city">Düzce <span>(15)</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion mb-3" id="country">
        <div class="accordion-item">
          <h2 class="accordion-header" id="countryThree">
            <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><img src="../user/img/flags/abd.png" width="35" height="25" alt="Flag Turkey" class="mb-1" /> ABD <span class="mx-3">3400 Diyaliz Merkezi</span> <i class="bi bi-chevron-down"></i></button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse collapse" aria-labelledby="countryThree" data-bs-parent="#country">
            <div class="accordion-body">
              <div class="row justify-content-center">
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Adana <span>(15)</span></p>
                    <p class="city">Adıyaman <span>(22)</span></p>
                    <p class="city">Afyon <span>(31)</span></p>
                    <p class="city">Ağrı <span>(8)</span></p>
                    <p class="city">Amasya <span>(23)</span></p>
                    <p class="city">Ankara <span>(154)</span></p>
                    <p class="city">Antalya <span>(123)</span></p>
                    <p class="city">Artvin <span>(54)</span></p>
                    <p class="city">Aydın <span>(66)</span></p>
                    <p class="city">Balıkesir <span>(56)</span></p>
                    <p class="city">Bilecik <span>(32)</span></p>
                    <p class="city">Bingöl <span>(19)</span></p>
                    <p class="city">Bitlis <span>(15)</span></p>
                    <p class="city">Bolu <span>(43)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Burdur <span>(15)</span></p>
                    <p class="city">Bursa <span>(15)</span></p>
                    <p class="city">Çanakkale <span>(15)</span></p>
                    <p class="city">Çankırı <span>(15)</span></p>
                    <p class="city">Çorum <span>(15)</span></p>
                    <p class="city">Denizli <span>(15)</span></p>
                    <p class="city">Diyarbakır <span>(15)</span></p>
                    <p class="city">Edirne <span>(15)</span></p>
                    <p class="city">Erzincan <span>(15)</span></p>
                    <p class="city">Erzurum <span>(15)</span></p>
                    <p class="city">Eskişehir <span>(15)</span></p>
                    <p class="city">Gaziantep <span>(15)</span></p>
                    <p class="city">Giresun <span>(15)</span></p>
                    <p class="city">Gümüşhane <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Hakkari <span>(15)</span></p>
                    <p class="city">Hatay <span>(15)</span></p>
                    <p class="city">Isparta <span>(15)</span></p>
                    <p class="city">Mersin <span>(15)</span></p>
                    <p class="city">İstanbul <span>(15)</span></p>
                    <p class="city">İzmir <span>(15)</span></p>
                    <p class="city">Kars <span>(15)</span></p>
                    <p class="city">Kastamonu <span>(15)</span></p>
                    <p class="city">Kayseri <span>(15)</span></p>
                    <p class="city">Kırklareli <span>(15)</span></p>
                    <p class="city">Kırşehir <span>(15)</span></p>
                    <p class="city">Kocaeli <span>(15)</span></p>
                    <p class="city">Konya <span>(15)</span></p>
                    <p class="city">Kütahya <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Malatya <span>(15)</span></p>
                    <p class="city">Manisa <span>(15)</span></p>
                    <p class="city">Kahramanmaraş <span>(15)</span></p>
                    <p class="city">Mardin <span>(15)</span></p>
                    <p class="city">Muğla <span>(15)</span></p>
                    <p class="city">Muş <span>(15)</span></p>
                    <p class="city">Nevşehir <span>(15)</span></p>
                    <p class="city">Niğde <span>(15)</span></p>
                    <p class="city">Ordu <span>(15)</span></p>
                    <p class="city">Rize <span>(15)</span></p>
                    <p class="city">Sakarya <span>(15)</span></p>
                    <p class="city">Samsun <span>(15)</span></p>
                    <p class="city">Siirt <span>(15)</span></p>
                    <p class="city">Sinop <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Sivas <span>(15)</span></p>
                    <p class="city">Tekirdağ <span>(15)</span></p>
                    <p class="city">Tokat <span>(15)</span></p>
                    <p class="city">Trabzon <span>(15)</span></p>
                    <p class="city">Tunceli <span>(15)</span></p>
                    <p class="city">Şanlıurfa <span>(15)</span></p>
                    <p class="city">Uşak <span>(15)</span></p>
                    <p class="city">Van <span>(15)</span></p>
                    <p class="city">Yozgat <span>(15)</span></p>
                    <p class="city">Zonguldak <span>(15)</span></p>
                    <p class="city">Aksaray <span>(15)</span></p>
                    <p class="city">Bayburt <span>(15)</span></p>
                    <p class="city">Karaman <span>(15)</span></p>
                    <p class="city">Kırıkkale <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Batman <span>(15)</span></p>
                    <p class="city">Şırnak <span>(15)</span></p>
                    <p class="city">Bartın <span>(15)</span></p>
                    <p class="city">Ardahan <span>(15)</span></p>
                    <p class="city">Iğdır <span>(15)</span></p>
                    <p class="city">Yalova <span>(15)</span></p>
                    <p class="city">Karabük <span>(15)</span></p>
                    <p class="city">Kilis <span>(15)</span></p>
                    <p class="city">Osmaniye <span>(15)</span></p>
                    <p class="city">Düzce <span>(15)</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion mb-3" id="country">
        <div class="accordion-item">
          <h2 class="accordion-header" id="countryFour">
            <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><img src="../user/img/flags/almanya.png" width="35" height="25" alt="Flag Turkey" class="mb-1" /> Almanya <span class="mx-3">3400 Diyaliz Merkezi</span> <i class="bi bi-chevron-down"></i></button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse collapse" aria-labelledby="countryFour" data-bs-parent="#country">
            <div class="accordion-body">
              <div class="row justify-content-center">
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Adana <span>(15)</span></p>
                    <p class="city">Adıyaman <span>(22)</span></p>
                    <p class="city">Afyon <span>(31)</span></p>
                    <p class="city">Ağrı <span>(8)</span></p>
                    <p class="city">Amasya <span>(23)</span></p>
                    <p class="city">Ankara <span>(154)</span></p>
                    <p class="city">Antalya <span>(123)</span></p>
                    <p class="city">Artvin <span>(54)</span></p>
                    <p class="city">Aydın <span>(66)</span></p>
                    <p class="city">Balıkesir <span>(56)</span></p>
                    <p class="city">Bilecik <span>(32)</span></p>
                    <p class="city">Bingöl <span>(19)</span></p>
                    <p class="city">Bitlis <span>(15)</span></p>
                    <p class="city">Bolu <span>(43)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Burdur <span>(15)</span></p>
                    <p class="city">Bursa <span>(15)</span></p>
                    <p class="city">Çanakkale <span>(15)</span></p>
                    <p class="city">Çankırı <span>(15)</span></p>
                    <p class="city">Çorum <span>(15)</span></p>
                    <p class="city">Denizli <span>(15)</span></p>
                    <p class="city">Diyarbakır <span>(15)</span></p>
                    <p class="city">Edirne <span>(15)</span></p>
                    <p class="city">Erzincan <span>(15)</span></p>
                    <p class="city">Erzurum <span>(15)</span></p>
                    <p class="city">Eskişehir <span>(15)</span></p>
                    <p class="city">Gaziantep <span>(15)</span></p>
                    <p class="city">Giresun <span>(15)</span></p>
                    <p class="city">Gümüşhane <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Hakkari <span>(15)</span></p>
                    <p class="city">Hatay <span>(15)</span></p>
                    <p class="city">Isparta <span>(15)</span></p>
                    <p class="city">Mersin <span>(15)</span></p>
                    <p class="city">İstanbul <span>(15)</span></p>
                    <p class="city">İzmir <span>(15)</span></p>
                    <p class="city">Kars <span>(15)</span></p>
                    <p class="city">Kastamonu <span>(15)</span></p>
                    <p class="city">Kayseri <span>(15)</span></p>
                    <p class="city">Kırklareli <span>(15)</span></p>
                    <p class="city">Kırşehir <span>(15)</span></p>
                    <p class="city">Kocaeli <span>(15)</span></p>
                    <p class="city">Konya <span>(15)</span></p>
                    <p class="city">Kütahya <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Malatya <span>(15)</span></p>
                    <p class="city">Manisa <span>(15)</span></p>
                    <p class="city">Kahramanmaraş <span>(15)</span></p>
                    <p class="city">Mardin <span>(15)</span></p>
                    <p class="city">Muğla <span>(15)</span></p>
                    <p class="city">Muş <span>(15)</span></p>
                    <p class="city">Nevşehir <span>(15)</span></p>
                    <p class="city">Niğde <span>(15)</span></p>
                    <p class="city">Ordu <span>(15)</span></p>
                    <p class="city">Rize <span>(15)</span></p>
                    <p class="city">Sakarya <span>(15)</span></p>
                    <p class="city">Samsun <span>(15)</span></p>
                    <p class="city">Siirt <span>(15)</span></p>
                    <p class="city">Sinop <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Sivas <span>(15)</span></p>
                    <p class="city">Tekirdağ <span>(15)</span></p>
                    <p class="city">Tokat <span>(15)</span></p>
                    <p class="city">Trabzon <span>(15)</span></p>
                    <p class="city">Tunceli <span>(15)</span></p>
                    <p class="city">Şanlıurfa <span>(15)</span></p>
                    <p class="city">Uşak <span>(15)</span></p>
                    <p class="city">Van <span>(15)</span></p>
                    <p class="city">Yozgat <span>(15)</span></p>
                    <p class="city">Zonguldak <span>(15)</span></p>
                    <p class="city">Aksaray <span>(15)</span></p>
                    <p class="city">Bayburt <span>(15)</span></p>
                    <p class="city">Karaman <span>(15)</span></p>
                    <p class="city">Kırıkkale <span>(15)</span></p>
                  </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6">
                  <div class="row">
                    <p class="city">Batman <span>(15)</span></p>
                    <p class="city">Şırnak <span>(15)</span></p>
                    <p class="city">Bartın <span>(15)</span></p>
                    <p class="city">Ardahan <span>(15)</span></p>
                    <p class="city">Iğdır <span>(15)</span></p>
                    <p class="city">Yalova <span>(15)</span></p>
                    <p class="city">Karabük <span>(15)</span></p>
                    <p class="city">Kilis <span>(15)</span></p>
                    <p class="city">Osmaniye <span>(15)</span></p>
                    <p class="city">Düzce <span>(15)</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
