<head>
  <link rel="stylesheet" href="../user/css/clinic/style.css" />
  <link rel="stylesheet" href="../user/css/clinic/clinic.css" />
  <link rel="stylesheet" href="../user/css/footer.css" />
</head>

<%- include("../../partials/navbar") %>

  <div class="tm-main-content" id="top">
    <!--======= HEADER  =====-->
    <div class="tm-section tm-bg-background clinic-header pb-5" id="tm-section-1">
      <div class="ie-container-width-fix-2">
        <div class="container ie-h-align-center-fix">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 ie-container-width-fix text-left tm-header-content">
              <!-- <div class="inner-content"> -->
              <div class="tm-header-title mt-5">Ücretsiz olarak kliniğinizi sistemimize dahil ederek bizler ile çalışmak
                ister misiniz?</div>
              <div class="tm-header-text">Sizlerde kliniğinizi sistemimize dahil ederek Dialysing.com ailesine katılıp,
                hastalarınıza direkt hizmet vermeye başlayabilirsiniz.</div>
              <a href="/panel/choose-personel" class="pb-5"><button class="btn-second">Merkezinizi Ekleyin</button></a>
            </div>
            <div
              class="col-sm-12 col-md-12 col-lg-4 col-xl-4 banner ie-container-width-fix text-right tm-header-content">
              <img src="../user/img/clinic/Laptop.png" class="clinic-img d-none d-lg-block" alt="Laptop" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--======= CLINIC =====-->
    <div id="section-i" class="tm-bg-white tm-pt-20">
      <div class="container">
        <div class="row d-flex justify-content-center align-item-center">
          <div class="col-sm-10 col-md-10 col-lg-8 col-xl-8 p-5 mt-5">
            <div class="tm-section-title">Merkezimi Neden Dialysing.com'da Listelemeliyim?</div>
            <div class="clinic-content ">
              <div class="col d-flex align-items-start mt-3">
                <img src="../user/img/clinic/icons/visibility.png" class="flex-shrink-0 me-2 mb-2"
                  alt="Visibility Icon" />
                <div>
                  <div class="clinic-text-description">Yüzlerce ülkeden uluslararası tatil diyalizi hastalara
                    çevrimiçi görünürlük ve erişim imkanı</div>
                </div>
              </div>

              <div class="col d-flex align-items-start mt-3">
                <img src="../user/img/clinic/icons/profile.png" class="flex-shrink-0 me-2 mb-2" alt="Visibility Icon" />
                <div>
                  <div class="clinic-text-description">En çok görüntülenen diyaliz merkezlerinin bulunduğu
                    güvenilir platformda kişisel merkez profili</div>
                </div>
              </div>

              <div class="col d-flex align-items-start mt-3">
                <img src="../user/img/clinic/icons/language.png" class="flex-shrink-0 me-2 mb-2"
                  alt="Visibility Icon" />
                <div>
                  <div class="clinic-text-description">Birçok dilde hizmet sunan platformda global olarak
                    hastalarınıza direk randevu imkanı</div>
                </div>
              </div>

              <div class="col d-flex align-items-start mt-3">
                <img src="../user/img/clinic/icons/picture.png" class="flex-shrink-0 me-2 mb-2" alt="Visibility Icon" />
                <div>
                  <div class="clinic-text-description">Merkezinize özel tanıtım sayfanınızı dilediğiniz gibi
                    düzenleyebilme ve ekstra fotoğraflar ekleyebilme imkanı</div>
                </div>
              </div>

              <div class="col d-flex align-items-start mx-2 mt-3">
                <img src="../user/img/clinic/icons/attachment.png" class="flex-shrink-0 me-3 mb-2 mt-2"
                  alt="Visibility Icon" />
                <div>
                  <div class="clinic-text-description">Merkezinize gelecek hastaların diyaliz sürecine kolayca
                    karar verebilmeniz adına özenle düşünülerek belirlenmiş hasta bilgilerine ulaşım imkanı</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--======= DOCTORS =====-->
    <div id="section-ii" class="tm-p-10">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-start">
            <div class="tm-clinic-box">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                  <img src="../user/img/clinic/zeki-malkoc.png" alt="Zeki Malkoc" />
                </div>
                <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 tm-clinic-box-content">
                  <div class="tm-clinic-box-title mx-3">“Mauris proin purus a, aliquet nibh quis et felis cras enim orci
                    diam amet dictum id amet dignissim urna est risus cursus massa nibh odio”</div>
                  <div class="tm-clinic-box-inner">
                    <div class="tm-clinic-box-title mx-3">Dr. M. Zeki Malkoç</div>
                    <div class="tm-clinic-box-text mx-3">Bodrum Diyaliz Merkezi</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-start">
            <div class="tm-clinic-box">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                  <img src="../user/img/clinic/bunyamin-altundal.png" alt="Bunyamin Altundal" />
                </div>
                <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 tm-clinic-box-content">
                  <div class="tm-clinic-box-title mx-3">“Mauris proin purus a, aliquet nibh quis et felis cras enim orci
                    diam amet dictum id amet dignissim urna est risus cursus massa nibh odio”</div>
                  <div class="tm-clinic-box-inner">
                    <div class="tm-clinic-box-title mx-3">Bünyamin Altundal</div>
                    <div class="tm-clinic-box-text mx-3">Diyamer, Bağımsız Diyaliz Merkezleri Derneği, YK Başkanı</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--======= GROW =====-->
    <div id="section-iii" class="tm-p my-5 py-5">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h2 class="tm-section-title">Güveninizle büyüyoruz!</h2>
            <p class="tm-text px-5 pr-5 pe-5">
              Dünya genelindeki 30’dan fazla ülkede yer alan 4.000’den fazla diyaliz merkezi ve kliniği hakkında kendi dilinizde hizmet alarak kolay ve güvenli şekilde diyaliz rezervasyonunuzu <span>Dialysing<span class="com">.com</span></span> ile
              yapabilirsiniz
            </p>
            <div class="tm-center">
              <div class="circle-content mx-2">
                <div class="circle">
                  <img src="../user/img/icons/map.png" alt="Icon Map" />
                </div>
                <div class="clinic-number">30+</div>
                <div class="clinic-prop">Ülke</div>
              </div>
              <div class="circle-content mx-2">
                <div class="circle">
                  <img src="../user/img/icons/language.png" alt="Icon Language" />
                </div>
                <div class="clinic-number">10+</div>
                <div class="clinic-prop">Dil</div>
              </div>
              <div class="circle-content mx-2">
                <div class="circle">
                  <img src="../user/img/icons/hospital.png" alt="Icon Hospital" />
                </div>
                <div class="clinic-number">4000+</div>
                <div class="clinic-prop">Klinik</div>
              </div>
              <div class="circle-content mx-2">
                <div class="circle">
                  <img src="../user/img/icons/hospital-2.png" alt="Icon Hospital 2" />
                </div>
                <div class="clinic-number">8</div>
                <div class="clinic-prop">STK</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======FAQ====== -->
    <div id="section-iv">
      <div class="my-5 tm-p mt-5 mb-5 py-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="tm-section-title mb-3">Sık Sorulan Sorular</div>
          </div>
          <div class="col-sm-10 col-md-10 col-lg-6 col-xl-6 mb-2">
            <div class="form-group">
              <h2 class="accordion-header" id="headingTwo">
                <button class="btn btn-dropdown small dropdown-toggle faq" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Dialysing.com üyeliği
                  ücretli mi?</button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body"><strong>This is the second item's accordion body.</strong> It is hidden by
                  default, until the collapse plugin adds the appropriate classes that we use to style each element.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-10 col-md-10 col-lg-6 col-xl-6 mb-2">
            <div class="form-group">
              <h2 class="accordion-header" id="headingThree">
                <button class="btn btn-dropdown small dropdown-toggle faq" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Merkezim ne zaman
                  online duruma gelecek?</button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body"><strong>This is the third item's accordion body.</strong> It is hidden by
                  default, until the collapse plugin adds the appropriate classes that we use to style each element.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="tm-text">Sorunuza cevap bulamadınız mı?<a href="#">Sık Sorulan Sorular</a> sayfamızı ziyaret edin.</div>
      </div> -->
      </div>
    </div>
    </div>

    <!--======= NEWSLETTER =====-->
    <div id="section-xi" class="tm-bg-dark-blue">
      <div class="container tm-p-4">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="tm-text-white mb-3">Son gelişmelerden ve diyaliz fırsatlarından haberdar olabilmek için mail
              listemize abone olabilirsiniz.</div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
            <div class="form-group bottom blue-input text-center">
              <input name="check-in" type="text" class="form-control" id="inputCheckIn"
                placeholder="dialysing@demo.com.tr" />
              <img src="../user/img/icons/arrow.png" class="mt-0" alt="Icon Arrow" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("../../partials/footer") %>
  </div>
  