<div class="tm-article-box wide">
  <img src="../user/img/articles/articles6.png" alt="Article 6" />
  <div class="tm-article-box-content">
    <a href="/blogs/<%- blog.id  %>">
      <div class="tm-article-title"><%- blog.title  %> </div>
      <div class="tm-article-text"><%- blog.content.substring(0,200)  %>... </div>
    </a>
    <div class="tm-article-date"><i class="fa fa-clock-o"></i> <%- blog.updatedAt.toJSON().slice(0,10)  %>  </div>
  </div>
</div>
