<footer class="tm-bg-dark-blue-second">
  <div class="container footer-top tm-pt-4">
    <div class="row top">
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <a class="f-el tm-margin-b-1 mr-auto logo logo-footer tm-color-white" href="#"> Dialysing<span>.com</span> </a>
        <div class="tm-color-white tm-pb-4">Eleifend eleifend vel lobortis arcu quam mattis sodales turpis ornare at dictumst in</div>
        <div class="social-icons tm-pt-2 tm-pb-4">
          <a href="#" class="icon"><img src="../user/img/socials/facebook.png" alt="Social Facebook" /></a>
          <a href="#" class="icon"><img src="../user/img/socials/instagram.png" alt="Social Instagram" /></a>
          <a href="#" class="icon"><img src="../user/img/socials/linkedin.png" alt="Social Linkedin" /></a>
          <a href="#" class="icon"><img src="../user/img/socials/twitter.png" alt="Social Twitter" /></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
        <div class="row">
          <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <ul class="tm-color-white tm-p-0">
              <li class="f-el tm-f-600 tm-margin-b-1">Destek</li>
              <li>Kadromuz</li>
              <li>Kariyer</li>
              <li>Bloglar</li>
              <li>Güvenlik</li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <ul class="tm-color-white tm-p-0">
              <li class="f-el tm-f-600 tm-margin-b-1">Hizmetler</li>
              <li>Klinik Yönetimi</li>
              <li>Haberler</li>
              <li>Etkinlikler</li>
              <li>Etkinlikler</li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <ul class="tm-color-white tm-p-0">
              <li class="f-el tm-f-600 tm-margin-b-1">Güvenlik</li>
              <li>Kişisel Sözleşmeler</li>
              <li>Gizlilik Sözleşmesi</li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <ul class="tm-color-white tm-p-0">
              <li class="f-el tm-f-600">Abonelikler</li>
            </ul>
            <div class="tm-color-white tm-pb-2 tm-p-0">Son gelişmelerden haberdar olmak için abone olun.</div>
            <div class="form-group bottom footer-input">
              <input name="check-in" type="text" class="form-control" id="inputCheckIn" placeholder="dialysing@demo.com.tr" />
              <img src="../user/img/icons/arrow.png" alt="Icon Arrow" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <p class="copyright col-sm-12 tm-font-light tm-color-white opacity tm-pt-2 tm-pb-4 tm-margin-b-0">
        Copyright &copy;
        <span class="tm-current-year">2021</span>Dialysing.com Designed By Ayhan Fırat Fındıkoğlu
      </p>
    </div>
  </div>
</footer>
