<div class="tm-top-bar" id="tm-top-bar">
  <!-- Top Navbar -->
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg narbar-light">
        <a class="navbar-brand logo mt-3 mb-3" href="/">Dialysing<span>.com</span> </a>
        <a href="#" class="location mt-3 mb-3 mx-1"><i class="bi bi-geo-alt-fill" type="button" class="btn btn-outline-white mx-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i> <span id="location"></span></a>
        <!-- Location Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body select">
                <!-- ülke -->
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <p><b>Ülkenizi Seçin</b></p>
                  </div>
                  <div class="col-md-6 col-xs-6 mb-3">
                    <select id="country" class="form-control">
                      <option value="">-- Ülke --</option>
                    </select>
                  </div>
                </div>
                <!-- end country row -->

                <!-- Şehir -->
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <p><b>Şehrinizi Seçin</b></p>
                  </div>
                  <div class="col-md-6 col-xs-6 mb-3">
                    <select id="region" class="form-control">
                      <option value="">-- İl --</option>
                    </select>
                  </div>
                </div>
                <!-- end şehir row -->

                <!-- ilçe -->
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <p><b>İlçenizi Seçin</b></p>
                  </div>
                  <div class="col-md-6 col-xs-6 mb-3">
                    <select id="city" class="form-control">
                      <option value="">-- İlçe --</option>
                    </select>
                  </div>
                </div>
                <!-- end ilçe row -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ekle</button>
              </div>
            </div>
          </div>
        </div>
        <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="mainNav" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item language-selection mt-3 mb-3">
              <img src="../user/img/flags/turkey.png" alt="Flags Turkey" />
              <div class="tm-form-element tm-form-element-2">
                <select name="language" class="form-control tm-select" id="language">
                  <option value="">Türkçe</option>
                  <option value="1">Ingilizce</option>
                  <option value="2">Almanca</option>
                </select>
              </div>
            </li>
            <li class="nav-item question mt-3 mb-3">
              <!-- <img src="../user/img/icons/question.png" alt="Icons Question" /> -->
              <div class="is-clinic mr-3">Klinik Hesabınız Var Mı?</div>
            </li>
            <% if (user) { %>
              <li class="nav-item buttons mt-3 mb-3 mx-0">
                <a class="nav-link" id="UserDropdown" data-bs-toggle="dropdown" aria-expanded="false"> 
                  <svg class="img-xs rounded-circle" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg></a>
                <div class="dropdown-menu dropdown-menu-right bg-dark navbar-dropdown mt-0 text-white" aria-labelledby="UserDropdown">
                  <div class="dropdown-header"> 
                    <p class="text-white mb-0">Busra Ceval</p>
                    <p class="fw-light text-muted text-white">ceval2772@gmail.com</p>
                  </div> 
                  <a class="dropdown-item mb-2" href="/user"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i>Profil</a> 
                </div>
              </li>
              <% } %>
            <li class="nav-item mt-3 mb-3">
              <% if (!user) { %>
              <a href="/panel/choose-personel" class="nav-link btn-third">Giriş Yap</a>
              <% } %>
              <% if (user) { %>
                <a href="/logout" class="nav-link btn-third">Çıkış Yap</a>
                <% } %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
