<div class="tm-section tm-bg-img min article-background" id="tm-section-1">
  <div class="container">
      <div class="gfr-header">
          <div class="gfr-title">
              GFR Hesaplama
          </div>
          <div class="gfr-text">
              Hesaplama yapılırken serum kreatinini, cinsiyet, yaş ve kilo baz alınır. Yakın zamanda yapılan
              testlerdeki kreatinin değeri biliniyorsa, hesaplama internet üzerinden de yapılabilir.
          </div>
      </div>
  </div>
</div>

<div id="section-i" class="tm-p tm-pt-20">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
              <div class="gfr-calculation">
                  <div class="tm-section-title">GFR Hesap Makinası</div>
                  <form class="tm-form-wide">
                      <div class="row">
                          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                              <div class="form-group">
                                  <label for="age">Yaşınızı Giriniz</label>
                                  <input type="text" class="form-control" id="age" placeholder="Yaşınızı Giriniz">
                              </div>
                          </div>
                          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                              <div class="form-group">
                                  <label for="weight">Kilonuzu Giriniz</label>
                                  <input type="text" class="form-control" id="weight" placeholder="Kilonuzu Giriniz">
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="keratin">Son Kreatin Seviyeniz</label>
                          <input type="text" class="form-control" id="keration" placeholder="Son Kreatin Seviyeniz">
                      </div>
                      <div class="form-group">
                        <label for="job-dropdown" key="gfrGender">Cinsiyetiniz</label>
                        <div class="dropdown select">
                            <select class="btn btn-dropdown dropdown-toggle" type="button" id="cinsiyet-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                                            
                                <option key="gfrGender" selected>Cinsiyetiniz</option>
                                <option value="1" key="gfrWoman">Kadın</option>
                                <option value="2" key="gfrMan">Erkek</option> 
                            </select> 
                          </div>
                          
                    </div>
                      <div class="gfr-button">
                          <button type="button" onclick="hesapla()" class="btn-second">GFR’ımı Hesapla</button>
                      </div>
                  </form>
                  <div class="tm-section-title">Hesaplama Sonucunuz</div>
                  <div class="form-group">
                      <div class="gfr-result">4.41 mL/dak.</div>
                  </div>
                  <div class="gfr-explanation">Hesaplanan gfrniz tahmini olduğundan ve kan kreatinin seviyesinin diğer başka faktörlerden de etkilenebildiğinden GFR ve Böbrek Yetmezliği seviyenizi değerlendirmenizin yapılması için mutlaka doktorunuzla görüşmenizi tavsiye ederiz</div>
                  <div class="tm-section-title">GFR Normalde Kaçtır?</div>
                  <p class="gfr-content-text">Yetişkinler için normal GFR 90'ın üzerindedir. Ancak yaşla birlikte GFR, böbrek hastalığı olmayan kişilerde bile azalmaktadır.</p>
                  <div class="gfr-table">
                      <div class="gfr-table-title">
                          <div>Yaş (Yıl)</div>
                          <div>Ortalama GFR</div>
                      </div>
                      <div class="gfr-table-text">
                          <div>20-39</div>
                          <div>116</div>
                      </div>
                      <div class="gfr-table-text">
                          <div>30-39</div>
                          <div>107</div>
                      </div>
                      <div class="gfr-table-text">
                          <div>40-49</div>
                          <div>99</div>
                      </div>
                      <div class="gfr-table-text">
                          <div>50-59</div>
                          <div>93</div>
                      </div>
                      <div class="gfr-table-text">
                          <div>60-69</div>
                          <div>85</div>
                      </div>
                      <div class="gfr-table-text last">
                          <div>70+</div>
                          <div>75</div>
                      </div>
                  </div>
                  <p class="gfr-content-text">Tahmini GFR'ye göre kronik böbrek hastalığının evreleri
                  </p>
                  <div class="gfr-table bigger">
                      <div class="gfr-table-title">
                          <div class="narrow">Evre</div>
                          <div class="narrow">GFR</div>
                          <div class="wide">Böbrek Fonksiyonu</div>
                      </div>
                      <div class="gfr-table-text narrow">
                          <div class="narrow">Evre 1</div>
                          <div class="narrow">90 ve üzeri</div>
                          <div class="wide">Normal Böbrek Fonksiyonu</div>
                      </div>
                      <div class="gfr-table-text narrow">
                          <div class="narrow">Evre 2</div>
                          <div class="narrow">60 ila 89</div>
                          <div class="wide">Hafif Böbrek Fonksiyonu</div>
                      </div>
                      <div class="gfr-table-text narrow">
                          <div class="narrow">Evre 3</div>
                          <div class="narrow">30 ila 59</div>
                          <div class="wide">Orta Derece Böbrek Fonksiyonu</div>
                      </div>
                      <div class="gfr-table-text narrow">
                          <div class="narrow">Evre 4</div>
                          <div class="narrow">15 ila 29</div>
                          <div class="wide">Ciddi Derece Böbrek Fonsikyonu</div>
                      </div>
                      <div class="gfr-table-text narrow last">
                          <div class="narrow">Evre 5</div>
                          <div class="narrow">15’ten az veya diyaliz</div>
                          <div class="wide">Son Aşama Böbrek Yetmezliği</div>
                      </div>
                  </div>
              </div>
              <div class="gfr-content">
                  <p class="gfr-content-text">KBH'nin erken evrelerinde (1-2) hasta asemptomatiktir, kandaki
                      kreatinin düzeyi normaldir (veya normale yakındır) ve kalan nefronlarda adaptif
                      fonksiyon artışı ile sıvı, asit-baz ve elektrolit dengesi korunur. 
                      <p class="gfr-content-text">Evre 1</p> 
                      1. aşamada, GFR'nin normal olduğu ancak albüminüri (idrarda anormal bir albümin kaybı) gibi böbrek hasarı
                      belirtileri vardır. KBH'nin seyrini yavaşlatmak ve hatta geri döndürmek için tanıyı
                      almak ve tedaviye erken başlamak çok önemlidir.
                  </p>

                  <p class="gfr-content-text">Evre 2</p>

                  <p class="gfr-content-text">Böbrek fonksiyonu ve belirtileri açısından evre 1'e benzer.
                      Kalan nefronlar hala insan vücudunun homeostazını koruyabildiğinden ve herhangi bir
                      semptom olmayabileceğinden KBH'nin ilerlemesini değerlendirmek de önemlidir. Bu aşamada
                      GFR düşüş oranı değerlendirilmelidir. Örneğin, yılda 4 ml/dk'lık bir oran, KBH'nin
                      ilerlemesi geciktirilemiyorsa, hastanın 11 yıl içinde böbrek yetmezliği aşamasına
                      ulaşacağı ve renal replasman tedavisine ihtiyaç duyacağı anlamına gelir.
                  </p>
                  <p class="gfr-content-text">Evre 3</p>

                  <p class="gfr-content-text">Evre 3'te, hastalarda genellikle hiçbir semptom görülmez, ancak
                      SCr, eritropoietin, kalsitriol ve paratiroid hormon seviyeleri anormaldir. Bu orta
                      dereceli böbrek yetmezliği aşamasında, insan homeostazı dengesini kaybetmeye başlar, bu
                      nedenle komplikasyonları (hipertansiyon, anemi, olası kemik hastalığı vb.)
                      değerlendirmek ve tedavi etmek çok önemlidir. Aşama 3 yönetiminin en temel özellikleri
                      şunlardır:
                  </p>
                  <p class="gfr-content-text">Hedef seviye dahilinde kan basıncının sıkı kontrolü: (130 mmhg
                      sistolik ve 80 mmhg diyastolik).
                  </p>
                  <p class="gfr-content-text">Çoğu hasta, bu hedeflenen kan basıncı seviyesine ulaşmak için
                      ikiden fazla ilaca, en önemlisi bir diüretik ve ayrıca bir kalsiyum kanal blokerine
                      ihtiyaç duyacaktır.
                  </p>
                  <p class="gfr-content-text">Tüm KBH'li diyabet hastaları ve albüminürisi olan hastalar için
                      ACE inhibitörleri tercih edilen antihipertansif ilaçlardır. Büyük araştırmalarda
                      bulunduğu gibi, bu ilaç kategorisi, bu özel hasta gruplarında KBH'nin ilerlemesini
                      geciktirebilir.
                  </p>
                  <p class="gfr-content-text">
                      <div>Şeker hastaları için sıkı glisemik kontrol</div>
                      <div>Diyet protein kısıtlaması</div>
                      <div>Sigara bırakma</div>
                      <div>Lipid düşürücü tedavi</div>
                  </p>
                  <p class="gfr-content-text">Evre 4</p>

                  <p class="gfr-content-text">Evre 4 hastalarda anemi, kemik hastalığı, hipertansiyon,
                      kardiyovasküler komplikasyonlar, hipokalsemi, nöropati, yetersiz beslenme,
                      hiperfosfatemi, hiperkalemi, anoreksi ve asidoz gibi semptomlar olabilir. Şiddetli
                      böbrek yetmezliğinin bu aşamasında bir nefroloğa görünmeniz, diyalize başlamanız ve
                      sürece hazırlanmanız önerilir. Diyaliz hakkında bilgi almak için buraya tıklayın.
                  </p>
                  <p class="gfr-content-text">Evre 5 </p>

                  <p class="gfr-content-text">Evre 5 de böbrekler artık fonksiyon yapmıyor, bu nedenle renal
                      replasman tedavisi, yani hemodiyaliz, periton diyalizi veya böbrek nakli gereklidir.
                      Olası semptomlar kardiyovasküler sorunlar, anoreksiya, bulantı veya kusma, dirençli
                      hiperkalemi vb.'dir. Taramanızdan sonra nefroloğunuz ideal ve en etkili tedaviniz
                      hakkında sizinle görüşecektir. Diyaliz süreci hakkında daha fazla bilgi için tıklayın
                  </p>
                  <p class="gfr-content-text">KBH'nin nedeni ne olursa olsun, hastalığın semptomlarının her
                      aşamada benzer olduğunu ve hastalığın ilerlemesini yavaşlatmak için gerekli tüm
                      önlemlerin alınması önemlidir.
                  </p>
                  <p class="gfr-content-text">Doktorlar, KBH'nin herhangi bir aşamasındaki hastalar için ne
                      önerir?
                  </p>
                  <p class="gfr-content-text">Kan basıncının hedef seviyede sıkı kontrolü: (130 mmhg sistolik
                      ve 80 mmhg diyastolik)
                  </p>
                  <p class="gfr-content-text">
                      <div>Şeker hastaları için sıkı glisemik kontrol</div>
                      <div>Sigara bırakma</div>
                      <div>Lipid düşürücü tedavi</div>
                      <div>Düzenli egzersiz</div>
                      <div>Obezite durumunda kilo kaybı</div>
                      <div>Bir nefroloğa düzenli ziyaretler</div>
                      <div>İlaç alımı ve düzenli kan testleri</div>
                  </p>

              </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
              <div class="tm-box-info">
                  <div class="tm-box-top gfr">
                      <img src="../user/img/clinic/attention.png" alt="Attention Icon" />
                      <div class="tm-box-title">GFR Nedir?</div>
                  </div>
                  <div class="tm-box-bottom">
                      <div>
                          Glomerüler filtrasyon hızı (GFR), böbreklerin ne kadar iyi performans gösterdiğini
                          değerlendirmek için kullanılan bir testtir. Glomerüllerden, böbrek küçük
                          filtrelerden, ne kadar kan geçtiğini, yani böbreklerin vücuttaki tüm metabolik atık
                          ürünleri filtreleme ve atma yeteneğini ölçer. GFR muhtemelen böbrek fonksiyonunun ve
                          fonksiyonel kütle değerlendirmesinin en iyi göstergesidir. Tahminler, Kronik Böbrek
                          Hastalığının evresini saptamak, ciddiyetini değerlendirmek ve böbrek yetmezliğindeki
                          ilerlemeyi izlemek için kullanılır. Böbrek hastasının böbrek durumunun net bir resmi
                          elde edildiğinde tedavi yöntemlerine karar verilebilir. Böbrek hastalığı ne kadar
                          erken tespit edilirse, ilerlemesini yavaşlatma şansı da o kadar artar.
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<script>

function hesapla(){
    // var age = document.getElementById("age").value;
    // var weight = document.getElementById("weight").value;
    // var keratin = document.getElementById("keratin").value;

    var cinsiyet = $('#cinsiyet-dropdow :selected');

    console.log(cinsiyet);


    //var gfr = 186 * (Math.pow(keratin,-1.154 )) * (Math.pow(age, -0.203));


//     186 X ([Kreatinin Düzeyi] -1.154*) X ([Yaş] -0.203*) X (0.742 kadın ise; cinsiyet erkek ise aynen (1
// ile çarpılır. )
// *Not : Formülde bulunan 1.154 veya 0.203 değerler üs katsayılardır.

    //alert("Cinsiyet", cinsiyet);
}


</script>