
<div class="tm-background" id="top">
  <div class="tm-top-bar single tm-bg-background" id="tm-top-bar">

        <%- include('../partials/top-navbar')  %>


  </div>
  <div class="tm-section tm-bg-img" id="tm-section-1">
    <div class="ie-container-width-fix-2">
      <div class="container ie-h-align-center-fix">
        <div class="row">
          <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix text-center tm-header-content">
            <div class="tm-header-title">Aradığınız diyaliz merkezini bulun</div>
            <div class="tm-header-text">Diyaliz merkezi bulmanın en hızlı ve en kolay yolu</div>
            <form action="index.html" method="get" class="tm-search-form tm-section-pad-2">
              <div class="form-row tm-search-form-row">
                <div class="form-group tm-form-element">
                  <img src="../user/img/icons/location.png" class="tm-form-element-icon" alt="Icon Location" />
                  <input name="city" type="text" class="form-control first-child" id="inputCity" placeholder="Lokasyon Girin" />
                </div>
                <div class="form-group tm-form-element">
                  <img src="../user/img/icons/calendar.png" class="tm-form-element-icon" alt="Icon Calendar" />
                  <input name="check-in" type="date" class="form-control date" id="inputCheckIn" placeholder="Diyaliz Tarihinizi Seçiniz" />
                  <img src="../user/img/icons/down.png" class="tm-form-element-icon-small icon-down dateicon" alt="Icon Down" />
                </div>
                <div class="form-group tm-form-element">
                  <button type="submit" class="btn btn-primary tm-btn-search"><img src="../user/img/icons/search.png" class="tm-form-element-icon-white" alt="Icon Search" />Diyaliz Bul</button>
                </div>
              </div>
            </form>
            <div class="text-center tm-color-white tm-header-properties">
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-header-inner">
                <img src="../user/img/icons/tick.png" alt="Icons Tick" />
                <div class="tm-header-inner-text">Rezervasyon ücreti yok</div>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-header-inner">
                <img src="../user/img/icons/tick.png" alt="Icons Tick" />
                <div class="tm-header-inner-text">Kredi kartı yok</div>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-header-inner">
                <img src="../user/img/icons/tick.png" alt="Icons Tick" />
                <div class="tm-header-inner-text">Rezervasyon iptal kolaylığı</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="section-ii" class="tm-p tm-pt-20">
  <div class="container">
    <div class="tm-inner-title">
      <div class="tm-section-title">Diyaliz Merkezlerini Keşfedin</div>
      <a href="#" class="tm-show-all-link">Tümünü Görüntüle</a>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="tm-box">
          <img src="../user/img/custom/ankara.png" alt="Custom Ankara" />
          <div class="tm-box-content">
            <div class="tm-box-title">Ankara</div>
            <div class="tm-box-text">300 Diyaliz Merkezi</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="tm-box">
          <img src="../user/img/custom/istanbul-avrupa.png" alt="Custom Istanbul Avrupa" />
          <div class="tm-box-content">
            <div class="tm-box-title">İstanbul - Avrupa</div>
            <div class="tm-box-text">280 Diyaliz Merkezi</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box">
          <img src="../user/img/custom/istanbul-anadolu.png" alt="Custom Istanbul Anadolu" />
          <div class="tm-box-content">
            <div class="tm-box-title">İstanbul - Anadolu</div>
            <div class="tm-box-text">243 Diyaliz Merkezi</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box">
          <img src="../user/img/custom/bursa.png" alt="Custom Bursa" />
          <div class="tm-box-content">
            <div class="tm-box-title">Bursa</div>
            <div class="tm-box-text">223 Diyaliz Merkezi</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box">
          <img src="../user/img/custom/ankara.png" alt="Custom Ankara" />
          <div class="tm-box-content">
            <div class="tm-box-title">Kocaeli</div>
            <div class="tm-box-text">212 Diyaliz Merkezi</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section-iii" class="tm-p">
  <div class="container">
    <div class="tm-inner-title">
      <div class="tm-section-title">Diyalizi Tedaviniz İçin İlham Alın</div>
      <a href="../user/articles/articles.html" class="tm-show-all-link">Tümünü Görüntüle</a>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box">
          <img src="../user/img/custom/dialysis-i.png" alt="Dialysis I" />
          <div class="tm-box-content">
            <div class="tm-box-title">Diyaliz Nedir?</div>
            <div class="tm-box-text">Fermentum tristique egestas elit nulla morbi integer rhoncus quis in quam quis purus eu posuere dui scelerisque urna, turpis senectus</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box">
          <img src="../user/img/custom/dialysis-ii.png" alt="Dialysis II" />
          <div class="tm-box-content">
            <div class="tm-box-title">Diyalizde Beslenme</div>
            <div class="tm-box-text">Faucibus sit libero in bibendum nunc neque, eu eleifend ac quam auctor non ultricies massa</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box">
          <img src="../user/img/custom/dialysis-iii.png" alt="Dialysis III" />
          <div class="tm-box-content">
            <div class="tm-box-title">Böbrek Nakli</div>
            <div class="tm-box-text">Morbi elit vitae pharetra, nam placerat senectus libero non integer senectus nulla molestie ullamcorper massa ante massa vitae congue urna, adipiscing nisl</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="tm-box">
          <img src="../user/img/custom/dialysis-iv.png" alt="Dialysis IV" />
          <div class="tm-box-content">
            <div class="tm-box-title">İstanbulda ki En İyi 5 Diyaliz Merkezi</div>
            <div class="tm-box-text">A est sed nunc, et sagittis, velit scelerisque posuere suspendisse orci hendrerit non sed nascetur ut nunc id blandit at felis, aliquam volutpat nunc arcu ut diam mattis tristique penatibus lobortis scelerisque scelerisque mi orci</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="tm-box">
          <img src="../user/img/custom/dialysis-v.png" alt="Dialysis V" />
          <div class="tm-box-content">
            <div class="tm-box-title">GFR Hesaplama</div>
            <div class="tm-box-text">Eget ut netus aliquet platea auctor volutpat est dictum mattis ac enim eget duis sit a, ac urna, tortor tincidunt mauris adipiscing facilisis ultricies aliquet sit imperdiet non sed lectus</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section-iv" class="tm-p">
  <div class="container">
    <div class="tm-section-title">Favori Tatil Diyalizi Seyahat Noktalarını Keşfedin</div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/antalya-iii.png" alt="Custom Antalya III" />
          <div class="tm-box-content">
            <div class="tm-box-title">Antalya</div>
            <div class="tm-box-text">Akdenizin Mavi İncisi</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/bodrum-iii.png" alt="Custom Bodrum III" />
          <div class="tm-box-content">
            <div class="tm-box-title">Bodrum</div>
            <div class="tm-box-text">Maviye Açılan Yolculuk</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/kusadasi-iii.png" alt="Custom Kusadasi III" />
          <div class="tm-box-content">
            <div class="tm-box-title">Kuşadası</div>
            <div class="tm-box-text">Sahil Boyu Huzur</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/fethiye-iii.png" alt="Custom Fethiye III" />
          <div class="tm-box-content">
            <div class="tm-box-title">Fethiye</div>
            <div class="tm-box-text">Dillere Destan Güzellikler</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="tm-box">
          <img src="../user/img/custom/izmir-iii.png" alt="Izmir III" />
          <div class="tm-box-content">
            <div class="tm-box-title">İzmir</div>
            <div class="tm-box-text">Egenin İncisi</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="tm-box">
          <img src="../user/img/custom/mugla-iii.png" alt="Mugla III" />
          <div class="tm-box-content">
            <div class="tm-box-title">Muğla</div>
            <div class="tm-box-text">Denizin ve Güneşin Tadı</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section-v" class="tm-p">
  <div class="container">
    <div class="tm-section-title">Önerilen Diyaliz Merkezleri</div>
    <div class="row">
      <div class="col">
        <div class="tm-box col-five">
          <img src="../user/img/custom/center-i.png" alt="Custom Center I" />
          <div class="tm-box-content">
            <div class="tm-box-text">Türkmed</div>
            <div class="tm-box-text">Diyaliz Merkezi</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="tm-box col-five">
          <img src="../user/img/custom/center-ii.png" alt="Custom Center II" />
          <div class="tm-box-content">
            <div class="tm-box-text">Sultanbeyli</div>
            <div class="tm-box-text">Diyaliz Merkezi</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="tm-box col-five">
          <img src="../user/img/custom/center-iii.png" alt="Custom Center III" />
          <div class="tm-box-content">
            <div class="tm-box-text">Bodrum</div>
            <div class="tm-box-text">Diyaliz Merkezi</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="tm-box col-five">
          <img src="../user/img/custom/center-iv.png" alt="Custom Center IV" />
          <div class="tm-box-content">
            <div class="tm-box-text">Karşıyaka</div>
            <div class="tm-box-text">Diyaliz Merkezi</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="tm-box col-five">
          <img src="../user/img/custom/center-v.png" alt="Custom Center V" />
          <div class="tm-box-content">
            <div class="tm-box-text">Milas</div>
            <div class="tm-box-text">Diyaliz Merkezi</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section-vi" class="tm-section-gradient tm-p">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="tm-box-with-content">
              <div class="content">“Tatilimizi sağlıklı bir şekilde geçirmemizi sağladıkları için dialysing.com ailesine sonsuz teşekkürler, daima kullanacağımız bir sistem oldu ve bizlerden tam puan aldı. Diyaliz hastalarına tavsiye etmekten asla tereddüt etmeyeceğiz”.</div>
              <div class="tm-profile">
                <img src="../user/img/profiles/profile1.png" alt="Profile 1" />
                <div class="tm-personal-info">
                  <div class="tm-name">Neslihan Çelik</div>
                  <div class="tm-city">İzmir, Konak</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="tm-box-with-content">
              <div class="content">“Memleketime gelirken diyaliz problemimi nasıl çözeceğimi düşünüyordum ve websitenize denk geldim. Bundan sonra dilediğim zaman aklımda hiç soru işareti kalmadan memleketime gelebileceğim için çok mutluyum, iyi ki böyle bir sistem oluşturmuşsunuz”.</div>
              <div class="tm-profile">
                <img src="../user/img/profiles/profile2.png" alt="Profile 2" />
                <div class="tm-personal-info">
                  <div class="tm-name">Berkan Tuğla</div>
                  <div class="tm-city">Amerika, Newyork</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="quote-content">
          <img src="../user/img/icons/quote-top.png" alt="Quote Top" class="quote-icon-top" />
          <div class="inner-content">
            <div class="tm-section-title">Önemli olan sizsiniz ve biz sizler için buradayız.</div>
            <div class="text">Güvenilir uzman kadromuz ve altyapımız ile diyaliz merkezi ve tatil diyalizi lokasyon aramalarınızda hizmetinizdeyiz.</div>
          </div>
          <img src="../user/img/icons/quote-bottom.png" alt="Quote Bottom" class="quote-icon-bottom" />
        </div>
        <div class="profiles">
          <div class="customer-count">167 Mutlu Hasta</div>
          <img src="../user/img/profiles/profile2.png" alt="Profile 2" />
          <img src="../user/img/profiles/profile3.png" class="profile3" alt="Profile 3" />
          <img src="../user/img/profiles/profile4.png" class="profile4" alt="Profile 4" />
          <img src="../user/img/profiles/profile5.png" class="profile5" alt="Profile 5" />
          <img src="../user/img/profiles/profile6.png" class="profile6" alt="Profile 6" />
          <img src="../user/img/profiles/profile7.png" class="profile7" alt="Profile 7" />
          <img src="../user/img/profiles/profile8.png" class="profile8" alt="Profile 8" />
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section-vii" class="tm-p">
  <div class="container">
    <div class="tm-section-title">Beğenilen Diyaliz Merkezleri</div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box">
          <img src="../user/img/custom/liked-i.png" alt="Custom Liked I" />
          <div class="tm-box-content">
            <div class="tm-box-title">Milas Diyaliz Merkezi</div>
            <div class="score">
              <div class="point">5.0</div>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box">
          <img src="../user/img/custom/liked-ii.png" alt="Custom Liked II" />
          <div class="tm-box-content">
            <div class="tm-box-title">Keçiören Diyaliz Merkezi</div>
            <div class="score">
              <div class="point">5.0</div>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="tm-box">
          <img src="../user/img/custom/liked-iii.png" alt="Custom Liked III" />
          <div class="tm-box-content">
            <div class="tm-box-title">Ankara Diyaliz Merkezi</div>
            <div class="score">
              <div class="point">5.0</div>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/liked-vi.png" alt="Custom Liked VI" />
          <div class="tm-box-content">
            <div class="tm-box-title">Türkmed Diyaliz Merkezi</div>
            <div class="score">
              <div class="point">5.0</div>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/liked-v.png" alt="Custom Liked V" />
          <div class="tm-box-content">
            <div class="tm-box-title">Sultanbeyli Diyaliz Merkezi</div>
            <div class="score">
              <div class="point">5.0</div>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/liked-vi.png" alt="Custom Liked VI" />
          <div class="tm-box-content">
            <div class="tm-box-title">Bodrum Diyaliz Merkezi</div>
            <div class="score">
              <div class="point">5.0</div>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="tm-box">
          <img src="../user/img/custom/liked-vii.png" alt="Custom Liked VII" />
          <div class="tm-box-content">
            <div class="tm-box-title">Karşıyaka Diyaliz Merkezi</div>
            <div class="score">
              <div class="point">5.0</div>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section-viii" class="tm-section-gradient tm-p">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
        <div class="tm-section-title">Ücretsiz olarak kliniğinizi sistemimize dahil ederek bizler ile çalışmak ister misiniz?</div>
        <div class="tm-text">
          Sizlerde kliniğinizi sistemimize dahil ederek <span>Dialysing.com</span>
          ailesine katılıp, hastalarınıza direkt hizmet vermeye başlayabilirsiniz.
        </div>
        <div><a class="btn-second">Diyaliz Merkezinizi Ekleyin</a></div>
      </div>
      <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7">
        <img src="../user/../user/img/custom/clinic-page.png" alt="Clinic Page" class="tm-width-100" />
      </div>
    </div>
  </div>
</div>

<div id="section-ix" class="tm-p">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="tm-section-title">Güveninizle büyüyoruz!</h2>
        <p class="tm-text tm-font-semibold">
          40+ ülkede yer alan 10000’nin üzerinde diyaliz merkezi ve kliniğinde, 20+ dilde hizmet alarak kolayca ve güvenli şekilde diyaliz rezervasyonunuzu <span class="tm-color-second tm-font-semibold">Dialysing<span class="tm-color-primary">.com</span></span> ile yapabilirsiniz
        </p>
        <div class="tm-center">
          <div class="circle">
            <img src="../user/img/icons/map.png" alt="Icon Map" />
          </div>
          <div class="circle">
            <img src="../user/img/icons/language.png" alt="Icon Language" />
          </div>
          <div class="circle">
            <img src="../user/img/icons/hospital.png" alt="Icon Hospital" />
          </div>
          <div class="circle">
            <img src="../user/img/icons/hospital-2.png" alt="Icon Hospital 2" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section-x" class="tm-bg-white tm-p">
  <div class="container">
    <div class="row">
      <div class="brands">
        <img src="../user/img/brands/JCI.png" alt="Brand JCI" class="height-100" />
        <img src="../user/img/brands/ISO.png" alt="Brand ISO" class="height-80" />
        <img src="../user/img/brands/sks.png" alt="Brand sks" class="height-100" />
        <img src="../user/img/brands/health.png" alt="Brand health" class="height-80" />
      </div>
    </div>
  </div>
</div>

<div id="section-xi" class="tm-bg-dark-blue">
  <div class="container tm-p-4">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="tm-text-white">Son gelişmelerden ve diyaliz fırsatlarından haberdar olabilmek için mail listemize abone olabilirsiniz.</div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="form-group bottom blue-input text-center">
          <input name="check-in" type="text" class="form-control" id="inputCheckIn" placeholder="dialysing@demo.com.tr" />
          <img src="../user/img/icons/arrow.png" alt="Icon Arrow" />
        </div>
      </div>
    </div>
  </div>
</div>
