<head>
  <link rel="stylesheet" type="text/css" href="../user/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="../user/slick/slick-theme.css" />
  <link rel="stylesheet" type="text/css" href="../user/css/datepicker.css" />
  <link rel="stylesheet" href="../user/css/style.css" />
  <link rel="stylesheet" href="../user/css/footer.css" />
  <link rel="stylesheet" href="../user/css/register/register.css" />
</head>


    <div class="tm-main-content" id="register">

        <% include("../partials/top-navbar-dark") %> 

        <div id="section-i" class="tm-p tm-pt-20 tm-pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center mt-3 mb-2">
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="done">
                                <div class="circle"><img src="../user/img/register/tick.png" alt="Icon Tick" /></div>
                                <div class="text">Tamamlandı</div>
                            </li>
                            <li class="line">
                                <hr>
                            </li>
                            <li class="done">
                                <div class="circle"><img src="../user/img/register/tick.png" alt="Icon Tick" /></div>
                                <div class="text">Tamamlandı</div>
                            </li>
                        </ul> <!-- fieldsets -->
                        <div class="card-register">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../user/img/register/done.png" alt="Icon Done" />
                                    <div class="title">Kayıt İşleminiz Tamamlandı</div>
                                    <a href="" class="sub-menu"><%- email  %> </a>
                                    <p>Mail adresinize gelen aktivasyon linkine
                                        tıklayarak üyeliğinizi tamamladıktan sonra
                                        giriş yapabilirsiniz.</p>
                                    <div class="tm-button-next left">
                                        <a href="../index2.html" class="btn-second">Anasayfa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <%- include("../partials/footer")  %> 
    </div>