<div class="tm-section tm-bg-img min article-background" id="tm-section-1">
  <div class="container">
    <div class="profile">
      <div class="tm-header-title">Böbrek Nakli</div>
      <div class="tm-profile">
        <img src="../user/img/profiles/profile.png" alt="Profile Icon" />
        <div class="tm-profile-content">
          <div class="tm-profile-title">Bu makale Esther Howard tarafından Ağustos 18, 2021 Tarihinde yazıldı.</div>
          <div class="tm-profile-text">Basri Yılmaz tarafından tıbbi olarak gözden geçirildi, onaylandı.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section-i" class="tm-p tm-pt-20">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <div class="tm-box-categories">
          <div class="tm-categories-title">Diyaliz Merkezi Bul</div>
          <form class="tm-form-small">
            <div class="form-group">
              <label for="location">Lokasyon</label>
              <input type="text" class="form-control" id="location" placeholder="Lokasyon" />
            </div>
            <div class="form-group">
              <label for="check-in">Check-in Tarihi</label>
              <input type="date" class="form-control datepicker" id="check-in" placeholder="Check-in Tarihi" />
              <img src="../user/img/icons/down.png" alt="Icon Down" />
            </div>
            <div class="form-group">
              <label for="check-out">Check-out Tarihi</label>
              <input type="date" class="form-control datepicker" id="check-out" placeholder="Check-out Tarihi" />
              <img src="../user/img/icons/down.png" alt="Icon Down" />
            </div>
            <div class="form-group not-border checkbox">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
              <label class="form-check-label selected" for="flexCheckChecked"> Çıkış tarihim belli değil </label>
            </div>
            <button class="btn btn-second wide small">Kayıt Ol</button>
          </form>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <div class="tm-content">
          <div class="tm-article-title">İçindekiler</div>
          <ul>
            <li><a href="">Aenean diam tortor enim condimentum morbi</a></li>
            <li><a href="">Sagittis, porta turpis</a></li>
            <li><a href="">Imperdiet ridiculus nulla egestas commodo at commodo</a></li>
            <li><a href="">Est neque, faucibus morbi enim</a></li>
          </ul>
        </div>
        <div class="tm-single-article">
          <div class="tm-article-title">Böbrek Nakli</div>
          <div class="tm-article-subtitle"></div>
          <p class="tm-article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id odio ac venenatis amet feugiat ut in cras eget. Id accumsan velit, pretium faucibus nibh magna mi. Vel egestas amet, volutpat consequat, nunc eros. Hac ornare quis nisl convallis enim iaculis. Blandit vulputate egestas aliquet sit in.</p>
          <div class="tm-article-subtitle">Posuere sollicitudin</div>
          <p class="tm-article-text">At augue justo urna diam, elit faucibus. Aliquet viverra eu a adipiscing malesuada blandit nunc. Sapien elementum et morbi phasellus orci tincidunt. Elit pellentesque elementum vivamus semper urna. Lorem pulvinar nisi aliquet ultricies id. Netus elit non enim, elit feugiat elementum aliquam viverra. Mauris dictum in cursus leo, curabitur. Est et, pretium volutpat dignissim ultrices tempor eu arcu.</p>
          <p class="tm-article-text">Mi curabitur cursus viverra habitant duis porttitor. Pretium enim tempor eget habitant non auctor urna, feugiat. Vitae, sit scelerisque est blandit auctor enim. Sit facilisi feugiat amet nisi, etiam sed. Gravida lacus lacus id phasellus vitae at sit porta volutpat.</p>
          <p class="tm-article-text">Pulvinar turpis nisl blandit amet. Ornare habitant purus consequat eu massa quisque. Lectus lacus adipiscing id urna, ridiculus egestas pharetra ut. Aliquam ipsum iaculis at sed justo. Amet suspendisse sit eget in odio. Nibh semper ut quam id sagittis fames. Justo, nunc consequat nisl magna diam senectus a. Amet mattis sed venenatis sed vulputate sagittis. Auctor integer mauris ultrices velit commodo eget diam sapien amet.</p>
          <div class="tm-article-subtitle">Dolor Sit Amet</div>
          <p class="tm-article-text">At augue justo urna diam, elit faucibus. Aliquet viverra eu a adipiscing malesuada blandit nunc. Sapien elementum et morbi phasellus orci tincidunt. Elit pellentesque elementum vivamus semper urna. Lorem pulvinar nisi aliquet ultricies id. Netus elit non enim, elit feugiat elementum aliquam viverra. Mauris dictum in cursus leo, curabitur. Est et, pretium volutpat dignissim ultrices tempor eu arcu.</p>
          <p class="tm-article-text">Mi curabitur cursus viverra habitant duis porttitor. Pretium enim tempor eget habitant non auctor urna, feugiat. Vitae, sit scelerisque est blandit auctor enim. Sit facilisi feugiat amet nisi, etiam sed. Gravida lacus lacus id phasellus vitae at sit porta volutpat.</p>
          <p class="tm-article-text">Pulvinar turpis nisl blandit amet. Ornare habitant purus consequat eu massa quisque. Lectus lacus adipiscing id urna, ridiculus egestas pharetra ut. Aliquam ipsum iaculis at sed justo. Amet suspendisse sit eget in odio. Nibh semper ut quam id sagittis fames. Justo, nunc consequat nisl magna diam senectus a. Amet mattis sed venenatis sed vulputate sagittis. Auctor integer mauris ultrices velit commodo eget diam sapien amet.</p>
          <div class="tm-article-subtitle">Do At Augue Justo Urna Diam</div>
          <p class="tm-article-text">At augue justo urna diam, elit faucibus. Aliquet viverra eu a adipiscing malesuada blandit nunc. Sapien elementum et morbi phasellus orci tincidunt. Elit pellentesque elementum vivamus semper urna. Lorem pulvinar nisi aliquet ultricies id. Netus elit non enim, elit feugiat elementum aliquam viverra. Mauris dictum in cursus leo, curabitur. Est et, pretium volutpat dignissim ultrices tempor eu arcu.</p>
          <p class="tm-article-text">Mi curabitur cursus viverra habitant duis porttitor. Pretium enim tempor eget habitant non auctor urna, feugiat. Vitae, sit scelerisque est blandit auctor enim. Sit facilisi feugiat amet nisi, etiam sed. Gravida lacus lacus id phasellus vitae at sit porta volutpat.</p>
          <p class="tm-article-text">Pulvinar turpis nisl blandit amet. Ornare habitant purus consequat eu massa quisque. Lectus lacus adipiscing id urna, ridiculus egestas pharetra ut. Aliquam ipsum iaculis at sed justo. Amet suspendisse sit eget in odio. Nibh semper ut quam id sagittis fames. Justo, nunc consequat nisl magna diam senectus a. Amet mattis sed venenatis sed vulputate sagittis. Auctor integer mauris ultrices velit commodo eget diam sapien amet.</p>
        </div>
        <div class="tm-article-socials">
          <button class="btn btn-second small linkedin">
            <img src="../user/img/icons/linkedin.png" alt="Linkedin Icon" />
            Paylaş
          </button>
          <button class="btn btn-second small twitter">
            <img src="../user/img/icons/twitter.png" alt="Twitter Icon" />
            Paylaş
          </button>
          <button class="btn btn-second small facebook">
            <img src="../user/img/icons/facebook.png" alt="Facebook Icon" />
            Paylaş
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section-ii" class="tm-p">
  <div class="container">
    <div class="tm-last-articles-title">Son Makaleler</div>
    <div class="tm-last-articles">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <a href="">
            <div class="tm-last-articles-subtitle">Lorem Ipsum</div>
            <div class="tm-last-articles-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis, in etiam scelerisque morbi integer a magna.</div>
          </a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <a href="">
            <div class="tm-last-articles-subtitle">Lorem Ipsum</div>
            <div class="tm-last-articles-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis, in etiam scelerisque morbi integer a magna.</div>
          </a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <a href="">
            <div class="tm-last-articles-subtitle">Lorem Ipsum</div>
            <div class="tm-last-articles-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis, in etiam scelerisque morbi integer a magna.</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--=========DIALYSING SUGGESTION POINT=========-->
<div class="my-5" id="center">
  <div class="container">
    <div class="tm-font-semi-small tm-font-semibold mb-2">Yakınlarda Bulunan İlginizi Çekebilecek Diğer Diyaliz Merkezleri</div>

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3 mb-3">
      <div class="col col-five">
        <div class="card">
          <div class="position-relative">
            <img src="../user/img/custom/center-i.png" class="image-fluid card-img-top" width="100%" height="100%" alt="Custom Ankara" />
            <div class="position-absolute bottom-0 start-0 px-2">
              <h5 class="tm-box-title">Türkmed</h5>
              <p class="tm-box-text">Diyaliz Merkezi</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-five">
        <div class="card">
          <div class="position-relative">
            <img src="../user/img/custom/center-ii.png" class="image-fluid card-img-top" width="100%" height="100%" alt="Custom Ankara" />
            <div class="position-absolute bottom-0 start-0 px-2">
              <h5 class="tm-box-title">Sultanbeyli</h5>
              <p class="tm-box-text">Diyaliz Merkezi</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-five">
        <div class="card">
          <div class="position-relative">
            <img src="../user/img/custom/center-iii.png" class="image-fluid card-img-top" width="100%" height="100%" alt="Custom İstanbul - Avrupa" />
            <div class="position-absolute bottom-0 start-0 px-2">
              <h4 class="tm-box-title">Bodrum</h4>
              <p class="tm-box-text">Diyaliz Merkezi</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-five">
        <div class="card">
          <div class="position-relative">
            <img src="../user/img/custom/center-iv.png" class="image-fluid card-img-top" width="100%" height="100%" alt="Custom İstanbul - Anadolu" />
            <div class="position-absolute bottom-0 start-0 px-2">
              <h4 class="tm-box-title">Karşıyaka</h4>
              <p class="tm-box-text">Diyaliz Merkezi</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-five">
        <div class="card">
          <div class="position-relative">
            <img src="../user/img/custom/center-v.png" class="image-fluid card-img-top" width="100%" height="100%" alt="Custom Ankara" />
            <div class="position-absolute bottom-0 start-0 px-2">
              <h4 class="tm-box-title">Milas</h4>
              <p class="tm-box-text">Diyaliz Merkezi</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
