<head>
  <link rel="stylesheet" href="../user/css/style.css" />
  <link rel="stylesheet" href="../user/css/clinic/index.css" />
  <link rel="stylesheet" href="../user/css/footer.css" />
</head>

    <div class="tm-main-content" id="top">
        <div id="section-i" class="tm-p tm-pt-20 tm-pb-20">
            <div class="container">
                <div class="row top">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
                        <form class="tm-form" action="/panel/login" method="POST">
                          <div class="error-handling">
                            <% if (locals.validationErrors != null) { %> <%- include('../partials/error-message') %> <% } %>
                            </div>
                            <div class="form-title text-center">Giriş Yap</div>
                            <div class="form-group">
                              <label for="login-email">Email Adresi</label>
                              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Email Adresiniz">
                            </div>
                            <div class="form-group password">
                              <label for="login-password">Şifrenizi Giriniz</label>
                              <input type="password" class="form-control sifre" id="password" name="password" placeholder="Şifreniz">
                              <img id="degistir" src="../user/img/clinic/svg/show-password.svg" class="mt-1" alt="Icon Arrow" />
                            </div>
                            <button type="submit" class="btn btn-second">Giriş Yap</button>
                            <div class="link">Üyeliğiniz Yok Mu?<a href="/panel/register"> Kayıt Ol</a></div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
