<div class="tm-main-content" id="top">
  <%- include("../partials/navbar") %>

  <!--======= FOLLOW BAR =====-->
  <div id="section-i" class="tm-p-3 tm-pt-20">
    <div class="container">
      <div class="tm-steps">
        <div class="tm-step">
          <img src="../user/img/clinic/icons/completed.png" alt="Icon Completed" />
          Tamamlandı
        </div>
        <div class="tm-step active">
          Ödeme Seçenekleri
          <div class="tm-s-steps">
            <div class="tm-s-step"></div>
            <div class="tm-s-step"></div>
            <div class="tm-s-step active"></div>
            <div class="tm-s-step"></div>
          </div>
        </div>
        <div class="tm-step">Önizleme</div>
      </div>
    </div>
  </div>

  <!--======= PAYMENT =====-->
  <div id="section-ii" class="tm-p-3 tm-pb-20">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="tm-section-title tm-clinic-title">Ödeme İmkanları</div>
          <form class="tm-form-wide">
            <div class="form-box">
              <div class="title">Yurtiçi Hastalar İçin</div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                <label class="form-check-label selected" for="flexCheckChecked"> SGK Anlaşması İle </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                <label class="form-check-label" for="flexCheckChecked"> Banka Sosyal Sigortalı Anlaşması </label>
              </div>
              <div class="inner-checkbox">
                <div class="form-group not-border checkbox">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                  <label class="form-check-label selected" for="flexCheckChecked"> Garanti Bankası </label>
                </div>
                <div class="form-group not-border checkbox">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                  <label class="form-check-label selected" for="flexCheckChecked"> Ziraat Bankası </label>
                </div>
                <div class="form-group not-border checkbox">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                  <label class="form-check-label selected" for="flexCheckChecked"> Akbank </label>
                </div>
                <div class="form-group not-border checkbox">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                  <label class="form-check-label selected" for="flexCheckChecked"> Yapıkredi </label>
                </div>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                <label class="form-check-label" for="flexCheckChecked"> Yeşilkart Sigortası Anlaşması </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                <label class="form-check-label" for="flexCheckChecked"> Özel Sağlık Sigortası İle </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                <label class="form-check-label" for="flexCheckChecked"> Diğer </label>
              </div>
              <div class="form-group explanation">
                <input type="text" class="form-control" id="explanation1" placeholder="Açıklayınız" />
              </div>
            </div>
            <div class="form-box">
              <div class="title">Diyaliz Merkeziniz</div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                <label class="form-check-label selected" for="flexCheckChecked"> Özel Merkez </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                <label class="form-check-label" for="flexCheckChecked"> Kamuya Ait Diyaliz Merkezi </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                <label class="form-check-label" for="flexCheckChecked"> Üniversite Diyaliz Merkezi </label>
              </div>
            </div>
            <div class="form-box">
              <div class="title">Yurtdışı Hastalar İçin</div>
              <div class="form-group not-border checkbox">
                <div class="tm-font-small tm-font-semibold">Merkezinizi yurtdışından gelecek tatil diyalizi rezervasyon taleplerine açmak ister misiniz?</div>
                <label class="tm-switch tm-margin-b-0">
                  <input type="checkbox" checked />
                  <span class="tm-slider tm-round"></span>
                </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
                <label class="form-check-label selected" for="flexCheckChecked"> Yurtdışı Sigortasından Direk Tahsilat </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                <label class="form-check-label" for="flexCheckChecked"> Kredi Kartı İle Tahsilat </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                <label class="form-check-label" for="flexCheckChecked"> Nakit Olarak Seans Sonrası Tahsilat </label>
              </div>
              <div class="form-group not-border checkbox">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
                <label class="form-check-label" for="flexCheckChecked"> Diğer </label>
              </div>
              <div class="form-group explanation">
                <input type="text" class="form-control" id="explanation2" placeholder="Açıklayınız" />
              </div>
            </div>
          </form>
        </div>
        <!--======= INFORMATION CARD =====-->
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <div class="tm-section-title tm-clinic-subtitle mt-2"><a href="./clinic-doctors.html">Bu Adımı Atla</a></div>
          <div class="tm-box-info">
            <div class="tm-box-top">
              <img src="../user/img/clinic/attention.png" alt="Attention Icon" />
              <div class="tm-box-title">Bu adımları atlamanızı önermiyoruz.</div>
            </div>
            <div class="tm-box-bottom">
              <div>Bu bilgileri dilediğiniz gibi sonra doldurabilirsiniz fakat Dialysing.com olarak tüm bilgileri eksiksiz ve sırasıyla doldurmanızı ziyaretçilerinizin dikkatini daha fazla çekebilmeniz adına öneriyoruz</div>
            </div>
          </div>
          <div class="tm-box-info">
            <div class="tm-box-top">
              <img src="../user/img/clinic/attention.png" alt="Attention Icon" />
              <div class="tm-box-title">Ödemeler hangi şekilde ilerlemekte?</div>
            </div>
            <div class="tm-box-bottom">
              <div>Tedavi Ödemeleri hasta veya hastanın Sosyal Güvenlik Kurumu ile merkez arasında faturalama ve tahsilat yapılacak şekilde ilerlemektedir.</div>
              <div>Dialysing.com hiçbir şekilde hastalardan tahsilat işlemi içinde yer almamaktadır.</div>
            </div>
          </div>
          <div class="tm-box-info">
            <div class="tm-box-top">
              <img src="../user/img/clinic/attention.png" alt="Attention Icon" />
              <div class="tm-box-title">Yurtdışından Gelen Tatil Rezervasyonları İçin</div>
            </div>
            <div class="tm-box-bottom">
              <div>
                Dialysing.com merkezimize yurtdışından gelecek olan tatil diyalizi rezervasyonlarından tarafınızca kabul edilerek gerçekleştirilecek olan her bir tatil diyaliz seansı için merkez sözleşmenizde yer alan Hizmet Bedeli faturalandırma tahsilatı yapma hakkına sahiptir. Sadece rezervasyonu yapılan tedavinin merkezce gerçekleştirilmesi halinde rezervasyon hizmet bedeli ödenir. Hizmet bedeli dışında dialysing.com’a herhangi bir komisyon ödemesi yapmazsınız; bu bedel dışında.. 2021 yılı
                yurtdışı tatil diyalizi rezervasyonu hizmet bedeli 9 Euro’dur ve ilk 3 rezervasyonda hizmet bedeli yoktur. Dialysing.com'a bunun dışında ayırca herhangi bir komisyon veya masraf ödemesi yapmazsınız
              </div>
            </div>
          </div>
        </div>
        <!--======= PAGINATION =====-->
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="tm-button-next left">
            <a href="./clinic-services.html" class="btn-forth"><img src="../user/img/icons/left-arrow.png" alt="Icon Left" /></a>
            <a href="./clinic-doctors.html" class="btn-second">Sonraki Adım</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../partials/footer") %>
</div>
