<!--Page header-->
<div class="page-header">
  <div class="page-leftheader">
    <h4 class="page-title">Randevuları Görüntüle</h4>
  </div>
</div>
<!--End Page header-->

<!-- Row -->
<div class="row flex-lg-nowrap">
  <div class="col-12">
    <div class="row flex-lg-nowrap">
      <div class="col-12 mb-3">
        <div class="e-panel card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                  <div class="avatar avatar-lg brround d-block cover-image" data-image-src="../../assets/images/users/7.jpg"></div>
                  <div class="wrapper ml-sm-3 mt-4 mt-sm-0">
                    <p class="mb-0 mt-1 text-dark font-weight-semibold">Denis Rosenblum</p>
                    <p>03.08.2022</p>
                  </div>
                  <div class="float-sm-right ml-auto mt-4 mt-sm-0">
                    <p href="#" class="text-dark d-xl-inline"><small class="text-muted">Türkmed Diyaliz Merkezi</small></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                  <div class="avatar avatar-lg brround d-block cover-image" data-image-src="../../assets/images/users/7.jpg"></div>
                  <div class="wrapper ml-sm-3 mt-4 mt-sm-0">
                    <p class="mb-0 mt-1 text-dark font-weight-semibold">Denis Rosenblum</p>
                    <p>03.08.2022</p>
                  </div>
                  <div class="float-sm-right ml-auto mt-4 mt-sm-0">
                    <p href="#" class="text-dark d-xl-inline"><small class="text-muted">Türkmed Diyaliz Merkezi</small></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                  <div class="avatar avatar-lg brround d-block cover-image" data-image-src="../../assets/images/users/7.jpg"></div>
                  <div class="wrapper ml-sm-3 mt-4 mt-sm-0">
                    <p class="mb-0 mt-1 text-dark font-weight-semibold">Denis Rosenblum</p>
                    <p>03.08.2022</p>
                  </div>
                  <div class="float-sm-right ml-auto mt-4 mt-sm-0">
                    <p href="#" class="text-dark d-xl-inline"><small class="text-muted">Türkmed Diyaliz Merkezi</small></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                  <div class="avatar avatar-lg brround d-block cover-image" data-image-src="../../assets/images/users/7.jpg"></div>
                  <div class="wrapper ml-sm-3 mt-4 mt-sm-0">
                    <p class="mb-0 mt-1 text-dark font-weight-semibold">Denis Rosenblum</p>
                    <p>03.08.2022</p>
                  </div>
                  <div class="float-sm-right ml-auto mt-4 mt-sm-0">
                    <p href="#" class="text-dark d-xl-inline"><small class="text-muted">Türkmed Diyaliz Merkezi</small></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                  <div class="avatar avatar-lg brround d-block cover-image" data-image-src="../../assets/images/users/7.jpg"></div>
                  <div class="wrapper ml-sm-3 mt-4 mt-sm-0">
                    <p class="mb-0 mt-1 text-dark font-weight-semibold">Denis Rosenblum</p>
                    <p>03.08.2022</p>
                  </div>
                  <div class="float-sm-right ml-auto mt-4 mt-sm-0">
                    <p href="#" class="text-dark d-xl-inline"><small class="text-muted">Türkmed Diyaliz Merkezi</small></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                  <div class="avatar avatar-lg brround d-block cover-image" data-image-src="../../assets/images/users/7.jpg"></div>
                  <div class="wrapper ml-sm-3 mt-4 mt-sm-0">
                    <p class="mb-0 mt-1 text-dark font-weight-semibold">Denis Rosenblum</p>
                    <p>03.08.2022</p>
                  </div>
                  <div class="float-sm-right ml-auto mt-4 mt-sm-0">
                    <p href="#" class="text-dark d-xl-inline"><small class="text-muted">Türkmed Diyaliz Merkezi</small></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                  <div class="avatar avatar-lg brround d-block cover-image" data-image-src="../../assets/images/users/7.jpg"></div>
                  <div class="wrapper ml-sm-3 mt-4 mt-sm-0">
                    <p class="mb-0 mt-1 text-dark font-weight-semibold">Denis Rosenblum</p>
                    <p>03.08.2022</p>
                  </div>
                  <div class="float-sm-right ml-auto mt-4 mt-sm-0">
                    <p href="#" class="text-dark d-xl-inline"><small class="text-muted">Türkmed Diyaliz Merkezi</small></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                  <div class="avatar avatar-lg brround d-block cover-image" data-image-src="../../assets/images/users/7.jpg"></div>
                  <div class="wrapper ml-sm-3 mt-4 mt-sm-0">
                    <p class="mb-0 mt-1 text-dark font-weight-semibold">Denis Rosenblum</p>
                    <p>03.08.2022</p>
                  </div>
                  <div class="float-sm-right ml-auto mt-4 mt-sm-0">
                    <p href="#" class="text-dark d-xl-inline"><small class="text-muted">Türkmed Diyaliz Merkezi</small></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                  <div class="avatar avatar-lg brround d-block cover-image" data-image-src="../../assets/images/users/7.jpg"></div>
                  <div class="wrapper ml-sm-3 mt-4 mt-sm-0">
                    <p class="mb-0 mt-1 text-dark font-weight-semibold">Denis Rosenblum</p>
                    <p>03.08.2022</p>
                  </div>
                  <div class="float-sm-right ml-auto mt-4 mt-sm-0">
                    <p href="#" class="text-dark d-xl-inline"><small class="text-muted">Türkmed Diyaliz Merkezi</small></p>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                  <div class="avatar avatar-lg brround d-block cover-image" data-image-src="../../assets/images/users/7.jpg"></div>
                  <div class="wrapper ml-sm-3 mt-4 mt-sm-0">
                    <p class="mb-0 mt-1 text-dark font-weight-semibold">Denis Rosenblum</p>
                    <p>03.08.2022</p>
                  </div>
                  <div class="float-sm-right ml-auto mt-4 mt-sm-0">
                    <p href="#" class="text-dark d-xl-inline"><small class="text-muted">Türkmed Diyaliz Merkezi</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->
