<!--Page header-->
<div class="page-header">
  <div class="page-leftheader">
    <h4 class="page-title">Kullanıcılar</h4>
  </div>
</div>
<!--End Page header-->

<!-- Row -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Kullanıcılar Listesi</div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered text-nowrap" id="example1">
            <thead>
              <tr>
                <th class="wd-15p border-bottom-0">Ad Soyad</th>
                <th class="wd-15p border-bottom-0">Kayıt Tarihi</th>
                <th class="wd-25p border-bottom-0">E-mail</th>
                <th class="wd-25p border-bottom-0">Telefon</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(user => { %>
              <tr>
                <td><%- user.nameSurname  %> </td>
                <td><%- user.createdAt  %> </td>
                <td><%- user.email  %> </td>
                <td><%- user.phone  %> </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/div-->
  </div>
</div>
