<!--Page header-->
<div class="page-header">
  <div class="page-leftheader">
    <h4 class="page-title">Data Tables</h4>
  </div>
  <div class="page-rightheader ml-auto d-lg-flex d-none">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#" class="d-flex"
          ><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
            <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" /></svg
          ><span class="breadcrumb-icon"> Home</span></a
        >
      </li>
      <li class="breadcrumb-item"><a href="#">Tables</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data Tables</li>
    </ol>
  </div>
</div>
<!--End Page header-->

<!-- Row -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Basic DataTable</div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered text-nowrap" id="example1">
            <thead>
              <tr>
                <th class="wd-15p border-bottom-0">First name</th>
                <th class="wd-15p border-bottom-0">Last name</th>
                <th class="wd-15p border-bottom-0">Start date</th>
                <th class="wd-25p border-bottom-0">E-mail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Bella</td>
                <td>Chloe</td>
                <td>2018/03/12</td>
                <td>b.Chloe@datatables.net</td>
              </tr>
              <tr>
                <td>Donna</td>
                <td>Bond</td>
                <td>2012/02/21</td>
                <td>d.bond@datatables.net</td>
              </tr>
              <tr>
                <td>Harry</td>
                <td>Carr</td>
                <td>20011/02/87</td>
                <td>h.carr@datatables.net</td>
              </tr>
              <tr>
                <td>Lucas</td>
                <td>Dyer</td>
                <td>2014/08/23</td>
                <td>l.dyer@datatables.net</td>
              </tr>
              <tr>
                <td>Karen</td>
                <td>Hill</td>
                <td>2010/7/14</td>
                <td>k.hill@datatables.net</td>
              </tr>
              <tr>
                <td>Dominic</td>
                <td>Hudson</td>
                <td>2015/10/16</td>
                <td>d.hudson@datatables.net</td>
              </tr>
              <tr>
                <td>Herrod</td>
                <td>Chandler</td>
                <td>2012/08/06</td>
                <td>h.chandler@datatables.net</td>
              </tr>
              <tr>
                <td>Jonathan</td>
                <td>Ince</td>
                <td>2012/11/23</td>
                <td>j.ince@datatables.net</td>
              </tr>
              <tr>
                <td>Leonard</td>
                <td>Ellison</td>
                <td>2010/03/19</td>
                <td>l.ellison@datatables.net</td>
              </tr>
              <tr>
                <td>Madeleine</td>
                <td>Lee</td>
                <td>20015/8/23</td>
                <td>m.lee@datatables.net</td>
              </tr>
              <tr>
                <td>Karen</td>
                <td>Miller</td>
                <td>2012/9/25</td>
                <td>k.miller@datatables.net</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/div-->
  </div>
</div>
