
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">Borçlular</h4>
      </div>
    </div>
    <!--End Page header-->

    <!-- Row -->
    <div class="row">
      <div class="col-12"> 

        <!--div-->
        <div class="card">
          <div class="card-header">
            <div class="card-title">Ödemesi Alınmayan Klinik Sahipleri</div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="example-1" class="table table-striped table-bordered text-nowrap">
                <thead>
                  <tr>
                    <th class="border-bottom-0">Adı</th>
                    <th class="border-bottom-0">Soyadı</th> 
                    <th class="border-bottom-0">Klinik Adı</th>
                    <th class="border-bottom-0">Bulunduğu  Yer</th> 
                    <th class="border-bottom-0">Giriş Tarihi</th>
                    <th class="border-bottom-0">Ödenmemiş Tutar</th> 
                    <th class="border-bottom-0">E-mail</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Tiger</td>
                    <td>Nixon</td> 
                    <td>Türkmed Diyaliz Merkezi</td> 
                    <td>Edinburgh</td> 
                    <td>2011/04/25</td>
                    <td>$320,800</td> 
                    <td>t.nixon@datatables.net</td>
                  </tr>
                  <tr>
                    <td>Tiger</td>
                    <td>Nixon</td> 
                    <td>Türkmed Diyaliz Merkezi</td> 
                    <td>Edinburgh</td> 
                    <td>2011/04/25</td>
                    <td>$320,800</td> 
                    <td>t.nixon@datatables.net</td>
                  </tr>
                  <tr>
                    <td>Tiger</td>
                    <td>Nixon</td> 
                    <td>Türkmed Diyaliz Merkezi</td> 
                    <td>Edinburgh</td> 
                    <td>2011/04/25</td>
                    <td>$320,800</td> 
                    <td>t.nixon@datatables.net</td>
                  </tr>
                  <tr>
                    <td>Tiger</td>
                    <td>Nixon</td> 
                    <td>Türkmed Diyaliz Merkezi</td> 
                    <td>Edinburgh</td> 
                    <td>2011/04/25</td>
                    <td>$320,800</td> 
                    <td>t.nixon@datatables.net</td>
                  </tr>
                  <tr>
                    <td>Tiger</td>
                    <td>Nixon</td> 
                    <td>Türkmed Diyaliz Merkezi</td> 
                    <td>Edinburgh</td> 
                    <td>2011/04/25</td>
                    <td>$320,800</td> 
                    <td>t.nixon@datatables.net</td>
                  </tr>
                  <tr>
                    <td>Tiger</td>
                    <td>Nixon</td> 
                    <td>Türkmed Diyaliz Merkezi</td> 
                    <td>Edinburgh</td> 
                    <td>2011/04/25</td>
                    <td>$320,800</td> 
                    <td>t.nixon@datatables.net</td>
                  </tr>
                  <tr>
                    <td>Tiger</td>
                    <td>Nixon</td> 
                    <td>Türkmed Diyaliz Merkezi</td> 
                    <td>Edinburgh</td> 
                    <td>2011/04/25</td>
                    <td>$320,800</td> 
                    <td>t.nixon@datatables.net</td>
                  </tr>
                  <tr>
                    <td>Tiger</td>
                    <td>Nixon</td> 
                    <td>Türkmed Diyaliz Merkezi</td> 
                    <td>Edinburgh</td> 
                    <td>2011/04/25</td>
                    <td>$320,800</td> 
                    <td>t.nixon@datatables.net</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--div-->

      </div>
    </div>
    <!-- /Row -->