<div class="card-body page-single-content">
  <div class="w-100">
    <div class="text-center mb-4">
      <span class="avatar avatar-xxl brround" style="background-image: url(../../assets/images/users/16.jpg)"></span>
    </div>
    <span class="m-4 d-none d-lg-block text-center">
      <span class=""><strong>John Thomson</strong></span>
    </span>
    <div class="form-group">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
    </div>
    <a href="index.html" class="btn btn-primary btn-block"><i class="fe fe-arrow-right"></i> Unlock</a>
  </div>
</div>
