<!--Page header-->
<div class="page-header">
  <div class="page-leftheader">
    <h4 class="page-title">Kullanıcıları Düzenleme</h4>
  </div> 
</div>
<!--End Page header-->

<!-- Row -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Kullanıcılar</div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered text-nowrap" id="example1">
            <thead>
              <tr> 
                <th class="wd-15p border-bottom-0">Adı</th>
                <th class="wd-15p border-bottom-0">Soyadı</th> 
                <th class="wd-25p border-bottom-0">Email Adresi</th>
              </tr>
            </thead>
            <tbody> 
              <tr> 
                <td>Bella</td>
                <td>Chloe</td> 
                <td>b.Chloe@datatables.net
                <div class="float-right ml-auto">
                  <div class="btn-group mx-2 mb-0">
                    <a href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#"><i class="fe fe-trash mr-2"></i> Delete</a>
                    </div>
                  </div>
                  </div>
                  </td> 
              </tr>
              <tr>
                <td>Donna</td>
                <td>Bond</td> 
                <td>d.bond@datatables.net
                <div class="float-right ml-auto">
                  <div class="btn-group mx-2 mb-0">
                    <a href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#"><i class="fe fe-trash mr-2"></i> Delete</a>
                    </div>
                  </div> </td>
              </tr>
              <tr>
                <td>Harry</td>
                <td>Carr</td> 
                <td>h.carr@datatables.net
                  <div class="float-right ml-auto">
                    <div class="btn-group mx-2 mb-0">
                      <a href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="fe fe-trash mr-2"></i> Delete</a>
                      </div>
                    </div> 
                    </div>
                </td> 
              </tr>
              <tr>
                <td>Lucas</td>
                <td>Dyer</td> 
                <td>l.dyer@datatables.net
                  <div class="float-right ml-auto">
                    <div class="btn-group mx-2 mb-0">
                      <a href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="fe fe-trash mr-2"></i> Delete</a>
                      </div>
                    </div> 
                </td> 
              </tr>
              <tr>
                <td>Karen</td>
                <td>Hill</td> 
                <td>k.hill@datatables.net                
                  <div class="float-right ml-auto">
                  <div class="btn-group mx-2 mb-0">
                    <a href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#"><i class="fe fe-trash mr-2"></i> Delete</a>
                    </div>
                  </div> </td>
              </tr> 
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/div-->
  </div>
</div>
