<!--Page header-->
<div class="page-header">
  <div class="page-leftheader">
    <h4 class="page-title">Kullanıcıları Düzenleme</h4>
  </div>
</div>
<!--End Page header-->

<!-- Row -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Kullanıcılar</div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered text-nowrap" id="example1">
            <thead>
              <tr>
                <th class="wd-15p border-bottom-0">Ad Soyad</th>
                <th class="wd-25p border-bottom-0">Email Adresi</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(user => { %>
              <tr>
                <td><%- user.nameSurname  %> </td>
                <td>
                  <%- user.email  %> 
                  <div class="float-right ml-auto">
                    <div class="btn-group mx-2 mb-0">
                      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin/delete-user/<%- user._id  %>"><i class="fe fe-trash mr-2"></i> Delete</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/div-->
  </div>
</div>
