<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Dialysing.com</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="../user/font-awesome-4.7.0/css/font-awesome.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../user/css/bootstrap.min.css" />
    <!-- Bootstrap style -->
    <link rel="stylesheet" href="../user/css/style.css" />
    <link rel="stylesheet" href="../user/css/clinic/index.css" />
    <!-- Templatemo style -->
</head>

<body>
    <div class="tm-main-content tm-main-background" id="top">
        

        <%- body %> 

        <%- include('../partials/footer') %>
    </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        let output = document.getElementById('result');
        let distance = document.getElementById('distance');

        function changeValue(value){
        output.innerHTML = `${parseInt(value)}`;
        
        /* If this method is used, it is necessary to develop a transformation method. */ 
        let result = parseInt(value) * 3;
        
        distance.style.marginLeft = `${result}px`;
        }

        changeValue(40);
    </script>
</body>

</html>